[2018-02-17 18:46] Sneezry opened #1 "Provide a way to import encrypted backups from old version"

[2018-02-17 18:48] mymindstorm commented on #1
This should be as simple as giving users instructions on the wiki to paste into notepad and saving the file correctly. Other than that the line in storage.ts blocking imports of encrypted secrets should be removed.

[2018-02-17 18:50] mymindstorm opened #2 "Write documentation"

[2018-02-17 18:56] Sneezry commented on #1
If we remove that line, we have to handle the situation that the current passphrass cannot decrypt the encrypted backup

[2018-02-17 18:56] mymindstorm opened #3 "Reconfigure Crowdin"

[2018-02-17 18:57] Sneezry commented on #1
Maybe the easiest way is to provide a standalone tool to decrypt backup and save it as a JSON file

[2018-02-17 18:59] mymindstorm commented on #1
Or request the password on import before inserting it into storage.

[2018-02-18 13:44] Sneezry opened #5 "Right click to cancel scan qr"

[2018-02-18 17:44] #5 closed

[2018-02-18 18:25] Sneezry opened #6 "Add passphrase into cookie for cache"

[2018-02-19 04:43] #6 closed

[2018-02-19 04:44] Sneezry opened #7 "Highlight matched entry with current url"

[2018-02-19 16:09] mymindstorm opened #8 "Cleanup strings"

[2018-02-19 17:28] mymindstorm opened #10 "Importing backups in firefox doesn't work"
When the file select dialog comes up, it closes the popup and stops processing js.

[2018-02-19 17:34] #7 closed

[2018-02-19 17:40] mymindstorm commented on #10
@Sneezry the best way to handle this would be to use backround.ts, right?

[2018-02-19 17:42] mymindstorm commented on #10
Or wait I could just add entry.ts to the background?

[2018-02-19 17:55] Sneezry commented on #10
Does Firefox close popup when system file dialog shows?

[2018-02-19 17:56] mymindstorm commented on #10
Annoyingly, yes. I'm not sure I can keep it from closing from what I see on MDN.

[2018-02-19 18:01] Sneezry commented on #10
Seems an old bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1292701

background won't help, because if popup closed, we would never receive the file. I have no idea about the workaround about `noautohide` mentioned in that ticket, is it a possible solution in our extension?

[2018-02-19 18:14] mymindstorm opened #12 "Open support link on extension first run / install"
https://github.com/Authenticator-Extension/Authenticator/commit/23e50abd7657add17a5225af2c64835853cacf8f#diff-f91f6f0a2ea2d1a98a57fa85b3672ba8L163

[2018-02-19 18:21] mymindstorm commented on #10
It just has to get the data to storage.ts, which is already loaded in the background so it should be possible to make this work. It closes too fast to make a drag and drop picker work.

As a last resort I could try to either:
- Open a new window to something that handles the files
- [Implement a settings page](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Implement_a_settings_page) jus

[2018-02-19 18:23] mymindstorm commented on #10
`noautohide` is something from the legacy addons system https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/Attribute/panel.noautohide

[2018-02-19 18:27] mymindstorm commented on #12
Either open it to wiki/Chrome-Issues or we could make a wiki/Chrome-welcome page, if there isn't a simple way to differentiate between chrome and firefox you can use [getManifest](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/runtime/getManifest)

[2018-02-19 19:11] Sneezry commented on #12
fixed in https://github.com/Authenticator-Extension/Authenticator/commit/b8a216f64d76c799cf9643a0fcca46d5d073df95

[2018-02-19 19:11] #12 closed

[2018-02-19 20:14] #3 closed

[2018-02-19 23:20] mymindstorm opened #14 "Drag and drop code positions"

[2018-02-20 00:24] mymindstorm opened #15 "Continuous integration"
@Sneezry pretty much all the big CI (travis / circleci) services have a free tier for open source software, do you want me to try to throw something basic together?

Things to test:
- [addons-linter](https://github.com/mozilla/addons-linter)
- gts check
- npm compile

[2018-02-20 01:44] mymindstorm commented on #10
Another bug to keep an eye on: https://bugzilla.mozilla.org/show_bug.cgi?id=1366330

[2018-02-20 01:55] mymindstorm opened #16 "Dropbox backup dialog"
<DO NOT USE THIS TO ASK HOW TO RECOVER LOST ACCOUNTS>
<MORE INFO HERE: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

'Dropbox Token' is missing a zh-cn translation

I don't really understand how to use the dialog past pasting the code into the Dropbox code field. Maybe add some sort of status text and make the token field `readonly` if you aren't supposed to put anythi

[2018-02-20 13:40] Sneezry commented on #14
Drag to sort should already work

[2018-02-20 14:14] mymindstorm commented on #14
Oh it does? I assumed you didn't implement it yet, oops.

[2018-02-20 14:14] #14 closed

[2018-02-20 14:23] Sneezry commented on #16
Usually, token in Chinese is just translated as 'token' (no specific Chinese word).

![snipaste20180220_222145](https://user-images.githubusercontent.com/1621293/36429049-83b1f30e-168c-11e8-8956-ea439747315e.png)

token field is readonly in Chrome, but it doesn't work in Firefox, maybe we need make it disabled.

[2018-02-20 14:26] Sneezry commented on #15
CI is useful, and it would be great if you can set it up :-D

[2018-02-20 14:32] mymindstorm commented on #16
If you are using css you need to add `-moz-user-select: none;` to it, `readonly` is more widely supported iirc

[2018-02-20 14:34] Sneezry commented on #16
I have change the input to disabled, and it works both in Chrome and Firefox now

[2018-02-20 14:41] #16 closed

[2018-02-20 14:55] mymindstorm opened #17 "You can drag past the add code button"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

![image](https://user-images.githubusercontent.com/27789806/36430874-cb68bd3e-161b-11e8-856a-cdc308c8cfc8.png)

[2018-02-20 15:09] Sneezry commented on #17
This bug is really cute XD

[2018-02-20 15:42] Sneezry opened #19 "Read passphrase from localStorage for existing users"
Users checked remember passphrase checkbox in extension may forget password themselves, we should load cached password for them, and remove cached passphrase after they change the passphrase in the next time.

[2018-02-20 15:50] #15 closed

[2018-02-20 18:12] #19 closed

[2018-02-20 18:52] #10 closed

[2018-02-20 19:42] #2 closed

[2018-02-20 19:43] Sneezry opened #23 "Rebase on dev branch"
@mymindstorm do you have any uncommited work after https://github.com/Authenticator-Extension/Authenticator/commit/5458490d13a671878f6f4995ab58ed69ab1de722 ? I will do a rebase on dev branch to fix messed commit line if it is okay.

[2018-02-20 20:18] mymindstorm opened #25 "QR quick scan button is misaligned"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

| ![image](https://user-images.githubusercontent.com/27789806/36446929-70672e02-1648-11e8-8c51-ffefe828cc14.png) | ![image](https://user-images.githubusercontent.com/27789806/36446973-9585a1dc-1648-11e8-875b-e3768afff5e1.png) |
| ------------- | --------

[2018-02-20 20:18] Sneezry commented on #23
Rebase on dev branch finished. If you have problem to sync code on dev branch, try to do as following:

1. `git checkout release`
2. `git branch -D dev`
3. `git checkout dev`
4. `git branch -D release`

[2018-02-20 20:24] Sneezry commented on #25
That is as designed. The misaligned icons are visually aligned.

[2018-02-20 20:24] #25 closed

[2018-02-21 15:12] #1 closed

[2018-02-21 15:13] Sneezry opened #26 "Chrome will open new page to import backups as well"
https://github.com/Authenticator-Extension/Authenticator/commit/d9a754e3815dd79eba2c147e56d9438f4afbfce9

import.html will handle both import from file and old version backup code

[2018-02-21 16:13] Sneezry commented on #26
Also, could you please update docs (https://github.com/Authenticator-Extension/Authenticator/wiki/Old-Backups)? The messed index will be fixed automatically.

[2018-02-21 16:18] #26 closed

[2018-02-21 16:23] Sneezry opened #28 "Is it necessary to translate about info in i18n?"
The about content is just a set of license information, how about move it into popup.html, and just leave it as English?

[2018-02-21 16:25] mymindstorm commented on #28
I actually hid the string from translators already, so it should be fine as-is

[2018-02-21 16:27] #8 closed

[2018-02-21 16:28] Sneezry commented on #28
OK, then I'll move it into HTML

[2018-02-21 16:28] #28 closed

[2018-02-21 16:43] mymindstorm opened #29 "Password cacheing in Firefox does not work"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

[2018-02-21 16:54] Sneezry commented on #29
I cannot repo on my side, could you provide more details how to repo?

https://www.useloom.com/share/3f38da9ce54d497ba58a56c8b809b377

[2018-02-21 17:02] mymindstorm commented on #29
![image](https://thumbs.gfycat.com/SkinnyHelpfulBrownbutterfly-size_restricted.gif)

Secret 1 gets completely replaced by secret 2

[2018-02-21 17:04] Sneezry commented on #29
I'll check if it is a Firefox specific issue

[2018-02-21 17:06] mymindstorm commented on #29
I can repro in chrome

[2018-02-21 17:07] Sneezry commented on #29
Maybe issue related with cookie, I'll test it on my side.

[2018-02-21 17:08] mymindstorm commented on #29
It's not an encryption issue, I retested with completely unencrypted secrets

[2018-02-21 17:10] mymindstorm commented on #29
Secret 1:
[code]
Secret 2:
[code]

[2018-02-21 17:10] mymindstorm commented on #29
Oh wait they have the same hash

[2018-02-21 17:11] mymindstorm commented on #29
I'm using the wrong test data, oops

[2018-02-21 17:18] Sneezry commented on #29
This issue may need to be open...

When passphrase does not match the one used to encrypt data in main storage, the data may overwrite the storage.

import.html reads passphrase from document.cookie, and if document.cookie is empty, import.html will regards that user doesn't encrypt data, and ask storage.ts to read existing unencrypted data to merge - obviously, get no data unencrypted in storage.

[2018-02-21 17:23] mymindstorm commented on #29
You should be able to call `document.cookie` (https://developer.mozilla.org/en-US/docs/Web/API/Document/cookie). If it's giving you trouble you can try to use the webextension cookie api https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/cookies

[2018-02-21 17:26] mymindstorm commented on #29
Shouldn't it be checking if the entries have `encrypted: true` set and not the cookie? If the cookie is correct and `encrypted: true` is set for the codes in storage, only then should it import.

[2018-02-21 17:31] Sneezry commented on #29
I didn't check encryption in import. Import is open from popup, and popup won't open import if the user doesn't provide a valid password. So everything should be okay when import opens. However, it seems we cannot set cookie with document.cookie in Firefox extension:

![snipaste20180222_012609](https://user-images.githubusercontent.com/1621293/36495339-dad4f29c-176f-11e8-8646-f6bab5f678f6.png)

Th

[2018-02-21 17:38] mymindstorm commented on #29
![image](https://user-images.githubusercontent.com/27789806/36495663-9b4dcf6e-16fb-11e8-86c1-745ada408d1a.png)

[2018-02-21 17:41] Sneezry commented on #29
My Firefox version is 58.0.2 (32-bit), how about yours?

[2018-02-21 17:43] mymindstorm commented on #29
I think this is a scope issue. It won't let you assign cookies to the extension url.

[2018-02-21 17:48] Sneezry commented on #29
Ooops, Chrome allows us to set cookie under extension url. Is there a way to cache data temporary in Firefox extension?

[2018-02-21 17:48] mymindstorm commented on #29
We can use `sessionStorage` and it seems to stay after the pop-up is closed since we have background pages.

[2018-02-21 17:49] mymindstorm commented on #29
![image](https://user-images.githubusercontent.com/27789806/36496232-435e6a82-16fd-11e8-9dfb-eb29465a4852.png)

[2018-02-21 17:52] Sneezry commented on #29
background will be killed in idle in Chrome, but it seems Firefox will keep it. It seems sessionStorage is a good solution. I will fix the code.

[2018-02-21 17:56] mymindstorm commented on #29
I'm not sure about this but have you tried to use `cookies.set()`? They might have removed document.cookie to make you use that

https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/cookies/set

[2018-02-21 17:56] Sneezry commented on #29
Do we need ask cached password from background then? It seems seesionStorage doesn't share with the scope.

[2018-02-21 18:05] mymindstorm commented on #29
So it needs to use `sessionStorage` in ffox and `import.html` needs to ask for the users password if current data is encrypted and no cookie is detected if I understand correctly?

[2018-02-21 18:12] Sneezry commented on #29
I just tested with browser.cookies, it works, but some workaround need to do:

1. browser.cookies requires cookies permission
2. browser.cookies does not allow set cookie under extension url, either. So we need to save the password under other url, such as https://127.0.0.1

If we save the password into sessionStorage, we need talk with background. In fact, we needn't save it in sessionStorage, we

[2018-02-21 18:16] mymindstorm commented on #29
I'm partial to saving it as a variable since it looks like other extensions with the right permissions can read our cookies if they want to using [cookies.get()](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/cookies/get) if they know where to look.

[2018-02-21 18:22] Sneezry commented on #29
Yeah, then let's save password in background.

[2018-02-21 18:37] Sneezry commented on #29
This issue should be fixed now.

[2018-02-21 18:39] mymindstorm commented on #29
Confirmed fixed

[2018-02-21 18:39] #29 closed

[2018-02-21 18:55] mymindstorm opened #31 "Release 5.0 Tracker Bug"
Is there anything else major to finish before merging and deploying 5.0.2? I think what we have is pretty solid for a release.

[2018-02-21 19:02] Sneezry commented on #31
We need test it ourselves for days, and then publish a public preview version. The build number may increase fast, and it may be not a release version.

[2018-02-23 16:16] Sneezry opened #33 "Auto focus on passphrase input box"

[2018-02-23 16:33] Sneezry opened #34 "Dropbox setting UI"
Currently we have two buttons in different size on Dropbox setting UI, how about changing the big one into a link and move it next to Dropbox code label?

![snipaste20180224_003112](https://user-images.githubusercontent.com/1621293/36604992-54f8bdde-18fa-11e8-9d14-9befdda21708.png)

[2018-02-23 16:37] Sneezry opened #35 "Add overlay for message and confirm box"

[2018-02-23 16:40] mymindstorm commented on #34
Moving it like that would break from what we are doing with all our other links. I think you should either:

- Move it how you are saying, but change it to use a verb like "Login to Dropbox" or "Get Dropbox Code" to make it more obvious what the button does
- Make the button less obvious by making it's height smaller

[2018-02-23 16:42] mymindstorm commented on #34
I don't really want to break from what we are doing currently with everything else but I  think you are right.

[2018-02-23 16:43] mymindstorm commented on #35
Add overlay? You mean like adding a dark background when the message comes up?

[2018-02-23 16:53] Sneezry commented on #34
how about move it into the input box? https://jsbin.com/femeda

[2018-02-23 16:55] mymindstorm commented on #34
That works perfectly, yay for context

[2018-02-23 16:55] Sneezry commented on #35
Yeah, or just a transparent one. We should disable other interface when message comes up.

[2018-02-23 17:32] #34 closed

[2018-02-23 17:33] #35 closed

[2018-02-23 17:36] #33 closed

[2018-02-23 20:20] mymindstorm opened #36 "l18n strings overflow"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

[2018-02-23 20:31] Sneezry commented on #36
There're still some more work need to do. Some string is missing, such as "Time based". Also, some Russian string is too long, and UI is broken in Russian.

[2018-02-23 20:36] Sneezry commented on #36
![1](https://user-images.githubusercontent.com/1621293/36615707-28d21058-191c-11e8-8c28-92aa8fd8fa0c.png)
![2](https://user-images.githubusercontent.com/1621293/36615708-291276e8-191c-11e8-8e2f-d39fb1b2fd4f.png)
![3](https://user-images.githubusercontent.com/1621293/36615709-295645f8-191c-11e8-80d8-f8a248578918.png)
![4](https://user-images.githubusercontent.com/1621293/36615710-29a123d4-191c-11e8

[2018-02-23 20:44] mymindstorm commented on #36
Time based string was submitted just like that, but if need be we can mark it as untranslated again.

Are you ok with me changing it back to wrapping the text and centering things horizontally? 1e70c0961a63765e81b273087d776a8ea8cda61e

[2018-02-23 20:52] Sneezry commented on #36
Do you mean center align text in menu, like this?

![snipaste20180224_045146](https://user-images.githubusercontent.com/1621293/36616375-7920746c-191e-11e8-9cd0-de4e6f0de4de.png)

[2018-02-23 20:55] mymindstorm commented on #36
No, not at all. With the French translations I had one string that wrapped, and if I remember correctly the icon on the left wasn't horizontally centred, though I'm pretty sure that's fixed now.

[2018-02-23 20:59] Sneezry commented on #36
I just hide the overflow text at https://github.com/Authenticator-Extension/Authenticator/commit/1e70c0961a63765e81b273087d776a8ea8cda61e. If the string is wrapped, some content is out of range in the popup, as we do not provide a scroll bar in settings page.

Current workaround is set a title for every menu entry.

[2018-02-23 21:31] mymindstorm commented on #36
What about this? d2f4c6061f9696730fe2d807453cf7582ad421c2
![image](https://user-images.githubusercontent.com/27789806/36617839-a2601154-18ae-11e8-80e2-c9f50a36bcfd.png)

[2018-02-23 21:32] mymindstorm commented on #36
Obviously the wrapping still needs some work, but the important part is the scroll bar

[2018-02-24 01:25] mymindstorm opened #39 "Signed version of pre-release"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

Just FYI: I've added a signed version of the Firefox build to the pre-release tag. Firefox is a bit more strict on unsigned extensions, so you might not have to create an unlisted version.

[2018-02-24 01:25] #39 closed

[2018-02-24 08:57] Sneezry commented on #36
It should be better to show icons in a separate column

[2018-02-24 09:20] Sneezry opened #40 "Add default font family in import.html"

[2018-02-24 23:48] mymindstorm opened #41 "Merge Japanese translations"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

[2018-02-25 01:06] #41 closed

[2018-02-25 03:12] #40 closed

[2018-02-25 03:17] #36 closed

[2018-02-25 05:42] mymindstorm opened #44 "Message windows need css tweaks"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

Message windows should have a border and like everything else.

[2018-02-25 05:50] mymindstorm commented on #44
It's there, but impossible to see because of the darkened background. I'm not really fond of how dark the thing is, can we make it transparent?

[2018-02-25 05:51] mymindstorm commented on #44
![image](https://user-images.githubusercontent.com/27789806/36638543-80dc9470-19bd-11e8-81d0-c8f78137681a.png)
![image](https://user-images.githubusercontent.com/27789806/36638547-8eb07742-19bd-11e8-8c23-3fb3fa397d88.png)

[2018-02-25 05:54] mymindstorm commented on #44
It's also missing a `border-radius: 2px;`

[2018-02-25 17:11] #44 closed

[2018-02-25 17:13] mymindstorm opened #46 "You can drag even when not in edit mode"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

[2018-02-25 21:13] Sneezry commented on #46
Indeed, but is it a feature ;-P

[2018-02-25 22:38] mymindstorm commented on #46
Okay then

[2018-02-25 22:38] #46 closed

[2018-02-26 03:51] Sneezry opened #47 "_locales/ja/messages.json needs update"

[2018-02-26 18:14] #47 closed

[2018-02-28 10:15] Sneezry opened #52 "Match entry better"
Currently, we check if issuer contains active tab url domain to filter entries. It is too weak. If the issuer is GitHub, then the entry should be filtered when user opens github.com

[2018-03-01 13:27] Sneezry commented on #52
fixed

[2018-03-01 13:27] #52 closed

[2018-03-01 15:40] Sneezry commented on #31
5.0.4 would be a stable version for public, do we still have anything need to do? If all things go ready, maybe we can release 5.0.4 on March 3rd

[2018-03-01 18:02] mymindstorm commented on #31
I don't think so. Before we release, though I would like to test it with
broken data one last time just to be safe. I think I'm also going to add
documentation on what to do when users see a white screen.

On Mar 1, 2018 9:40 AM, "Zhe Li" <notifications@github.com> wrote:

5.0.4 would be a stable version for public, do we still have anything need
to do? If all things go ready, maybe we can release

[2018-03-02 02:25] Sneezry commented on #31
OK, then let's release it later. Do we have white screen issue in current version (5.0.3)?

[2018-03-02 03:19] mymindstorm commented on #31
No issues that I know of, we can release on 3rd, just want to make sure we didn't forget to put a check somewhere. No white screen issues, but if a user runs into that I want them to put logs in the report before asking.

[2018-03-02 03:21] mymindstorm opened #54 "When you have invalid keys in storage downloading backup will include them"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

Downloaded backup:
[code]

`test` key should not be there.

```chrome.storage.sync.set({"test": "test"})``` and download backup to repro

[2018-03-02 03:34] mymindstorm commented on #54
It'll still import just fine so this isn't that important.

[2018-03-02 03:47] Sneezry commented on #54
`delete _data[hash]` before https://github.com/Authenticator-Extension/Authenticator/blob/d9a754e3815dd79eba2c147e56d9438f4afbfce9/src/models/storage.ts#L99

should fix this issue

[2018-03-02 06:44] Sneezry commented on #54
fixed.

[2018-03-02 06:44] #54 closed

[2018-03-03 00:50] mymindstorm commented on #31
Give [wiki/Getting-Debugging-Information ](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information) to anyone you need to get to give logs.

[2018-03-03 11:29] Sneezry commented on #31
@mymindstorm Please create 5.0.4 release from release branch

[2018-03-03 17:49] mymindstorm commented on #31
Done

[2018-03-03 17:49] #31 closed

[2018-03-03 22:24] mymindstorm opened #57 "Updating firefox version clears codes"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

Version disabled, investigating cause.

[2018-03-03 22:33] mymindstorm commented on #57
![image](https://user-images.githubusercontent.com/27789806/36939993-e114b354-1eef-11e8-9c71-14ec09457fad.png)

[2018-03-03 22:38] mymindstorm commented on #57
This didn't happen to my personal data for some reason?

[2018-03-04 04:33] Sneezry opened #62 "Add test case"

[2018-03-04 09:29] MihaVector opened #63 "Setting non-standard characters in account fields breaks extension"
Why when I try to open the program can only see a white window, and the codes do not appear?

[2018-03-04 10:48] Sneezry commented on #63
Hi @MihaVector , this is a known issue in 5.0.4, your data is safe, please DON'T reinstall the extension, or your data will be removed, and no one can help you. I will tell you how to fix the issue.

1. open the popup page, right click and select Inspect

<img width="344" alt="screen shot 2018-03-04 at 18 38 44" src="https://user-images.githubusercontent.com/1621293/36944630-9fbf2898-1fdb-11e8-986

[2018-03-04 13:12] krabiki commented on #63
Hello, I too have this problem "white window". How can I fix it on Firefox ?

[2018-03-04 14:05] Sneezry commented on #63
@mymindstorm Could you please help @krabiki for firefox issue?

[2018-03-04 14:57] Sneezry commented on #63
@MihaVector Could you please post the console screenshot? It's the window opened after you click inspect on popup

[2018-03-04 15:07] Sneezry commented on #63
@MihaVector Also, what can you see when you open

`chrome-extension://bhghoamapcdpbohphigoooaddinpkbai/import.html` in browser? Is it blank as well?

[2018-03-04 18:53] mymindstorm opened #64 "White window issue"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

@krabiki can you follow the steps [here](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information#firefox) then open the extension and go to the "white window". Copy and paste any console messages here.

Also, when does

[2018-03-04 18:56] mymindstorm commented on #63
@Sneezry a white extension window appears on an exception, likely some form of malformed data we didn't check against.

@krabiki please [follow these steps](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information) and give us a screenshot of that window.

[2018-03-04 19:01] #57 closed

[2018-03-04 21:54] MihaVector commented on #63
@mymindstorm
![2](https://user-images.githubusercontent.com/22991137/36951038-af4ff718-200f-11e8-9ddc-22f4b82c00a6.png)

[2018-03-04 21:56] MihaVector commented on #63
@Sneezry Yes, when I go over this link, I only see the white background

[2018-03-04 22:03] mymindstorm commented on #63
@Sneezry reproduce by setting a sting like `✓ à la mode` in the issuer.

Affected lines:
https://github.com/Authenticator-Extension/Authenticator/blob/3b086a9545389d7ac26b12163befcc34179029d6/src/ui/entry.ts#L55-L61

@MihaVector do you use any non-standard characters to name any of your codes?

[2018-03-04 22:31] MihaVector commented on #63
@mymindstorm Like no, I used only letters of the Latin alphabet

[2018-03-04 22:57] mymindstorm commented on #63
@MihaVector paste this into the bottom of the console window you opened:
[code]
Does it error with `InvalidCharacterError`?

Now enter this into your console:
[code]
Did it error? (don't paste what it returns if it is successful!)

[2018-03-04 23:05] MihaVector commented on #63
Yes, after the first command issued "InvalidCharacterError". And when I introduced second, has now issued:
eyIzN2E3NzE5ZDk3OTExMzIzOTUxNWVhMGI1NWE0NDRmNSI6eyJhY2NvdW50Ijoia2Jpc2Vyb3YtZGVtb24yMDE0QHlhbmRleC5ydSIsImhhc2giOiIzN2E3NzE5ZDk3OTExMzIzOTUxNWVhMGI1NWE0NDRmNSIsImluZGV4IjoxLCJpc3N1ZXIiOiLQntGCJm5ic3A70LDQutC60LDRg9C90YLQsCZuYnNwO9C+0LTQvdC+0LrQu9Cw0YHRgdC90LjQutC+0LIiLCJzZWNyZXQiOiJCR0E0IDdWT

[2018-03-04 23:14] mymindstorm commented on #63
I've removed what you pasted, those were your secrets. Next time, please listen to me about not pasting things.

Thanks for the info, we will push an update soon to fix the issue.

[2018-03-04 23:17] MihaVector commented on #63
@mymindstorm Sorry, I'm just from Russia, you're hard to understand with an online translator

[2018-03-04 23:19] mymindstorm commented on #63
It's ok, I should have been more clear. You should change your secrets since you posted them though.

[2018-03-04 23:23] MihaVector commented on #63
@mymindstorm I was kind of messing with secrets.

[2018-03-04 23:37] MihaVector commented on #63
@mymindstorm I take it you fixed something, but I still have a white window

[2018-03-04 23:38] mymindstorm commented on #63
The update still needs to be reviewed and pushed to users. I'll give you instructions on how to update when it is released.

[2018-03-04 23:44] MihaVector commented on #63
@mymindstorm Thank you for the information

[2018-03-05 02:18] krabiki commented on #64
Hello again, my "white window" means that i cant authorize in authenticator. It wants  QR code, but I dont have one.

![123123](https://user-images.githubusercontent.com/37041721/36954499-87f33a94-2033-11e8-8cb2-28bba19cee3a.png)

Here is console info -

Unchecked lastError value: Error: No matching message handler ExtensionCommon.jsm:407
TypeError: Argument 1 of PrecompiledScript.executeInGlobal

[2018-03-05 02:21] mymindstorm commented on #64
Are you on version 5.0.4? If so go to `chrome://extensions`, check "Developer Mode", and then click "Update Extensions Now" and confirm that Authentiactor is 5.0.5
![image](https://user-images.githubusercontent.com/27789806/36954746-9faa38c6-1fe9-11e8-803c-9c31b152b67e.png)

[2018-03-05 02:25] mymindstorm commented on #64
For Firefox go to `about:addons`, click the gear, and then "check for updates"
![image](https://user-images.githubusercontent.com/27789806/36954820-29800508-1fea-11e8-98d1-185be49167c9.png)

[2018-03-05 02:29] #63 closed

[2018-03-05 03:41] mymindstorm commented on #63
@MihaVector version 5.0.6 has fix and is available from the web store, follow [these instructions](https://github.com/Authenticator-Extension/Authenticator/issues/64#issuecomment-370291688) to update.

[2018-03-05 03:57] krabiki commented on #64
Ohh ty man, it worked ) I thought if i update aplication all data will be lost.

[2018-03-05 03:59] mymindstorm commented on #64
Nope, if you remove in chrome you lose application data, but that dosen't seem to be case for firefox. Usually it updates automatically in the background, so you wouldn't notice most of the time.

[2018-03-05 03:59] #64 closed

[2018-03-05 06:27] AMND3110 commented on #64
Hi @mymindstorm, I also met the issue "white window". Then, I removed app and re-
 installed new it. But when re-opening pop up, I still get "white window"
![white window](https://user-images.githubusercontent.com/36392748/36960224-900f7e5a-2078-11e8-9eee-f4a93405d790.PNG)
Do you have any idea to get the lose application data? please help me

[2018-03-05 06:27] mymindstorm commented on #64
@AMND3110 what version are you using?

[2018-03-05 06:31] AMND3110 commented on #64
version 5.0.5
![version](https://user-images.githubusercontent.com/36392748/36960402-758194b4-2079-11e8-88b5-45f6efebe55b.PNG)

[2018-03-05 06:32] mymindstorm commented on #64
@AMND3110 [follow these steps](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information#chrome)

[2018-03-05 20:12] MihaVector commented on #63
@mymindstorm Thanks for the update, is no longer an issue, I can see again your code, and not the white box.

[2018-03-07 15:56] Benelux11 commented on #64
I have version 5.0.5 Now I have a white window. I press the "update" button, but nothing happens.

[2018-03-07 18:02] mymindstorm commented on #64
@Benelux11 are you using Firefox or chrome?

[2018-03-07 19:15] Benelux11 commented on #64
i'm using chrome

[2018-03-07 22:22] mymindstorm commented on #64
@Benelux11 try to use the update menu button again, then reboot and see if you have 5.0.6. If that does not work, then follow these steps:

1. Open the popup page, right click and select "Inspect"

<img width="344" alt="screen shot 2018-03-04 at 18 38 44" src="https://user-images.githubusercontent.com/1621293/36944630-9fbf2898-1fdb-11e8-9869-4ad187e1f2b0.png">

2. In the new window click the conso

[2018-03-08 04:23] nawaf4 commented on #62
860791

[2018-03-08 06:47] Benelux11 commented on #64
У меня есть 16-значный ключ. Почему я не могу просто удалить расширение, а
затем переустановить его. И заново установите 16-значный ключ?

2018-03-08 0:23 GMT+02:00 mymindstorm <notifications@github.com>:

[2018-03-08 06:48] Benelux11 commented on #64
I have a 16-digit key. Why can not I just delete the extension, and then reinstall it. And re-tie the 16-digit key?

[2018-03-08 16:08] mymindstorm commented on #64
If you mean "16-digit key" as in the same secret you used to add the codes, then yes you can do it that way. The important part is reinstalling to force an update, you can re-add your codes however you want.

[2018-03-09 08:47] Sneezry opened #68 "Auto release with Travis"

[2018-03-09 13:36] adsactly commented on #63
Horrible issue it says I have some keys that Encrypted and some that are not how is that possible I only set the one password. But I think the new version had me enter a password and I think I screwed EVERYTHING Up by entering a different one I thought it wanted a different password?

[2018-03-09 13:47] adsactly commented on #64
We are already on Version 5.0.6 and our Issue is WORSE now we can unencrypt all our secrets, Secrets are duplicated multiple times, some of our secrets are encrypted some are not, We think we have 2 passphrases but how could this be possible. It should have a error saying you have password already instead of setting 2 this is BIG MESS we hope you guys can help fix this.

[2018-03-09 13:58] adsactly commented on #63
We have tried everything please HELP we are freaking out now :(

[2018-03-09 14:14] Sneezry commented on #64
@adsactly What can you see in Console? You can get it by following https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information

[2018-03-09 14:27] Sneezry commented on #64
@adsactly Also, what is the output when you run

[code]

in Console? Your secrets have been removed by the script.

[2018-03-09 15:16] Sneezry commented on #62
Missing fields

[code]

[2018-03-09 15:17] Sneezry commented on #62
Bad hash in key

[code]

[2018-03-09 15:17] Sneezry commented on #62
Bad hash

[code]

[2018-03-09 15:19] Sneezry commented on #62
Bad type for HEX

[code]

[2018-03-09 15:20] Sneezry commented on #62
Unicode in issuer

[code]

[2018-03-09 15:21] Sneezry commented on #62
Battle migrate

[code]

[2018-03-09 15:28] Sneezry commented on #62
Steam migrate

[code]

[2018-03-09 15:39] Sneezry commented on #62
Missing field with HEX secret

[code]

[2018-03-09 15:46] Sneezry commented on #62
Mess index

[code]

[2018-03-09 15:49] adsactly commented on #64
OK That didn't fix the issue. I think when we typed an invalid password once we made things even worse :(

[2018-03-09 16:09] adsactly commented on #64
OK We Imported the Old Backup from a few months back which doesn't have all the keys we added recently but it will have to do. It looks like its working now with the latest version none of the entries showed up Encrypted or Invalid.

However this was done on Sandbox Chrome where would we find the Data that we need to copy over to our main installation of Chrome is it in the Appdata Local or Roamin

[2018-03-09 16:36] adsactly commented on #64
@sneery did you want us to post the output that we got when we pasted the command in the console that you asked us to do?

[2018-03-09 16:48] adsactly commented on #64
OK We were able to fix the issue by removing the app from our main chrome and importing the backup.json file which is a new feature and we have to say we LOVE it!

Only issue is a few codes are missing because this was an older backup I guess we can try manually adding them but it looks like with the new version 5.0 its not as easy to add new codes from old backups.

[2018-03-09 17:56] mymindstorm commented on #62
I don't think there is a way to test like this in chrome without pain. We can test using Firefox using [this](https://docs.travis-ci.com/user/firefox) to install the browser and [web-ext](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/web-ext_command_reference) + a testing script (--start-url or [node api](https://github.com/mozilla/web-ext/blob/master/README.md#using-web-ext-in-nodejs-

[2018-03-09 18:06] mymindstorm commented on #68
I can deploy using web-ext, but is there a way to automatically deploy to the chrome web store?

We will need to [limit deployment to release branch](https://docs.travis-ci.com/user/deployment#Conditional-Releases-with-on%3A) and [encrypt deploy keys](https://docs.travis-ci.com/user/encryption-keys/)

[2018-03-09 18:58] Sneezry commented on #62
I just added test.html, and we can do test before release to web store.

[2018-03-09 18:58] Sneezry commented on #64
@adsactly I'm very sorry for troubles we take to you. v4 was written in 2014 when I was in school, and its code is too dirty to maintain.

I want to refine the extension more than one year ago, and I did it at the beginning of 2018.

I and @mymindstorm do have many tests before release new version, however, this extension has only two developers, but about 300k users.

We pushed v5.0.4, v5.0.5 and

[2018-03-09 19:02] Sneezry commented on #68
I do not think we should make it auto release to stores. Auto release here means on GitHub.

[2018-03-09 19:03] mymindstorm commented on #68
That's easier, I can handle auto tagging.

[2018-03-10 02:37] FirmanTaufik commented on #64
i try to paste

 but doesnot work... conseole dosnot show anything... i worried what will happen on my bitcoin wallet... i cant login sofar
![image](https://user-images.githubusercontent.com/25864767/37237511-a75f1a08-2446-11e8-9597-e4fa6f08fade.png)

[2018-03-10 02:44] mymindstorm commented on #64
@FirmanTaufik did you reinstall the extension? What version are you using?

Whatever the case, if that command shows nothing your data is gone. Restore from a backup if you have one. If you do not have a backup [follow these instructions](https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes)

[2018-03-10 02:47] Rictusempra opened #70 "Base32 padding (=) processed as Invalid"
Actually, a lot of site will generate such tokens with (=), e.g. Amazon, Dropbox, Vultr. I'm pretty sure there will be more.

[2018-03-10 02:52] FirmanTaufik commented on #64
good idea.... maybe i should try it.. but if i wanna use this Google Authenticator is it will work for further?? cause any website asking the code when register..

[2018-03-10 02:52] mymindstorm commented on #70
Just regenerated codes for Amazon and Dropbox, they do not format their secrets like that. Can you give us a secret that you couldn't add so we can reporduce?

[2018-03-10 02:53] mymindstorm commented on #64
@FirmanTaufik I would really appreciate it if you could give me your extension version.

[2018-03-10 02:59] FirmanTaufik commented on #64
i think this is newest  5.0.6 my Google Crome say it...
![image](https://user-images.githubusercontent.com/25864767/37237699-aed06ffa-2449-11e8-8797-72111977c197.png)

[2018-03-10 03:17] Rictusempra commented on #70
I will give you one tonight as I am out now

[2018-03-10 07:38] Rictusempra commented on #70
@mymindstorm @Sneezry
check this (from Dropbox):
`DKCE3SQPHJRJQGBGI322QA7Z5E======`

Actually those equal symbols will only occur when you scan the QR code but not if you demand a text token.
Although I'm confident enough manually remove them won't cause issue but neither your wiki mention this nor your extension trim them. Users can get really confused when they are trying to import tokens manual

[2018-03-10 07:39] Rictusempra opened #71 "Edit secret token after adding code"

[2018-03-10 07:41] Rictusempra opened #72 "Add issuer field to manual add screen"
![image](https://user-images.githubusercontent.com/16912240/37239576-4ddfb5cc-2479-11e8-83ee-1a4fab3947ab.png)

Here, there shall be fields for both issuer & account name

[2018-03-10 07:45] Rictusempra opened #73 "Fill via Context Menu"
I'm sure WebExt can add a costumed context menu in Firefox but I'm not sure about Chrome/Chromiums

[2018-03-10 08:11] mymindstorm commented on #73
This is possible in Chrome and Firefox. I'm not sure about the overhead though. To do this we would need to inject a script into every webpage, not just when we need to have the qr scanned. This means that it would have to be loaded in memory 24/7 making using event pages pointless. How should it handle site conflicts if this were implemented? I think we would end up with close to the same amount

[2018-03-10 08:14] mymindstorm commented on #71
I don't really understand what this one is about. Do you want to be able to change the secret for a code after you add it?

[2018-03-10 08:16] Rictusempra commented on #71
Exactly

[2018-03-10 08:19] mymindstorm commented on #72
I think this one is intentional since it would be a bit confusing for new users. "Account" and "Issuer" are a bit ambiguous.

[2018-03-10 08:21] Rictusempra commented on #72
Why not change it to `Account name` just like Yubioath Authenticator

[2018-03-10 08:22] Sneezry commented on #70
This would be Base32 bug on our side. I just checked RFC, there 5 cases about padding: no padding, six padding, four padding, three padding and one padding. https://tools.ietf.org/html/rfc4648#section-6

I will fix this issue sooner, thanks @Rictusempra

[2018-03-10 08:23] mymindstorm commented on #72
Now that I think about it we should have used that or `Username`.

[2018-03-10 08:33] mymindstorm commented on #72
We actually already have a string for `accountName` with translations, will change that from account later.

[2018-03-10 09:18] Sneezry commented on #71
Why not just add a new one?

[2018-03-10 09:47] Rictusempra commented on #71
Because I will have to rewrite issuers & account name in that case.
 This save many clicks when you have new tokens or try to import manually

[2018-03-10 10:08] Sneezry commented on #71
But what if you change it by mistake? Safe and convenience, I prefer the first.

[2018-03-10 10:38] Rictusempra commented on #71
@Sneezry  sure. I manually type a json on my onedrive. But in that case, editable secret token field still give you more convenience.

[2018-03-10 10:38] #68 closed

[2018-03-10 12:31] Sneezry commented on #70
This issue should be fixed in the latest code. Next release will be published in the next week.

[2018-03-10 14:09] mymindstorm commented on #71
-  I don't think people change secrets so often that we should let them change that directly
- You shouldn't be manually typing out the JSON yourself
-  Letting users edit this directly will definitely cause problems. If we make secrets too accessable then we will have people mistakenly corrupting them or sharing them.

If this goes anywhere it will be a debugging menu or dedicated advanced settin

[2018-03-10 14:23] mymindstorm commented on #70
This issue has been fixed via c6d85480d719a9de5bb7d21808e8172b205cfb63. I will notify you when we release the fix.

[2018-03-10 14:23] #70 closed

[2018-03-10 14:33] #62 closed

[2018-03-10 15:09] nnc55 commented on #73
@

[2018-03-11 02:50] richardyusan opened #74 "Bug: Bittrex authenticator not work"
code generated for bittrex is 000000

[2018-03-11 02:52] nnc55 commented on #74
000000

[2018-03-11 10:10] Sneezry commented on #74
It seems Bittrex doesn't accept new users, could you please provide a sample secret?

[2018-03-11 11:05] richardyusan commented on #74
here: DYRLWKBD7WTQYMV5s

after re apply 2fa using new secret it's work now lol

[2018-03-11 11:15] Sneezry commented on #74
Is there a small s at the end of the secret? Also, if the secret you post above is your current secret, you should change it as it is public to anybody now.

[2018-03-11 11:18] Sneezry commented on #72
This is as design, as @mymindstorm said, user may confuse with issuer and account.

[2018-03-11 11:18] #72 closed

[2018-03-11 11:19] #71 closed

[2018-03-11 12:46] nnc55 opened #75 "nnc55"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

[2018-03-11 13:53] #75 closed

[2018-03-11 14:54] richardyusan commented on #74
yes there is s at the end, surely done

[2018-03-11 23:30] nt1m opened #76 "HOTP code displayed as invalid"
One of the websites I login to requires a Yubikey that uses the OATH-HOTP protocol. Unfortunately, pasting the Yubikey secret key into Authenticator doesn't work.

[2018-03-11 23:32] nt1m opened #77 "QR code not scanning properly"
Here's a sample barcode from the process:

![index-gauth](https://user-images.githubusercontent.com/1795135/37259903-85b962ac-2584-11e8-86d3-f5d0943b3c54.png)

[2018-03-11 23:38] mymindstorm commented on #77
I'm able to add this, what is wrong with how it handles this currently?

[2018-03-11 23:40] mymindstorm commented on #76
Actually I think we already support this, add a secret using manual entry and set the dropdown to "Counter Based"

[2018-03-12 09:38] nt1m commented on #77
@mymindstorm It doesn't read the qr code in at all, which is a problem.

[2018-03-12 09:40] nt1m commented on #76
@mymindstorm Doesn't work on my side. It just keeps saying "Invalid" when I try to add my secret key.

[2018-03-12 10:03] TimWei opened #78 "background going black everytime i try to scrolling the pop window"
firefox version 57.0.4(64bit)

![image](https://user-images.githubusercontent.com/13130496/37277417-80a781cc-261f-11e8-8c01-b6c91042b2aa.png)

[2018-03-12 15:23] Sneezry opened #79 "Encrypted data sync delay between different browsers may break the extension"
Let's say, there are 2 browsers A and B with the same encrypted data:

[code]

Once the user changes password in A with `password_2`, data on A is now:

[code]

Now we know account data with `hash_1` on A is newer then B, so B's data with `hash_1` will be overwritten by A, in another word, one day, data with `hash_1` will also have secret encrypted with `password_2` on B.

However, we know data sy

[2018-03-12 15:45] Sneezry commented on #77
@nt1m nothing happens when you scan the code or popup Unrecognized QR code? Can you see the gray layer on web page when you scan the code?

[2018-03-12 16:00] mymindstorm commented on #76
Can you give an example secret so we can reproduce?

[2018-03-12 16:20] mymindstorm commented on #78
This looks like a problem with how the browser renders the extension.

Try setting `layers.offmainthreadcomposition.enabled` in about:config to false and restarting firefox. If that doesn't work try following [these steps](https://support.mozilla.org/en-US/kb/troubleshoot-extensions-themes-to-fix-problems#w_checking-extension-settings). If none of these work then look for updates for your graphics

[2018-03-12 17:28] nt1m commented on #76
@mymindstorm
2c52e8fcfac34091da63ef7b118f1cc50b925a42

[2018-03-12 17:29] nt1m commented on #77
@Sneezry It says the QR code is unrecognized.

[2018-03-12 18:01] mymindstorm commented on #76
Can reproduce.

[2018-03-12 18:04] Sneezry commented on #76
It seems we need add a new type for HOTP in HEX format

[2018-03-12 18:47] Sneezry commented on #76
Fixed in the latest code

[2018-03-12 18:47] #76 closed

[2018-03-12 18:49] Sneezry commented on #74
`s` is not a valid char in Base32, I believe this is Bittrex's bug

[2018-03-12 18:49] #74 closed

[2018-03-12 20:26] nt1m commented on #76
Thanks @Sneezry! Has an update been deployed on AMO yet ?

[2018-03-12 20:28] mymindstorm commented on #76
I'll notify you when I deploy to AMO, we have a few more things to fix before the next update.

[2018-03-12 21:05] mymindstorm commented on #77
@nt1m does this affect all QRs you try to scan or just this one? Try to add [this one](https://chart.googleapis.com/chart?chs=400x400&chld=M|0&cht=qr&chl=otpauth://totp/mymindstorm-test?secret=UJD5WBIAPV6C2UJKRPNUN3XRYUR4M7J4), make sure to get everything with a white background inside the scan area.

[2018-03-12 21:50] nt1m commented on #77
@mymindstorm hmm, doesn't work on the one you give me either.

Could be related to the fact that I have a retina screen, which might upscale your canvas by 2 (window.devicePixelRatio).

[2018-03-12 21:57] mymindstorm commented on #77
Was going to ask about that next, beat me to it. Looks like this was an issue at one point in old extension too https://github.com/Sneezry/authenticator/commit/5d298ff3cc493021e9682ce8765ac4c99c9dcef2

[2018-03-12 22:00] mymindstorm commented on #77
Nevermind, it looks like we are already scaling.
https://github.com/Authenticator-Extension/Authenticator/blob/a6651908fc8b23998462c39aaadd72ecbed0d4d2/src/content.ts#L125-L128

[2018-03-13 02:51] TimWei commented on #78
layers.offmainthreadcomposition.enabled not found in about:config
![image](https://user-images.githubusercontent.com/13130496/37319574-a9f29cca-26aa-11e8-85bf-0f44efcc2d1b.png)

other suggestions above was tried including upgrade Firefox version to 58.0.2,  none of those work though.

and found that there is another rendering problem while closing QR code scanning screen.
![image](https://user-ima

[2018-03-13 11:08] mtompkins opened #80 "Unable to export to create a backup"
No response when clicking the Export / Download Backup button.
v5.0.6 in Chrome

[2018-03-13 21:15] mymindstorm commented on #80
Have you encrypted your secrets at any point in time?

Follow [these steps](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information) and try to click the download button again, then paste anything in the console.

[2018-03-13 21:18] mtompkins commented on #80
To my memory, I have never encrypted my secrets but I could not sware to it.
Everything else works properly to my knowledge
Nothing produced in the console output window when clicking the export button.

Thanks for trying to have a look at this. Happy to provide whatever more I can.

[2018-03-13 21:20] mymindstorm commented on #78
This is a rendering issue with how Firefox renders things in the toolbar in Windows. You should open a ticket on their bug tracker. I'm not aware of anything we can do to prevent this.

If you open it directly (go to `about:debugging` and click manifest url, then change `/manifest.json` to `/popup.html`) you shouldn't see artifacts.

[2018-03-13 21:20] #78 closed

[2018-03-13 21:24] mymindstorm commented on #80
Go to `chrome-extension://bhghoamapcdpbohphigoooaddinpkbai/import.html` and give me a screenshot of that page

[2018-03-13 21:25] mtompkins commented on #80
![screenshot from 2018-03-13 17-25-08](https://user-images.githubusercontent.com/4105910/37370760-900cbc8a-26e3-11e8-8d3f-ac36330f8f3d.png)

[2018-03-13 21:31] mymindstorm commented on #80
And when you click the button it doesn't show anything? Or can you get to this screen?
![image](https://user-images.githubusercontent.com/27789806/37371019-3bc36006-26cb-11e8-8d81-5c73900338b5.png)

[2018-03-13 21:34] mtompkins commented on #80
I get to the screen you last posted, but when clicking Download Backup File there is no response. Apologies for not being more clear at what point I was having difficulty.

[2018-03-13 21:41] mymindstorm commented on #80
That makes more sense. If you check your downloads folder, do you see a file called `authenticator.json`?

[2018-03-13 21:42] mtompkins commented on #80
Nothing in my downloads folder (I'm on linux if that helps).

[2018-03-13 21:48] mymindstorm commented on #80
At least in firefox you should be able to right click the download backup link and use "Save File As..." to download the backup file

[2018-03-13 21:51] mtompkins commented on #80
Sweet mercy that's it!!!
I was so focused on (left) clicking the button I didn't realize it's really a link I could right click on.
Thanks so much.

[2018-03-13 21:51] #80 closed

[2018-03-13 22:01] mymindstorm commented on #80
Normally it will just start a download. I use Fedora and don't have any problems, maybe you have some sort of security policy preventing the download?

[2018-03-13 22:02] mtompkins commented on #80
I'll try and see if I can narrow it down. I'm on `Arch` and do have ABP & Privacy Badger in Chrome but I don't think they interfere. If I stumble across it I'll be sure to share.

[2018-03-14 03:14] Sneezry opened #81 "Change Dropbox OAuth to token flow"
Following Dropbox team's suggestion, change OAuth to token flow from code flow, and remove app key and app secret from source code.

[2018-03-15 07:23] badshah55 opened #82 "google auth not show"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
when i click extension only empty show

[2018-03-15 07:57] Sneezry commented on #81
fixed in the latest code

[2018-03-15 07:57] #81 closed

[2018-03-15 07:59] Sneezry commented on #82
We need more detail to help you to solve the issue:

* Which browser do you user, Firefox or Chrome?
* What is the extension version?
* What is the latest time it worked?

[2018-03-15 08:43] Sneezry commented on #77
We will add a QR debug console page in the next version for QR debug.

We need more info to fix issue, but it's hard to ask user to provide information we need, such as the captured image.

[2018-03-16 03:28] Sneezry opened #83 "Release v5.0.7"
Is there any other changes we need to merge before release v5.0.7? Is it okay for us to release v5.0.7 on March 17th?

[2018-03-16 03:36] mymindstorm commented on #83
Nothing planned, I've added the French translations. I'm going to be traveling all day on the 17th, so instead let's release tomorrow (around 24h from now) if that's ok.

[2018-03-16 03:44] Sneezry commented on #83
It's okay for me. Then I will merge v5.0.7 into release branch around 10:00 AM March 17th in Beijing time (9:00 PM March 16th in Houston, Texas).

[2018-03-16 03:53] mymindstorm commented on #83
Thanks

[2018-03-16 03:53] #83 closed

[2018-03-17 02:58] mymindstorm opened #87 "Firefox oauth token flow does not work"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

Error from Dropbox:

[code]

Extension UUIDs are random for every installation. Is this even possible on Firefox?

[2018-03-17 03:02] mymindstorm commented on #87
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/identity
https://developer.chrome.com/extensions/identity

[2018-03-17 03:08] mymindstorm commented on #76
I've uploaded latest version to AMO, update your extension using [these steps](https://github.com/Authenticator-Extension/Authenticator/issues/64#issuecomment-370291688) @nt1m

[2018-03-17 03:10] mymindstorm commented on #70
Update has been uploaded. You might have to wait a few days for it to get to you, follow [these steps](https://github.com/Authenticator-Extension/Authenticator/issues/64#issuecomment-370291688) to try and force an update

[2018-03-17 03:23] mymindstorm commented on #77
@nt1m after you update to the latest version click the about button in the menu and scroll to the bottom. Click the link that says "QR Debugging". When the page opens go back to this tab and try to scan the code again. Then go to the debugging tab, copy and paste all the text that appears, and upload the picture that appears under "Captured Screenshot"

[2018-03-17 04:01] mymindstorm opened #88 "Remove master branch"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

When developing the bulk of the extension using that branch was useful, but now it seems a bit redundant. Thoughts?

[2018-03-17 04:23] coty-crg opened #89 "All codes are invalid"
Recently had to reinstall windows. I kept my appdata folders and stuff, though. Reinstalled chrome and chrome auto installed the plugin, but now all of my codes show as invalid. I tried following the guide to reimport old codes, but they still show as invalid after successfully guessing my password.

https://i.imgur.com/nf1TNIq.png

[2018-03-17 04:35] mymindstorm commented on #89
What version are you on? We recently released 5.0.7 which has a fix for some secrets displaying as invalid.

[2018-03-17 04:44] coty-crg commented on #89
https://i.imgur.com/WAhKmck.png

Seems like its the latest. I have the backup file still, so its not huge I suppose. Will just wait for a fix (I have all the codes on my phone too, was just using this extension as the backup)

[2018-03-17 04:46] mymindstorm commented on #89
By guide to reimport old codes do you mean [this](https://github.com/Authenticator-Extension/Authenticator/issues/63#issuecomment-370219224)?

Can you follow [these steps](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information#chrome) and paste any messages here?

[2018-03-17 04:49] coty-crg commented on #89
Sorry my dude, no errors in the console.

https://i.imgur.com/6fOyo4u.png

Crazy coincidence though, I didn't realize you just pushed out a release. Sorry for the instant error report, I know how it feels.

[2018-03-17 05:20] Sneezry commented on #87
I will add firefox redirect URL to dropbox

[2018-03-17 05:40] Sneezry commented on #87
Ennn, it seems we really need switch oauth flow to native way. I just commited a workaround for firefox, but I'm not sure extension domain not changes in firefox (on my side, it's `moz-extension://1375455d-9177-e24d-96ea-9174e0619c0a`).

[2018-03-17 05:49] mymindstorm commented on #87
@Sneezry uninstall it and install again (not the undo button), check `about:debugging` and uuid will be diffrent. I'm `    13b0bba6-84db-4796-940c-acbd1fb1e649` currently.

[2018-03-17 05:49] Sneezry commented on #89
You should be able to download backup file, click export/import, then download backup file. Open it with notepad or other editor, search `secret`, what is the length of the string after `secret`?

For example as below, the string is `abcd2345`, its length is 8:

<img width="352" alt="screen shot 2018-03-17 at 13 48 34" src="https://user-images.githubusercontent.com/1621293/37552140-fe29fa9e-29e9-1

[2018-03-17 05:50] mymindstorm commented on #89
@coty-crg not going to lie, you scared the hell out of me with that title.

[2018-03-17 05:52] Sneezry commented on #87
Then I suggest firefox rollback to 5.0.6 currently. We need to find a way to handle redirect URL for firefox.

We need to set specific redirect URL in dropbox:

<img width="848" alt="screen shot 2018-03-17 at 13 51 34" src="https://user-images.githubusercontent.com/1621293/37552156-58eb3880-29ea-11e8-9cd8-d54ff4299634.png">

[2018-03-17 05:55] mymindstorm commented on #87
Already done. I would try to fix this myself, but I'm a bit busy, sorry.

[2018-03-17 05:58] horeograf opened #90 "backup from 4.20 fail"
Hi, I had version 4.20, there is a backup of the text, but importing the text does not work.
At me such format of record:

On the page of the old backups shows this line:

How do I import my data? Can you have the opportunity to give me version 4.20?

[2018-03-17 05:59] Sneezry commented on #87
Take it easy, this extension is not our full time work, right? Just do it when you have time and you want.

I will try to find the correct way to handle OAuth as well.

Have a good trip tomorrow ;-)

[2018-03-17 06:02] mymindstorm commented on #90
First of all, do not ever paste your secrets anywhere. I've removed them for you, be more careful next time please.

Did you make sure to check the box that said encrypted and enter your password? You need to have the right password, or it won't work.

[2018-03-17 06:03] Sneezry commented on #90
@mymindstorm  Let me handle this issue, and go to bed for trip tomorrow.

[2018-03-17 06:04] mymindstorm commented on #90
You can get an older version for Firefox from [here](https://addons.mozilla.org/en-US/firefox/addon/auth-helper/versions/?page=1#version-4.21), you can't get an older version on chrome.

[2018-03-17 06:06] Sneezry commented on #90
Hi @horeograf , I need some more information to help you to solve the problem.

Is the backup encrypted from 4.20? If the answer is yes, do you remember the password?

[2018-03-17 06:10] mymindstorm commented on #90
@Sneerzy backup was encrypted. Time really flies when you work on something you enjoy, though that's not good for me right now ;-;

[2018-03-17 06:10] horeograf commented on #90
Sneezry, hello, i dont have pasword, on 4.20 pasword not enable or i forget it (

[2018-03-17 06:15] Sneezry commented on #90
It's easy to verify if you have set a password for the backup. What is the word after `encrypted`? Is it `true` or `false`?

For example, it is `false` as shown below:

<img width="365" alt="screen shot 2018-03-17 at 14 15 00" src="https://user-images.githubusercontent.com/1621293/37552315-a69a79ee-29ed-11e8-8879-1989a954d9c2.png">

[2018-03-17 06:21] horeograf commented on #90
encrypted- true all lines ( f

[2018-03-17 06:27] horeograf commented on #90
and i have all bacup from dir AppData\Local\Google\Chrome\User Data\Default\Extensions\bhghoamapcdpbohphigoooaddinpkbai\4.20_0
can mount to new browser?

[2018-03-17 06:29] Sneezry commented on #90
Okay, then you have set a password for the backup. You need that password to import it into the extension. If you do not provide the password, the extension will just ignore the encrypted secret. If you remember the password, open import page (settings -> export/import -> import backup -> import text backup), paste the backup and check `Encrypted`, input the password, then click `Import Text Backu

[2018-03-17 06:31] Sneezry commented on #90
I do not think rollback the extension to old version will solve your problem, because your data is not stored in the extension. Even though you get an older version extension, your will not get back your data together.

[2018-03-17 07:03] horeograf commented on #90
I remembered the password, but instead of code everywhere Invalid (((

[2018-03-17 07:15] Sneezry commented on #90
Download backup file, and open it with notepad or other editor. What is the length of the secret?

[2018-03-17 09:32] horeograf commented on #90
length 64

[2018-03-17 13:10] Sneezry commented on #90
@horeograf what is the first 5 char?

[2018-03-17 14:07] nt1m commented on #76
@mymindstorm The latest version doesn't seem available on AMO yet: https://addons.mozilla.org/en-US/firefox/addon/auth-helper/versions/

But I downloaded the version from Github releases, and it works great!

Thanks for fixing this so quickly :)

[2018-03-17 14:07] nt1m commented on #77
@mymindstorm @Sneezry Thanks, I submitted #92 which fixes the problem on my side.

[2018-03-17 14:20] mymindstorm commented on #76
Sorry about that, I had to disable 4.0.7 due to it an issue with Dropbox
OAuth getting broken. It's probably going to automatically downgrade itself
when it checks for updates.

On Mar 17, 2018 9:07 AM, "Tim Nguyen" <notifications@github.com> wrote:

@mymindstorm <https://github.com/mymindstorm> The latest version doesn't
seem available on AMO yet:
https://addons.mozilla.org/en-US/firefox/addon/au

[2018-03-17 14:42] horeograf commented on #90
U2Fsd , and all secrets  the first identical 10 characters

[2018-03-17 16:07] Sneezry commented on #90
Then it is encrypted, you must provide correct password to decrypt.

[2018-03-17 17:23] Sneezry commented on #88
Emm, I agree. `master` branch seems useless now... I will remove it.

[2018-03-17 17:24] Sneezry commented on #88
Done.

[2018-03-17 17:24] #88 closed, assigned to Sneezry

[2018-03-17 19:43] Cavain opened #94 "Feature Request"
Hello,

Please add a feature which will allow us to rename the accounts.

Thank you!

[2018-03-17 20:58] mymindstorm commented on #94
You can already do that, all you need to do is go into edit mode and click on the name of the code you want to edit.

[2018-03-17 20:58] #94 closed, assigned to nobody

[2018-03-17 21:13] horeograf commented on #90
Restored from the backup localdata chrome and the version of chrome in the program files, everything was exported well. But If I go, as a user of the browser, then rewrites
  settings and everything becomes encrypted. How fix that? Now all lines encrypted=false and working good.

[2018-03-17 21:16] Sneezry commented on #90
If all secrets are decrypted, you can just import it from chrome-extension://bhghoamapcdpbohphigoooaddinpkbai/import.html

[2018-03-17 21:18] horeograf commented on #90
i do that, all working, but if i autorize as user chome all rewrites settings and everything lines becomes encrypted.

[2018-03-18 11:04] Sneezry commented on #77
It seems Firefox capture screenshot as non-HiDPI image.

[2018-03-18 11:08] Sneezry commented on #90
If I understand correctly, you can import backup and it works when you not sign in on Chrome, but after you signed in, all entry change to encrypted.

After you signed in, your data synced with Google will be synced to you browser, and the synced data is encrypted.

If you have all your data backup, and all backup is decrypted, or you know the password for encrypted data, you can safely reinstall

[2018-03-18 11:09] Sneezry commented on #87
Code ready: https://github.com/Authenticator-Extension/Authenticator/pull/91

[2018-03-19 06:42] mymindstorm commented on #89
@Sneezry I was able to make this happen on a newer version after getting my encryption password wrong a few times. No data got messed up, just didn't get replaced with encrypted instead showed invalid

[2018-03-19 07:45] Sneezry commented on #89
The problem is that we do not know if the password is correct - we try to decrypt the secret with the provided password, and we can even get result with incorrect password sometimes (most of time we get an exception when user provides an incorrect password).

If the secret before encrypt in binary is

[code]

it may change with incorrect password

[code]

Then we encrypt it with the incorrect pass

[2018-03-19 08:00] Sneezry commented on #89
Here's an example:

secret is `abc`, password is `12345678`, and encrypted secret is

[code]

It is easy to verify with

[code]

However, we can get another secret with an incorrect `12345677` without exception:

[code]

And now, the secret has changed to `Mr`.

[2018-03-19 16:27] IMSTechDept opened #95 "Amazon TOTP no longer functioning"
Amazon TOTP codes only display "Invalid" in version 5.0.7

Is there a workaround for this?

<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

[2018-03-19 17:57] Sneezry commented on #95
Is your secret encrypted? Is Amazon account the only one display Invalid or all your code changes to Invalid?

[2018-03-19 17:58] #87 closed, assigned to Sneezry

[2018-03-19 18:08] IMSTechDept commented on #95
Only Amazon shows Invalid. Nothing is encrypted, and I have reproduced this issue on multiple computers. Whether using a manual method or the automatic QR scan, the code shows "Invalid" for Amazon accounts, and ONLY amazon accounts.
![authissue](https://user-images.githubusercontent.com/29929213/37613604-6f8b851c-2b76-11e8-8bba-8f3768b12487.PNG)

[2018-03-19 18:13] Sneezry commented on #95
So even you add a new Amazon account, the code display Invalid, right? Is Amazon always display Invalid or only for some code?

[2018-03-19 18:16] Sneezry commented on #95
I can repro with `QLGNXJ2KLSOACXOEKJ47X6VA6ZPGT5HE2GBO5NPXTLD7FJAKD4JQ`

[2018-03-19 18:34] Sneezry commented on #95
The problem is caused by missing pad. Base32 should contains pad (=) if the original string is not in byte length of n*40.

The secret above is `82ccdba74a5c9c015dc45279fbfaa0f65e69f4e4d182eeb5f79ac7f2a40a1f130` after decode to HEX, which length is 65. Odd length hex makes the exception.

The correct Base32 string of the secret should be `QLGNXJ2KLSOACXOEKJ47X6VA6ZPGT5HE2GBO5NPXTLD7FJAKD4JQ=`.

I

[2018-03-20 04:28] odecioreis opened #96 "POLONIEX"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

[2018-03-20 04:31] odecioreis commented on #96
[download.pdf](https://github.com/Authenticator-Extension/Authenticator/files/1827928/download.pdf)

[2018-03-21 02:49] coty-crg commented on #89
Sorry, missed this for a few days. Not at my PC right now, but I have a strong feeling you're correct. I had to guess my password a few times to get it to display anything. Must be that it was wrong

[2018-03-21 03:04] Sneezry commented on #96
@odecioreis The pdf you post contains your POLONIEX account secret, if the secret is what you are using, you should change it immediately - this form is public, and everybody can see your secret.

The QR in pdf is not totp, it is just string of your secret and account address. A valid otp QR should start with `totp:` or `hotp:`.

If you have no idea how to enable 2FA for POLONIEX, you can seek hel

[2018-03-21 03:05] #96 closed, assigned to nobody

[2018-03-21 05:20] Sneezry commented on #95
fixed in the recent code.

[2018-03-21 05:20] #95 closed, assigned to Sneezry

[2018-03-21 06:01] Sneezry commented on #89
fixed in the recent code

[2018-03-21 06:01] #89 closed, assigned to Sneezry

[2018-03-21 06:03] Sneezry commented on #82
@badshah55 I will close this issue because we haven't received your response in a week.

Please feel free to open a new issue if you have any question.

[2018-03-21 06:03] #82 closed

[2018-03-21 06:27] Sneezry commented on #77
Code ready: https://github.com/Authenticator-Extension/Authenticator/pull/97

[2018-03-22 12:02] #77 closed

[2018-03-23 02:54] Sneezry commented on #90
@horeograf I will close this issue because we haven't received your response in a week.

Please feel free to open a new issue if you have any question.

[2018-03-23 02:54] #90 closed, assigned to Sneezry

[2018-03-23 09:15] mrResident opened #99 "Don't working export to file."
I want export data to file, but this function don't work! How export data to file? How wokring function - sunc data to Dropbox?

[2018-03-23 09:28] Sneezry commented on #99
I believe this issue is caused by new version of Chrome, because it works in old version Chrome.

Right click Download button, and select save as, then you can get the backup file.

[2018-03-23 09:48] mrResident commented on #99
Thanks, this is working!

And also, when I set the master password in the security settings, then always requested a password and there is no way to do anything (change the password, export / import data, add new data). The following message is displayed

"You can not add a new account or display the data until all the accounts have been logged in. Please enter the correct password before continui

[2018-03-23 09:50] jb90126 commented on #99
Does backup with all authenticators have .json extension ?

[2018-03-23 10:06] mrResident commented on #99
Yes, when I right clicked on Download button and selected save as, appearing file authenticator.json with all my keys.

[2018-03-23 16:30] Sneezry commented on #99
@mrResident Does the message show even when you enter correct password? Is there any entry display as `Encrypted`?

[2018-03-23 21:20] mrResident commented on #99
@Sneezry

Yes, this message appears every time I enter the correct password. As a result, I can not access the settings, because the window with this message always appears. Also I can not add new data. In general, after I set the master password, I can not really do anything.

You mean the "encrypted" field: in a json file that I export from the program? I can not upload data to a file in json fo

[2018-03-23 23:46] thallium205 opened #100 "Latest update broke extension when no password was set"
Team, I woke up this morning to access my codes and was presented with this error:

![image](https://user-images.githubusercontent.com/872832/37857613-c17326e6-2eb9-11e8-8ee7-c7ab507ad35f.png)

I have never set a password and anything I type in results in "INVALID" or "ENCRYPTED" on the values now.  I cannot even export anything.  What's going on?

[2018-03-24 04:55] qx2 commented on #100
I have the exact same issue.

[2018-03-24 05:16] qx2 opened #101 "Some are encrypted, some are invalid and other are solved"
after last nights update this is how my data looks now. I use both mac and windows extension in chrome only.
<img width="614" alt="after latest update" src="https://user-images.githubusercontent.com/2142235/37860675-bf53ff88-2ee7-11e8-901d-945c2fc04089.png">

[2018-03-24 08:47] Sneezry commented on #100
The message only show when you set a password and check remember passport option. I guess you may forget you had set a password someday. Because your browser remember the password, you were not asked to decrypt the secrets.

Is all your secret become to invalid or part of them?

[2018-03-24 08:48] Sneezry commented on #101
Can you see a resolved TeamViewer entry?

[2018-03-24 10:08] Brianetta commented on #101
I had some that remained `Encrypted`. I restored from backup.

[2018-03-24 10:12] Brianetta commented on #100
I had a saved password, and lost some accounts as `Encrypted`.

[2018-03-24 10:12] Brianetta opened #102 "Need to decrypt before restoring backup"
When restoring a backup due to a forgotten master password, Authenticator refuses to allow this, and simply says, "You must provide correct password to import backups."

The work-around is to delete Authenticator from Chrome and reinstall it, so this is a relatively minor usability issue.

[2018-03-24 10:18] Brianetta opened #103 "I have one account that always says "Encrypted""
Even when I delete the account, and add it manually, it immediately says `Encrypted` and asks me for my password. The secret is formatted `xxxx xxxx xxxx xxxx` where `x` is any lower case letter or a digit.

[2018-03-24 16:17] qx2 commented on #101
none of the team viewer entries are resolved. I did try to restore from backup, same problem. I even tried deleting all entries and starting from scratch, because i have all my keys saved but anything i re-add still behaves the same way, either encrypted or invalid. How would I start over from scratch? do I have to uninstall the extension from all machines and start over. Or go into every machine

[2018-03-24 23:06] germdove commented on #99
I was getting the same thing. I had to delete the accounts marked as encrypted and take my master password off before reimporting to get my accounts back.

[2018-03-24 23:38] germdove opened #104 "Export encrypted data to file"
Sorry if I'm a little behind, but I just updated Authenticator to the new layout and noticed that we no longer have the ability to create a backup with encrypted secrets. We used to have that ability, and encrypted backups can still be imported.

Can we get the ability to export encrypted secrets again?

[2018-03-25 08:54] Sneezry commented on #101
@qx2 If you have all data backup, you can reinstall the extension safely. Is your backup encrypted?

[2018-03-25 08:55] Sneezry commented on #101
@Brianetta is your backup encrypted?

[2018-03-25 09:00] Sneezry commented on #103
Can you confirm is the secret is HEX format or Base32 format? HEX contains 0-9 and a-f, while Base32 contains a-z and 2-7. Also, is the secret's length is 16 (without spaces)?

[2018-03-25 09:06] Sneezry commented on #102
If we cannot decrypt all secrets with one password, we do not know with which password to encrypt imported data, so we simply refuse to import data if there is any secret cannot be decrypted with current password.

Maybe we need provide a way to make all secrets encrypted with a same password. I opened an issue to track this problem days ago: https://github.com/Authenticator-Extension/Authenticato

[2018-03-25 09:06] #102 closed, assigned to nobody

[2018-03-25 12:11] Brianetta commented on #101
No. I have never taken an encrypted backup, in case I need to restore to different product.

[2018-03-25 12:12] Brianetta commented on #103
It's base32. There's at least one z in it. Yes, 16 in four groups of four.

[2018-03-25 12:22] Brianetta commented on #103
I have reset 2FA to a new key. The problematic key is:

[code]

[2018-03-25 12:24] Brianetta commented on #103
The replacement key mis-behaves the same way (and is formatted similarly).

[2018-03-25 14:17] Sneezry commented on #103
Could you help to test if it works after removing spaces in secret?

[2018-03-25 17:00] Sneezry commented on #103
I can repro this issue with secret contains spaces.

[2018-03-25 17:21] mymindstorm commented on #103
ceac490df88b3fde12db25bdb64e1a44ae42e86a is what probably caused this. Shouldn't we be comparing the hash to secret and if it doesn't match then label it encrypted? So then wouldn't it make more sense for this line to return 'Invalid'? https://github.com/Authenticator-Extension/Authenticator/blob/ceac490df88b3fde12db25bdb64e1a44ae42e86a/src/models/encryption.ts#L40

[2018-03-25 17:40] mymindstorm commented on #100
- Did any of you set passwords at any point in time?
- Have any of you used the extension for more than a month?
- Do you have any messages when you follow [these steps](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information#chrome)

If you are sure you haven't set a password before, what is the result of pasting
[code]
into the console?

[2018-03-25 17:49] mymindstorm commented on #103
CNR with firefox 5.0.8, could the recent bugs be related to the chrome release a few days ago?

Edit: CNR with Chromium 63

[2018-03-25 20:33] thallium205 commented on #100
No, never.

I have used it for over 2 years.

Yes I receive:
[code]

[code]

[2018-03-25 22:28] mymindstorm commented on #100
@thallium205 run this, **do not paste anything from this here**
[code]
there should be something like this repeated a few times:
[code]
In any of them after the part that says `"secret":` does it have text like above example or is it just `""`?

[2018-03-25 22:34] thallium205 commented on #100
@mymindstorm All objects in the map contain a value for key `secret` however they are encrypted and the flag `encrypted` is `true`.

[2018-03-25 22:36] thallium205 commented on #100
I should note that when I was first confronted with this error two days ago, I frantically tried to set a password so I could get passed it.  However, even after setting it, all values are stuck with "Encrypted".

[2018-03-26 02:23] Sneezry commented on #101
@qx2 is there any space in the secret of TeamViewer?

[2018-03-26 02:27] Sneezry commented on #103
@mymindstorm hash is unreliable. After migration, hash may do not match with secret. We can try to compare secret with hash, and remove all spaces to verify if it is valid HEX or Base32 string if hash doesn't match with secret.

[2018-03-26 02:33] Sneezry commented on #99
Fixed in the recent code.

[2018-03-26 02:33] #99 closed, assigned to Sneezry

[2018-03-26 03:01] Sneezry commented on #103
Fixed in the recent code.

[2018-03-26 03:01] #103 closed, assigned to Sneezry

[2018-03-26 03:20] Sneezry opened #105 "Need verify secret validation when add account manually"
![snipaste20180326_111951](https://user-images.githubusercontent.com/1621293/37885420-a6c1ca5c-30e7-11e8-9beb-ac4015a6ddf2.png)
![snipaste20180326_112004](https://user-images.githubusercontent.com/1621293/37885421-a6f70384-30e7-11e8-9a5e-3967115b95e1.png)

[2018-03-26 06:47] Sneezry commented on #105
Fixed in recent code.

[2018-03-26 06:47] #105 closed, assigned to Sneezry

[2018-03-26 09:32] dankac commented on #100
So there is no chance to reset password  sneezry? I thought You can do it remotely no?

[2018-03-26 09:44] Sneezry commented on #100
@dankac No. Your data is safe, and I have no access to your data.

[2018-03-26 09:47] Sneezry commented on #100
@thallium205 I wonder if there is any space in your secret.

If this issue is caused by space in secret, your data is safe, and it should work in v5.0.9, which will release in this weekend.

[2018-03-26 12:08] ghost opened #106 "Exporting file button does nothing"
So, since these recent updates (Thank you so much for all these, by the way), I've been unable to export my codes... Any tips?

Whenever I click on the button, it just does... nothing.

[2018-03-26 14:12] Sneezry commented on #106
See https://github.com/Authenticator-Extension/Authenticator/issues/99

[2018-03-26 14:12] #106 closed, assigned to nobody

[2018-03-26 15:29] SuperValue commented on #101
I'm having some problems too with this new version.  After I type in the password, only some things are unencrypted.  I actually reinstalled the extension, re-added everything from scratch, and re-encrypted using "Security".  Then after I enter the password, it only decrypts a single entry.

So everything seems OK except when I try to use "Security".  If i leave it unecrypted, its fine.

[2018-03-26 16:24] Sneezry commented on #101
@SuperValue Does your secret contain spaces? This is a known issue, and will be fixed in v5.0.9

[2018-03-26 18:58] SuperValue commented on #101
Ah, yes i see now.  The only one that Decrypted correctly had no spaces.  I usually just cut and paste from the web page with the secret.

[2018-03-26 20:04] garrington opened #107 "Unable to decrypt all entries using new password encryption feature"
One of the entries in my authenticator will not decrypt.  Enabling password encryption broke the apple script I am using to automate my VPN connections and I cannot disable it because I cannot decrypt this entry.  I also tried removing the entry and it will not remove from my authenticator.  No errors indicated when trying to remove, it simply will not go away.

Version is 5.0.8
Browser: Chrome
OS

[2018-03-27 03:08] Sneezry commented on #107
Open popup page, right click and select inspect, switch to console tab, run code below:

[code]

You can see all your data, backup it. (**Danger! Ensure you have backup all data. This action cannot be undone**) Reinstall the extension, open import page (settings -> Export / Import -> Import Backup), switch to Import Text Backup tab, paste the backup into the text area, check Encrypted if your back

[2018-03-27 03:17] Sneezry commented on #101
Then it seems this issue is duplicate with https://github.com/Authenticator-Extension/Authenticator/issues/103. I will close this issue.

[2018-03-27 03:17] #101 closed, assigned to Sneezry

[2018-03-27 05:22] garrington commented on #107
That resolved my issue.  Thanks!

[2018-03-27 05:22] #107 closed, assigned to Sneezry

[2018-03-27 06:45] TheAhmadOsman commented on #100
Hey, I got a similar issue, except that even when I enter the password, not all my accounts get decrypted. Instead of getting the 2-steps code I am getting "Encrypted" for a few of my accounts.

[2018-03-27 06:48] Sneezry commented on #100
@Ahmad-Magdy-Osman I wonder if there is any space in your secret.

If this issue is caused by space in secret, your data is safe, and it should work in v5.0.9, which will release in this weekend.

[2018-03-27 06:50] TheAhmadOsman commented on #100
@Sneezry there is no space in neither my password nor my secret for those accounts that are saying "Encrypted". However, there is a "&nbsp;" in the names of the "issuer" field. That might be it?

[2018-03-27 06:52] Sneezry commented on #100
@Ahmad-Magdy-Osman I mean the secret may contains spaces. If you copy it from a web page, it may contains spaces. However, it should work again in the next release.

[2018-03-27 15:49] thallium205 commented on #100
All my accounts, even after providing the password I created hastily, remain "Encrypted".

[2018-03-27 16:07] Sneezry commented on #100
@thallium205 Then I guess you type incorrect password

[2018-03-28 06:33] swidnikk opened #109 "Can't seem to back up..."
When I try to export it doesn't seem to work, no response from the app. Also dropbox is connected however I don't see any backups in my account.

[2018-03-28 14:29] 32xxl opened #110 "button "Download backup copy""
Hi,

My Authenticator was updated to v 5.0.8 in my Google Chrome 65.0.3325.181 (64 bit)

After that, in menu Options->Export/Import button "Download backup copy"  not works.

Any solutions?

Thank you

[2018-03-28 16:57] mymindstorm commented on #109
We have a fix made for the export button and will release with update soon, for now you will need to right click the "Download Backup File" button and click "Save as...". See #99

[2018-03-28 16:57] #109 closed, assigned to nobody

[2018-03-28 16:58] mymindstorm commented on #110
We have a fix made for the export button and will release with update soon, for now you will need to right click the "Download Backup File" button and click "Save as...". See #99

[2018-03-28 16:58] #110 closed, assigned to nobody

[2018-03-29 01:35] justourbina opened #111 "autenticador"
no sale ningun numero

[2018-03-29 01:35] #111 closed, assigned to nobody

[2018-03-29 14:07] tanhaa commented on #100
I'm having a similar issue, I don't remember ever setting a password.  After trying several times in "settings", it offered me a chance to set a new password and by habit I put spaces in there.  SO now if I enter this password, everything still shows as "Encrypted".  Has a new release been pushed to handle that?
[code]
[code]

[2018-03-29 14:18] Sneezry commented on #100
@tanhaa It seems your data is broken. Open popup page, right click and select Inspect, switch to Console tab, copy and paste code below, then hit Enter:

[code]

What is the result you can see?

[2018-03-29 14:27] Sneezry commented on #100
@tanhaa emmm, I find we have a bug related with your issue, and I have fixed it in the recent code. However, I still need you provide the result with running code above to help you to recover your data.

[2018-03-29 14:35] tanhaa commented on #100
So i see all the entries with "SECRET" everywhere.
(thanks for the quick reply)

[2018-03-29 14:42] tanhaa commented on #100
I have pressed backup data in the past as well, where would that data be backed up?

[2018-03-29 15:28] Sneezry commented on #100
@tanhaa I just want to confirm if your data is broken or it is caused by a bug. All secrets are replaced with "SECRET" to protect your privacy. You can post data you got from console here safely.

[2018-03-29 15:45] tanhaa commented on #100
yes, I have an array of entries looking like this:
[code]

[2018-03-30 11:20] DtheRock commented on #100
Hi,

I have exactly the same issue.
I do not remember to have set a password in the past, however, when I add a password it decrypts some of the accounts and not all of them.

[2018-03-31 06:19] Sneezry commented on #100
@DtheRock what's the version of the extension?

[2018-03-31 14:58] tanhaa commented on #100
Is there anything that can be done to access my codes again?

[2018-03-31 17:17] Sneezry commented on #100
@tanhaa first thing I need verify is if the extension update to 5.0.9, and if error remains in popup page. I notice you have set a password which contains only space. You should set password to empty to remove it. If your extension updates to 5.0.9, and all your entries display Encrypted, I believe you input an incorrect password. If you forget the correct password, I cannot help you to recover yo

[2018-03-31 17:49] DtheRock commented on #100
5.0.9

[2018-03-31 18:37] Sneezry commented on #100
@DtheRock so there are still some accounts display Encrypted even if you input correct password, right?

[2018-03-31 18:41] DtheRock commented on #100
Exactly

[2018-03-31 18:53] Sneezry commented on #100
@DtheRock open popup page, input the correct password, right click, select Inspect, switch to Console tab, copy and paste code below:

[code]

Press enter, show me the result.

[2018-03-31 18:58] DtheRock commented on #100
0f8d24dc5d36dd1afae011117e089dd0 null
VM101:1 106b5d298342f76587551814a9e0378d null
VM101:1 14e07a166a1eb4e21f03a047453fb358 null
VM101:1 35aea4d368e88d8a20dd5d48fb09b45d null
VM101:1 4713233e3667dc696e1cbb091b3f3d73 null
VM101:1 47246461f25293fa85e7ef781758e0b0 null
VM101:1 63fe2c8f12d445b3f8e717132dcd9ec1 error pass
VM101:1 64a10ea4d609c626197eeb31521f2aec error pass
VM101:1 82261ddeed6811d398f7

[2018-03-31 19:05] Sneezry commented on #100
Three of your accounts cannot be decrypted with your current password. Could you provide more details about those three accounts? Such as are they added from another PC and synced to your current PC? When did you add them? What is the last time they worked?

[2018-03-31 19:07] DtheRock commented on #100
These accounts were added a couple of months ago and they worked until this bug came up.
They have not been imported from any other device or browser.

[2018-03-31 19:13] Sneezry opened #113 "Password problem during auto migration"
@DtheRock I need more information to position your issue:

1. Have you set a password when you use old version extension? If yes, did you see a warning message says your password is cached locally, you should change your password immediately?
2. Have you tried different passwords to decrypt your account because you just forget the password or input a wrong password?
3. What is the latest version w

[2018-03-31 19:15] Sneezry commented on #100
@DtheRock I have opened a new issue to track your issue, let's discuss there https://github.com/Authenticator-Extension/Authenticator/issues/113

[2018-03-31 19:22] DtheRock commented on #113
Hi,

1. No, I have never set a password before for this extension.
2. Yes, I tried some passwords before I find the one that unlocked some of the accounts.
3. I do not remember the version, as I never noticed it, but It was okay a month ago for sure.

[2018-03-31 19:29] Sneezry commented on #113
@DtheRock Then when did you set the password? It is important, because old version has a known bug that the extension may regard wrong password as correct password and encrypt your password with the incorrect one again (see https://github.com/Authenticator-Extension/Authenticator/issues/89#issuecomment-374128842). If you tried passwords before 5.0.8, your data may be broken with wrong password.

[2018-03-31 19:32] DtheRock commented on #113
I never set a password for this extension. One day, suddenly a password box appeared and I tried to insert some known passwords to me in order to unlock it.
I am not sure about the version, but this happened two or three weeks ago.

[2018-03-31 19:33] Sneezry opened #114 "Remove Password button is required"
Too many users do not know how to remove password with current UI, and after they set a random password days later, they may forget the password.

[2018-03-31 19:46] Sneezry commented on #113
I learnt that the extension may ask password even if you didn't set any password. I just checked the code again, and failed to find possibility for that currently. I will check the code more carefully later.

To your issue, I'm afraid you have to recover the three account from backups or seek help from service provider, see https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes f

[2018-03-31 23:03] tanhaa commented on #100
My current version is 5.0.8.

My password that was setup contains spaces, I set it up only after the app started prompting for password and suddenly allowed me to set a password.  I don't remember setting up a password when I had installed the app a long while ago.

But now if I try to change the password, the extension keeps telling me that I must enter the password.  It doesn't accept the passwo

[2018-03-31 23:12] tanhaa commented on #100
I have updated the version to 5.0.9.  I am still having the same issue, app keeps telling my "ENCRYPTED".

[2018-03-31 23:15] tanhaa commented on #100
@Sneezry:  by the way, I get this when I use the command you provided to the @DtheRock
[code]

[2018-04-01 22:52] Sneezry commented on #100
@tanhaa Unfortunately, two of your accounts are locked with different passwords from the result I learnt. You need remove them manually and import them from backups again.

The extension won't backup data automatically, you need export backup yourself from setting menu (settings -> Export / Import). If you do not have backups, follow https://github.com/Authenticator-Extension/Authenticator/wiki/Lo

[2018-04-01 23:17] Sneezry commented on #114
Fixed in recent code.

[2018-04-01 23:17] #114 closed, assigned to Sneezry

[2018-04-02 00:02] tanhaa commented on #100
I can't seem to backup, export, import, etc from the menu, it keeps telling me I need to decrypt all my accounts, however, it does not decrypt  @anything! I wish I could just revert to a version that was working!  In addition, I remember pressing "backup" in the past, I just don't remember where it backs these codes up.

By the way, not sure why two of them showed "error pass" and not sure how the

[2018-04-02 00:57] tanhaa commented on #100
Here's how I got to the "Set password" portion, even if I had never set a password in the first place and the extension kept asking me for a password:
When you click on the extension Icon, it asks for a password:
If you click OK, the next screen shows all your codes and "Invalid" where the code would usually be.
Click on the settings Icon
Click on security
and It asks you to set a new password
<im

[2018-04-02 02:54] Sneezry opened #115 "Empty password makes all code shown as Invalid"
When the secret is encrypted, if the user provide empty password, all code are shown as Invalid. We should prevent users provide empty password to decrypt entries.

![snipaste20180402_105325](https://user-images.githubusercontent.com/1621293/38181184-1c8a0f16-3664-11e8-820f-5eeb9fac93c1.png)

[2018-04-02 02:55] Sneezry commented on #100
@tanhaa When the extension asks password, you just leave the input box blank and click OK button, and all codes are shown as Invalid, right?

[2018-04-02 02:59] Sneezry commented on #115
Fixed in recent code.

[2018-04-02 02:59] #115 closed, assigned to Sneezry

[2018-04-02 03:10] tanhaa commented on #100
@Sneezry yes.

[2018-04-02 03:22] Sneezry commented on #100
@tanhaa You must provide a password. Leave the input box blank will cause errors. I understand you are confused with the password, and you believe you had never set a password. But code won't lie.

In some previous versions, if you don't set a password, the extension will always show a warning to ask you to set a password in security menu, and I guess you set the password at that time, and you jus

[2018-04-02 15:52] tanhaa commented on #100
@Sneezry I disagree that your code is not lying about me setting a password.  In fact: https://github.com/Authenticator-Extension/Authenticator/issues/113  you said yourself that the code asks for password even if you didn't set one.  I don't use this often, in fact it's rare that with google I have to enter a MFA code, for other accounts that I had 2FA on, I normally used CLI to access so it was

[2018-04-02 16:46] mymindstorm commented on #100
@tanhaa this bug is a bit of a pain since neither of us can reporduce and any evidence from further up the thread completely contradicts (error in response to storage.get and undefined variable) what the code should be doing. Normally the password screen would work as expected, but it's not a good idea to try to set or attempt to remove a password that should not be on the account in the first pla

[2018-04-04 00:04] Elcheer commented on #100
Hi, similar problem, but inputting anything in the password field puts me in the authenticator list. Everything Encrypted.

[2018-04-04 18:56] rcoscali opened #116 "Importation from Google Authenticator Android App"
Hi some time ago (november 2017) I asked about importation format. I finally had time for coding this and it runs ok. It allows to extract entries from the android App DB and provide them in several format (in browser allowing to scan with your extension, in a json file using the import format you provided, but also in terminal, png, svg etc). Of course it require having rooted phone for getting t

[2018-04-05 14:24] reni10 commented on #100
Same problem for me!

Account shows Encrypted even after entering the password!

When I run the code you provided in the console I just get an undefined message back and nothing else!

Can you please fix this I am on version 5.0.9.

[2018-04-05 14:37] thallium205 commented on #100
When I do not enter a password at all when prompted I receive this as a response to the above code snippet:

[code]

However, when I type in the password I *know* I set when prompted to a few weeks back by this plugin, I get this as a result:

[code]
My experience is nearly identical to that of @tanhaa.  Also @Sneezry to respond to your earlier comment I absolutely did not forget my password as I

[2018-04-05 20:10] g65jan opened #117 "decrypt account"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
i use my password to enter my accounts but all of thats  have the encrypted word
why happen this? I put the security code and now I do not have access

[2018-04-05 20:11] #117 closed, assigned to nobody

[2018-04-06 03:19] Sneezry commented on #100
@Elcheer @reni10 @thallium205 If all your accounts cannot be decrypted with any password, you have to recover your account from backups. If a part of your accounts cannot be decrypted, you need remove them from the extension and recover them from backups.

As @mymindstorm said, this bug cannot reproduce on our side, it is very annoying...

[2018-04-07 02:01] Elcheer commented on #100
Importing whatever authenticator.json I have closes the import window and does nothing.

[2018-04-07 04:40] mymindstorm commented on #100
@Elcheer the window only closes if the import was successful. First of all remove all codes and then try and import again, if it is still is broken after that then is the word after `encrypted:`on a broken code `true`?

[2018-04-07 04:42] mymindstorm commented on #100
To see this you may nedd to open `authenticator.json` in a text editor

[2018-04-09 13:53] reni10 commented on #100
There is something really wrong with this add-on now!

I have setup another brand new account and it worked for a few days but now has gone back to saying "Encrypted" and even though I enter in the exact password it still never changes from "Encrypted" so can you please look into this asap?

[2018-04-11 07:32] multiwebinc opened #118 "Unrecognized QR code when scanning"
I used https://github.com/Bacon/BaconQrCode to generate QR codes for my app. Here is an example output:

![qr-bug](https://user-images.githubusercontent.com/901732/38602308-9d811622-3d27-11e8-9a09-aacaa07df014.png)

Authenticator says "Unrecognized QR code." when I try to scan it, however using Google Authenticator app to scan the code works fine. I can also decode it using https://zxing.org/w/dec

[2018-04-11 23:31] mymindstorm commented on #118
Text is valid, it seems to be either a problem with jsqrcode (what we use to scan QR codes) or with BaconQrCode. The only decoder I can get to work is zxing's. It looks like the code you generated is using weird encoding which is tripping up the decoder. Try generating with ISO 8859-1 and see if that works better.

[2018-04-12 00:06] multiwebinc commented on #118
@mymindstorm Thank you for looking into this. Manually setting to "ISO-8859-1" works and I'm able to scan it with this extension. However, I was actually encoding with utf-8 (which is the default for antonioribeiro/google2fa-laravel for some reason). I'm not sure how you determined the encoding above. So it could be a problem with the BaconQrCode not correctly rendering if it uses utf-8 encoding.

[2018-04-12 04:56] mymindstorm commented on #118
ISO-8859-1 is the encoding originally used in the QR spec, I thought it would be supported by decoder by default and used it narrow down the problem. The code above has its ECI mode set to 7 (for ISO 8859-5 apparently) which makes the reader freak out and throw an error since it doesn't seem to support that. If you can find a way to just make BaconQrCode stop setting the ECI data it should be able

[2018-04-12 18:05] multiwebinc commented on #118
Are you sure the ECI mode is set to 7? According to https://online-barcode-reader.inliteresearch.com/, the above QR code uses UTF-8 character set, which also coincides with what was requested during QR generation, not ECI mode 7 (which would be ISO/IEC 8859-5).

Also, looking at the [code for BaconQrCode](https://github.com/Bacon/BaconQrCode/blob/master/src/BaconQrCode/Common/CharacterSetEci.php)

[2018-04-12 20:02] #118 closed, assigned to nobody

[2018-04-12 20:02] mymindstorm commented on #118
[This reader](http://qrlogo.kaarposoft.dk/qrdecode.html) and the error I'm getting from jsqrcode, `
Invalid mode: 7 in (block:0 bit:3)`, seem to say that it's in ECI mode 7. According to the code you have it should be 26, so jsqrcode may just be reading the ECI data wrong.

That patch I found seems to work just fine. It should work with 5.0.10

[2018-04-12 20:24] mymindstorm opened #119 "Duplicate secrets getting encrypted more than once"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

It looks like my secrets got encrypted twice somehow after a sync. So some of my secrets need to be `CryptoJS.AES.decrypt`'ed twice before I get the secret and show as invalid. This only happened to duplicates from a sync.

[2018-04-12 20:25] mymindstorm commented on #113
No activity for more than a week, closing.

[2018-04-12 20:25] #113 closed, assigned to Sneezry

[2018-04-13 02:11] Sneezry commented on #116
Nice work!

[2018-04-13 09:00] Sneezry commented on #116
@mymindstorm Can we add this to our wiki?

[2018-04-13 12:28] Alexvs07 opened #120 "The problem with google autotentikator"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

Hello. The problem with google autotentikator.
 For no apparent reason, codes in the drop-down box of the authenticator in Google Chrome on the laptop ceased to appear. The window drops out, it's empty inside. help me please

[2018-04-13 16:58] mymindstorm commented on #116
Sure

@rcoscali does running `googleauth_db2qr google-authenticator2.db` generate the JSON file or does it need any additional arguments?

[2018-04-13 17:01] mymindstorm commented on #120
Is the window all white or can you still add codes and access the menu?

[2018-04-13 19:29] Alexvs07 commented on #120
Totally white. Nothing.

[2018-04-13 19:37] mymindstorm commented on #120
Can you follow [these steps](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information) and paste any messages here?

[2018-04-13 20:01] Alexvs07 commented on #120
I have a Google Chrome browser

[2018-04-13 20:16] Alexvs07 commented on #120
![2018-04-02 12-52-32 developer tools - chrome-extension bhghoamapcdpbohphigoooaddinpkbai view popup html](https://user-images.githubusercontent.com/35767218/38756007-99bd191e-3f70-11e8-98c4-bf0f095e755b.png)

[2018-04-14 20:55] mymindstorm commented on #120
At the bottom paste this and press enter:
[code]
Does it make an error or does it list your accounts? (you only have to paste anything if it makes error)

[2018-04-15 05:45] Alexvs07 commented on #120
Here's what happened
![2018-04-15 08-40-33 developer tools - chrome-extension bhghoamapcdpbohphigoooaddinpkbai view popup html](https://user-images.githubusercontent.com/35767218/38775361-5c260ef2-4089-11e8-8467-d9bf7bc5b169.png)

[2018-04-15 05:57] pepa65 opened #121 "Need to way to reinstall"
Forgot the Authenticator-Extension password. No problem, I'll just add my accounts back again with a new password. Except I can't, there is no way to wipe, no way to start afresh. I have tried to remove the extension and add it anew, it still remembers my obsolete storage. Do I have to move to a different extension?

[2018-04-15 17:54] mymindstorm commented on #121
Are you on Chrome or Firefox?

Have you tried just deleting all the accounts without typing in the correct password?

[2018-04-15 18:06] mymindstorm commented on #120
- Did you have any data in Authenticator before this happened?
- Is your disk low on space?
- Is Chrome up to date?
- Try running Chrome as administrator and see if it is still white

[2018-04-16 00:43] pepa65 commented on #121
This is on Firefox. So, I add the extension, click the icon, it asks for the password, so I enter something (and all the accounts show up as either Encrypted or Invalid), and I click the pencil, and try to click on the red-circle sign, and it asks  if I am sure, so I click yes, and keep doing this. Now I have managed to clear all the accounts! (I thought I tried this before, but I got the idea tha

[2018-04-16 00:46] mymindstorm commented on #121
Thanks!

[2018-04-16 00:46] #121 closed, assigned to nobody

[2018-04-16 08:49] Alexvs07 commented on #120
1.Autencifikator generated codes for 5-6 sites, including for exchanges.
2.Disk C - free 17 GB, drive D - free 202 GB.
3.In the settings "About the browser Chrome" writes "
The latest version of Google Chrome is already installed
Version 65.0.3325.181 (Official build), (32 bit) ".
4. I run Google Chrome on behalf of the administrator.

[2018-04-16 08:51] Alexvs07 commented on #120
Nothing changed

[2018-04-17 17:18] maxvasil opened #122 "Issuer name is not decoded properly if it contains a space"
According to [Google Authenticator Key-URI format](https://github.com/google/google-authenticator/wiki/Key-Uri-Format#issuer), issuer name must be URL-encoded, but Authenticator-Extension doesn't properly decode it.

Steps to reproduce:
1. Consider the following totp URI, which has **ACME Co** as issuer name and corresponded QR code:

![qr](https://user-images.githubusercontent.com/1074493/3888549

[2018-04-18 09:16] Frohmen opened #123 "Insert code into current text box"
First I would like to thank you for a great extension.
This is actual not an issue but a feature request and I didn't find anywhere else to post it.

It would be great if there where an Insert button next to each code, which would insert the code into the current text box.

[2018-04-18 17:55] mymindstorm commented on #123
duplicate of #73, that is the closest we would get to that sort of feature if something like that was implemented

[2018-04-18 17:55] #123 closed, assigned to nobody

[2018-04-18 17:57] mymindstorm commented on #123
Also, thanks for your work on Crowdin! It will be shipped with 5.0.10

[2018-04-18 19:17] mymindstorm commented on #120
There isn't much info on this Chrome error. From what I can tell somehow the file Chrome was using to store your extension data got corrupted or another program is blocking chrome from accessing it.

The folder Chrome needs to access is:
[code]

Note that this may be a bit off since this directory is platform specific, look [here](https://chromium.googlesource.com/chromium/src/+/master/docs/user_d

[2018-04-20 05:01] Alexvs07 commented on #120
Maybe this happened after I deleted the backup files on the disk with CCleaner? Maybe this can be somehow corrected? If I update or reinstall my Authenticator, it will not recover? Or is everything lost?
![2018-04-20 07-34-28 bhghoamapcdpbohphigoooaddinpkbai](https://user-images.githubusercontent.com/35767218/39031458-ed954dcc-4470-11e8-9725-54bdf36c287c.png)

[2018-04-20 06:15] mymindstorm commented on #120
I've removed the second image, as it contains some of your account data. *Please read all instructions before continuing.*

---

1. For every account you had there will be a  pair of brackets starting with this `{` and ending with this `}`. Copy anything inside any brackets you find to a safe place.

Every pair is one of your accounts. The parts you need are the values for `"secret":` and `"accoun

[2018-04-20 08:24] Alexvs07 commented on #120
Thank you very much. I will sort this out

[2018-04-21 13:51] Alexvs07 commented on #120
I could not get. I deleted the Authenticator and loaded it again, but the console again found the same errors. I cleaned the console, manually entered the expression in the siblings {---} with my accounts, pressed Enter, the text was duplicated and nothing happened. Please tell me where the error is. If it does not complicate you, please elaborate on what I need to do.

[2018-04-21 17:15] mymindstorm commented on #120
Be careful about what you enter into the console, it could potentially make things worse. To reiterate, make sure you have a backup of everything you need before continuing with any of this.
- Have you tried deleting the folder with the log?
- Try reinstalling Chrome

Alternatively, we could try using the [Firefox version](https://addons.mozilla.org/en-US/firefox/addon/auth-helper/) or another app

[2018-04-21 18:48] #122 closed, assigned to mymindstorm

[2018-04-21 19:15] Alexvs07 commented on #120
Do you need to delete the folder with the log?

[2018-04-21 19:17] mymindstorm commented on #120
Yes, it might help if Chrome re-creates it.

[2018-04-21 19:24] Alexvs07 commented on #120
000003.log -это она?
![2018-04-20 07-34-28 bhghoamapcdpbohphigoooaddinpkbai](https://user-images.githubusercontent.com/35767218/39087979-b0ce38f2-45b2-11e8-9c8e-206f222dd3d4.png)

[2018-04-21 19:25] mymindstorm commented on #120
No, the folder named `bhghoamapcdpbohphigoooaddinpkbai`. Make a copy of the folder somewhere safe before deleting it.

[2018-04-21 21:26] Alexvs07 commented on #120
Thank you for your support. At me all has turned out.

[2018-04-21 21:28] mymindstorm commented on #120
Are you trying to say that it works again?

[2018-04-21 22:01] Alexvs07 commented on #120
Yes, it works as before

[2018-04-21 22:02] #120 closed, assigned to nobody

[2018-04-23 09:01] loy6491 opened #126 "Urldecode the querystring"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

I have a link: `otpauth://totp/xxxx?secret=yyyy&issuer=zz%20zz`

I hope that `%20` could be convert to ` ` (space)

It works well in iOS google authenticator

[2018-04-23 09:05] loy6491 commented on #126
duplicated

[2018-04-23 09:05] #126 closed, assigned to nobody

[2018-04-26 12:55] Geograph-us commented on #100
+1 same issue

[2018-05-02 15:54] eggnima opened #127 "Wrong Codes Generated"
When scanning a QR code with the following URL format:

[otpauth://totp/somename?secret=somesecretkey&algorithm=SHA1&digits=6&period=60&issuer=someissuer](url)

The account is created, but the codes generated are wrong, and cannot be authenticated. However, scanning the same QR code with the Google Authenticator iOS app generate codes that can be authenticated.

[2018-05-03 04:08] mymindstorm commented on #127
Have you tried hitting "Sync Clock with Google" in the menu and trying again?

If the above does not work can you generate an example secret that has the issue?

[2018-05-03 05:04] eggnima commented on #127
Yup, have already tried syncing, but the problem still persists.

Have generated another secret (bloz6njz26qdqr2pl7mddlne5mq7azvn) along with the QR code:

![get-frame](https://user-images.githubusercontent.com/1021142/39560652-64ba29ac-4ed2-11e8-8ce1-d57452a0d8ed.png)

[2018-05-04 22:00] mymindstorm commented on #127
I'm afraid I can't reproduce the issue. I've tried to match it with Google and Microsoft Authenticator and I can't seem to figure out what's going on.

- Try entering the secret into Authenticator using 'Manual Entry'
- [Try to correct Google Authenticator's time](https://support.google.com/accounts/answer/2653433?visit_id=1-636610666598232663-333511411&p=timesync&rd=1)
- Authenticator ignores the

[2018-05-05 12:28] eggnima commented on #127
@mymindstorm After some experimentation, I've some weird findings. The TOTP generated via Google Chrome extensions seem to all generate the same TOTP, but they cannot be authenticated:
- Authenticator (Chrome)
- 1Password (Chrome)

TOTPs generated by external apps can be authenticated successfully:
- Google Authenticator (iOS)
- 1Password (macOS)

What could be the cause?

[2018-05-05 13:40] mymindstorm commented on #127
Please note that I'm assuming that the computer you have Chrome on is
different from than the one you ran 1Password on.

TOTP stands for Time-based One-Time Password algorithm. The two biggest
deciding factors for what code gets generated are the secret and the
current time. Since you can generate correct codes from other devices we
can rule out the secret being incorrect as an issue. Additionally

[2018-05-05 16:02] eggnima commented on #127
@mymindstorm In actual fact, 1Password and Chrome are both running on the same Macbook Pro. I've also tried the following:

- Unchecking 'Set date and time automatically' in 'System Preferences', changing the date, and then rechecking 'Set date and time automatically'
- Changing different NTPs (Apple Asia, Apple Europe and Apple Americas/U.S.'
- Manually changing time zones and setting them back t

[2018-05-06 21:50] mymindstorm commented on #127
If you switch to [a new profile](https://support.google.com/chrome/answer/2364824) does it still happen?

[2018-05-07 03:46] eggnima commented on #127
@mymindstorm, creating a new profile, and switching to it nets the same result. :/

[2018-05-07 04:25] mymindstorm commented on #127
- Follow [these directions](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information#chrome) to get to the console
- Paste this into the console window, but don't hit enter yet
[code]
- Open Terminal on the device Chrome is running on
- Get ready to execute this command, but don't execute it yet.
[code]
Run the command in the terminal first and switch to the Chro

[2018-05-07 04:30] eggnima commented on #127
@mymindstorm , here are the results:

macOS Terminal: 1525667404
Chrome Console: 1525667405.092

So, quite close I'd say?

[2018-05-07 05:02] mymindstorm commented on #127
What was the value after offset?

On Sun, May 6, 2018, 11:30 PM eggnima <notifications@github.com> wrote:

[2018-05-07 05:54] eggnima commented on #127
@mymindstorm , my bad. Here's an updated result set:

macOS Terminal: 1525672387
Chrome Console: 1525672388.557, Offset: -1

[2018-05-08 14:58] mymindstorm commented on #127
Honestly, as long as you are 100% sure the secret value is correct I have no idea what could cause more than one Chrome extension to generate the wrong codes since your clock seems to be fine. I should have asked this earlier, but do all the accounts you add generate the wrong codes or is it just this one?

[2018-05-09 01:52] MrKornienko opened #129 "Additional security"
Hello, You have an terrific app, but it would be even safer if You added a password feature EVERY time user access one-time codes.
This is not convenient, but will protect against viruses RMS / RAT.
Please don't let hackers steal our funds.
Sincerely, Alexander.

[2018-05-09 06:11] LeonardoCiaccio commented on #104
I share this project used to manage information locally.
Lightweight and performing, it has features like automatic data encryption [LocalDB](https://github.com/LeonardoCiaccio/LocalDB)

[2018-05-10 02:43] mymindstorm commented on #104
@LeonardoCiaccio I don't think we would be able to use this since we currently use the [sync](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/storage/sync) storage space, which this doesn't seem to be compatible with your library. We only encrypt one key per entry so if we did use it we'd probably have to change a lot of small bits that would want access to the data even if it had a

[2018-05-10 02:51] mymindstorm commented on #116
@rcoscali I can't root my phone to test the commands needed to generate the JSON file, so if you could answer my previous question that would really be appreciated.

[2018-05-10 03:09] mymindstorm commented on #129
Hi Alexander,

Your password is only cached in memory while the browser is open, all you need to do  to clear the cache is to close the browser. It's hard to strike a good balance between security and convenience. This extension makes it a lot more convenient to access your 2FA codes at the cost of some security. If you have a high-value account such as a bank or exchange account the only way to b

[2018-05-10 09:02] LeonardoCiaccio commented on #104
something like this?

[code]

[2018-05-10 18:49] mymindstorm commented on #129
I forgot to mention that if you click the lock button in the top left it will re-lock the extension.

[2018-05-11 01:57] eggnima commented on #127
@mymindstorm, I actually had a similar issue with a 1Password Chrome extension, where the Chrome extension would generate an incorrect TOTP, but the 1Password App for macOS and iOS, even the 1Password web interface were correct.

Also, interestingly enough, the TOTP generated by the 'incorrect' 1Password Chrome extension was exactly the same as generated by Authenticator.

Eventually, their develo

[2018-05-11 04:42] MrKornienko commented on #129
Hello, the lock button became serviceable I have only after reinstalling the application, and this is really what I wanted. But I agree with You about using the phone, because with the help of the virus can know out any password.
Thank you for Your support and good luck.

[2018-05-12 01:18] mymindstorm opened #131 "Support period paramater"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

https://github.com/google/google-authenticator/wiki/Key-Uri-Format#period

https://github.com/Authenticator-Extension/Authenticator/issues/127#issuecomment-388236670

[2018-05-12 01:18] mymindstorm commented on #127
Weird, I didn't really consider that since Google Authenticator is supposed to ignore that. Mabye it's a difference between the iOS and Android versions? That would  explain why I couldn't reproduce. Anyway, since this issue is a bit long I'll close it and open a feature request at #131

Thanks for the help!

[2018-05-12 01:18] #127 closed, assigned to nobody

[2018-05-12 01:34] mymindstorm commented on #104
@LeonardoCiaccio that's pretty much what we already do. These are some of the parts that do decryption:
https://github.com/Authenticator-Extension/Authenticator/blob/4819fecfb3f948afe93748da9509854f54ce3044/src/models/storage.ts#L68-L85

https://github.com/Authenticator-Extension/Authenticator/blob/4819fecfb3f948afe93748da9509854f54ce3044/src/models/encryption.ts#L18-L53

[2018-05-12 04:07] #129 closed, assigned to nobody

[2018-05-15 21:29] #104 closed, assigned to nobody

[2018-05-17 22:16] mymindstorm opened #135 "v5.0.10 Release"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

We have five new languages ready for the next release. Thoughts on releasing a new version soon?

[2018-05-18 02:52] Sneezry commented on #135
I'm in travel, and will be back home on Sunday. I will release a new version to Chrome Web Store after I go back home.

[2018-05-18 03:13] mymindstorm commented on #135
Got it, just merge to release whenever it's most convenient for you and I'll release it then.

[2018-05-19 15:15] Sneezry commented on #135
Merged.

[2018-05-20 00:58] #135 closed, assigned to Sneezry

[2018-05-21 17:34] ghost opened #138 "Seach feature"
will be so hard add a search for this extensión?

[2018-05-21 17:53] mymindstorm commented on #138
We already auto filter by site, why do you want a search function?

[2018-05-21 17:57] #119 closed, assigned to Sneezry

[2018-05-28 09:04] chandrapratapsingh08 opened #139 "Use google authenticator android app MFA with google authenticator extension"
**Describe the feature you want:**

**Why do you want this feature in Authenticator?**
Hello Folks,

My query is that I am currently using google authenticator android application for MFA, now I install google authenticator extension in my chrome browser. How can I sync my all google authenticator android application MFA with the chrome extension.

Kindly suggest.

Thanks

[2018-05-28 09:31] Sneezry commented on #139
The official answer is No, you can't.

Authenticator extension is not a Google product, and it cannot sync data from Google products.

However, there is a workaround to make it possible (a rooted Android phone is required), but you need do it at your own risk.

See https://github.com/Authenticator-Extension/Authenticator/issues/116

[2018-05-29 10:23] isumairu commented on #138
because it'll be f---ing helpful. I find the auto filter often failed. I have many accounts. Search and/or sorting feature is a feature I need.
By the way, can anyone change the title of this thread to "search and sorting feature" or something more relevant?

[2018-05-29 11:00] isumairu opened #140 "Search, sort, sync setting and more feature request"
If you could fulfill these requests from me, that would be great.

1. Add search feature (I find Authenticator often fail to show only accounts of the site opened) and sort setting (I have many accounts and this extension seems to show them in no order. help me).
2. Add tooltips and more detailed description. What's dropbox's icon doing on the top bar? At what interval does Authenticator backup to

[2018-05-29 19:05] mymindstorm commented on #138
@isumairu if it can't auto filter it right add `::sitename` to the "Account Name" field. for instance my entry for `GitHub` would be `GitHub::github.com`

[2018-05-29 19:30] mymindstorm commented on #140
1. See #138, In regards to sorting you can go into edit mode and drag them to change their order.
2. That's a good idea, but it will take a while to translate the strings for any tooltips. The Dropbox icon appears when Dropbox sync is enabled. It attempts to sync to Dropbox every 30 days, if you need more info here is the relevant source:
https://github.com/Authenticator-Extension/Authenticator/bl

[2018-05-29 19:36] mymindstorm commented on #139
Additionally, if you want to export any codes you have in the extension there is a button on the top right of any code you can use to export it to other apps.

[2018-05-29 19:36] #139 closed, assigned to nobody

[2018-05-30 04:46] isumairu commented on #140
Thanks for your response.

Regarding your No. 1 reply, I'm aware of the drag-sort feature, but it's not enough nor practical for me. It can't even scroll continuously (I said I have many accounts, right?). Also, I still need search feature. Please.

Regarding No. 6, I have several question.
1. Can you please explain to me why is that Authenticator being a WebExtension inhibit you from making it ab

[2018-05-30 05:48] mymindstorm commented on #140
Our drag and drop support is very basic, the library we use does not support scrolling as you drag. Not much can be done about that, sorry.

I'm not against search, I was just thinking it feels a bit redundant with the auto-filter. Can you elaborate on where the auto-filter is failing you? Since you use the extension heavily you should be familiar with faults in filtering that most users don't not

[2018-05-30 06:53] isumairu commented on #140
Who's dropping f-bombs? Who's calling something useless?

Elaborate on where the auto-filter is failing me? Your tips on adding ::host is helpful, but w/o decent sorting option, even with Authenticator showing only accounts from the right site, I still have to scroll and find my account among almost a hundred entries. Can you see how search feature will be helpful in this condition?

I didn't want

[2018-05-30 23:55] mymindstorm commented on #140
You?
![image](https://user-images.githubusercontent.com/27789806/40749633-463f591c-642a-11e8-9a57-cbe7a91d193d.png)

By many I thought you had around 30 not even close to that many. Thanks for the suggestions. A pop-out mode and search would be useful.

---

Follow the [debugging steps](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information) to open a console a

[2018-06-01 19:00] mymindstorm opened #141 "Oprea Comaptibility"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

https://dev.opera.com/extensions/apis/

Shouldn't it be impossible to use the extension in Opera? Should we just change [this](https://github.com/Authenticator-Extension/Authenticator/wiki/Install-in-Opera) to say it's unsupported for the time being?

[2018-06-02 01:55] Sneezry commented on #141
It should just fall back to storage.local, but I'm not sure. I remember that I tested to add a new account in Opera, and it works.

[2018-06-02 01:56] #141 closed, assigned to Sneezry

[2018-06-07 11:36] Frohmen opened #142 "Insert code into current text field"
It would be great if Authenticator when clicking on a code instead of copying it would insert it into the current text field. This would ease up the use of having to paste the code into the required text field.

Thanks in advance!

[2018-06-07 16:14] mymindstorm commented on #142
Duplicate of #73

[2018-06-07 16:14] #142 closed, assigned to nobody

[2018-06-10 23:32] DKaos opened #145 "Can't enter password to decrypt"
When you click the authenticator icon, the usual password prompt appears. However, the window disappears as soon as you click the text box to enter password. Hence you can't use the extension at all.

Using Firefox  60.0.1 (64-bit) on Ubuntu 18.04 LTS

[2018-06-11 01:15] mymindstorm commented on #145
By window do you mean the enter password screen or the whole popup?

[2018-06-12 05:52] mymindstorm opened #146 "Make autofill compliant with AMO policy"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

[2018-06-12 05:52] mymindstorm opened #147 "Hide toolbar buttons in pop-out mode"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

[2018-06-12 07:21] Sneezry opened #148 "Confirmation of old Dropbox API key removal"
The old Dropbox API key `013qun2m82h9jim` will be removed because of secret leak in previous versions. The latest Dropbox API key is `mmx38seexw3tvps`. The latest Authenticator on Chrome Web Store has already changed to the latest Dropbox API key.

After we remove `013qun2m82h9jim` from Dropbox API key list, users with old version (v5.0.9 and below) will not be able to login Dropbox in the extensi

[2018-06-12 16:53] mymindstorm commented on #148
Yes, most of my users are on 5.0.10

https://addons.mozilla.org/en-US/firefox/addon/auth-helper/statistics/usage/versions/?last=30

[2018-06-12 16:53] mymindstorm commented on #148
What do you mean by secret leak?

[2018-06-12 17:38] #147 closed, assigned to mymindstorm

[2018-06-12 17:51] mymindstorm commented on #140
I've done 2, 5, and 6. 1 is being tracked in another issue and right now. 4 and 7 are blocked by other underlying sync issues right now, so I'm going to close this for the time being.

[2018-06-12 17:51] #140 closed, assigned to nobody

[2018-06-12 18:02] #148 closed, assigned to mymindstorm

[2018-06-13 19:18] g65jan opened #152 "enrypted codes"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

[2018-06-13 19:25] g65jan commented on #152
I put a generic security code on google authenticator, but since then all the codes on the pages they used were occult and I can not open them, how can I find it?

[2018-06-13 19:29] g65jan commented on #152
answer please for encryped codes,it is very important to me

[2018-06-14 08:54] supportsiden opened #153 "authenticator.cc - high risk web site blocked"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

![image](https://user-images.githubusercontent.com/23124588/41401839-233a02ee-6fc1-11e8-90a2-5d3c3447653a.png)

[2018-06-14 09:00] Sneezry commented on #153
This site hosts on GitHub, and it just redirects to this repo. You should ask your ISP for help.

[2018-06-14 19:01] mymindstorm commented on #152
Can you be more specific? What do you mean by "occult"? Are you sure you put your password in correctly? Do you have a backup?

[2018-06-14 19:07] g65jan commented on #152
hello! i mean authenticator turn off all my codes as encrypted after i give
it a general code as authenticator recomended..and no i have not backup

2018-06-14 22:01 GMT+03:00 mymindstorm <notifications@github.com>:

[2018-06-15 01:53] mymindstorm commented on #152
This probably means that you got your password wrong. I can't do anything about that except refer you [here](https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes).

If you are 100% sure you are using the correct password follow [these steps](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information) and paste any messages here.

[2018-06-15 02:04] mymindstorm commented on #153
I've submitted a request to sophos to re-evaluate our website.

[2018-06-15 02:04] #153 closed, assigned to nobody

[2018-06-23 23:27] #146 closed, assigned to mymindstorm

[2018-06-23 23:50] mymindstorm commented on #152
No response in over a week, closing.

[2018-06-23 23:50] #152 closed, assigned to nobody

[2018-06-23 23:51] mymindstorm commented on #145
No response in over more than a week, closing.

[2018-06-23 23:51] #145 closed, assigned to nobody

[2018-07-01 19:25] #138 closed, assigned to nobody

[2018-07-02 18:06] mymindstorm opened #156 "Featred on AMO"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

https://blog.mozilla.org/addons/2018/07/02/julys-featured-extensions-2/

[2018-07-02 18:45] Sneezry commented on #156
Awesome!

[2018-07-02 18:53] #156 closed, assigned to Sneezry

[2018-07-03 03:22] Sneezry commented on #156
How about adding this great news into README?

[2018-07-06 20:13] DavidDickins opened #157 "Import backup failed"
Hello, after reinstalling the operating system your application does not import the backup file, an error occurs. Important websites are held hostage. How to fix it?

**Platform:** Windows 10
-Browser: Hrome, Firefox.

[2018-07-06 20:46] DavidDickins commented on #157
In addition, the application does not import the newly created copy of the file. Which is made specifically for testing.

[2018-07-06 23:15] mymindstorm commented on #157
There is a known issue with restoring unencrypted file backups that will be fixed in the next release. For now, open the backup file in a text editor (E.g. Notepad) and follow the steps [here](https://github.com/Authenticator-Extension/Authenticator/wiki/Old-Backups)

[2018-07-06 23:15] #157 closed, assigned to nobody

[2018-07-07 02:16] DavidDickins commented on #157
Many thanks, your advice helped. Good luck.

[2018-07-07 12:19] Sneezry commented on #157
@mymindstorm this issue should already be fixed in master branch

https://github.com/Authenticator-Extension/Authenticator/commit/5a4487cfd2a1ca76636f6c9d1d5d64d663b4ebc4

[2018-07-09 03:49] Sneezry opened #159 "Discussion about giving user the last chance to save backup when they uninstall the extension"
It seems we cannot listen self-uninstall event, and what we can do is very limited.

There's a method that allows to open a URL when the extension is uninstalled. However, we still have two problems to use that method to help user download backup in the last minute:

1. The URL is in max length of 255. It is too short to pass backup data.
2. The URL must start with http: or https:, which means we

[2018-07-09 04:37] mymindstorm opened #160 "Pop-out mode in Windows is the wrong size"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

This is Windows specific.

window.innerWidth is 304, should be 320

[2018-07-09 05:05] mymindstorm commented on #159
I think you meant this:
https://developer.chrome.com/extensions/runtime#method-setUninstallURL
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/runtime/setUninstallURL
I don't think you'd be able to act on onUninstalled since Authenticator would likely be unloaded by then.

They probably don't let you do anything pre-uninstall since malicious extensions would abuse an event like that.

[2018-07-09 06:22] Sneezry commented on #159
I agree. Then let's just close this issue.

[2018-07-09 06:22] #159 closed, assigned to nobody

[2018-07-09 19:46] mymindstorm commented on #100
It's been three months and no new info on this has surfaced. If anyone can reproduce this using the latest stable version of Chrome and the extension then please open a new report.

[2018-07-09 19:46] #100 closed, assigned to Sneezry, mymindstorm

[2018-07-09 19:47] #116 closed, assigned to nobody

[2018-07-09 22:34] alystair opened #161 "CSS pie countdown timer"
**Describe the feature you want:**
I have no idea what you're doing behind the scenes to generate PNGs for the countdown timer, but there is an efficient way to do it with SVG and CSS animations.

To change the time it takes simply change the animation duration.
To continue it from a specific point simply change the last 100 in `stroke-dasharray:100 0 100;` to whatever % you want (remember to chan

[2018-07-10 00:51] mymindstorm commented on #161
This definitely needs an update

https://github.com/Authenticator-Extension/Authenticator/blob/ccb097dd5ca71fb3d4680906ee0e867651677ab8/view/popup.html#L46

https://github.com/Authenticator-Extension/Authenticator/blob/484e0667f95b6c1b6e7e333b26da9b9c8271d617/src/ui/entry.ts#L37-L54

[2018-07-10 02:16] Sneezry commented on #161
@alystair seems nice! Would you like to send a PR to this repo?

[2018-07-10 02:45] alystair commented on #161
TY, however really busy and didn't actually look at the actual code base other than inspecting the html via DevTools. //Edited because email reply was really mangled//

[2018-07-10 02:53] Sneezry commented on #161
@alystair That's okay. Then we will commit your code into the project. Thanks for your contribution!

[2018-07-10 03:05] alystair commented on #161
No problem - it seems like a great project, esp. with the QR code recognition.. I'll definitely look at the code base in the future to see if there's something I can improve things further :)

[2018-07-10 11:10] Sneezry commented on #73
The latest version has auto fill feature, close this.

[2018-07-10 11:10] #73 closed

[2018-07-11 00:57] ghost opened #164 "Respect subdomains when filtering"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

**Describe the bug:** <Describe the issue with Authenticator>
Authenticator is not recognizing TLD subdomains e.g.
different 2fa codes existing/utilized for foo.example.com and bar.example.com respectively but for each subdomain only the code is bar.exam

[2018-07-11 01:13] mymindstorm commented on #164
Is this related to filtering? If not:

You can't have more than one entry for the same secret. Check and make sure you aren't trying to add the same account secret twice.

[2018-07-11 01:46] Sneezry commented on #164
You can specific which domain to filter the entry. Add the domain to the issuer, and split them with ::

For example: GitHub::github.com

[2018-07-11 07:11] ghost commented on #164
Let me see if I can describe the matter better and how I reached to open this issue.

Got a vendor with 2 different portals on the same TLD but each portal with its own subdomain and each subdomain with its own 2fa engine and being independent from each other.

**TLD** -> example.com
1. SD -> foo.example.com -> secret 1234
2. SD -> bar. example.com -> secret 0987

What I am experiencing is that wh

[2018-07-11 17:03] Sneezry commented on #161
Done

[2018-07-11 17:03] #161 closed, assigned to nobody

[2018-07-12 12:48] attilahajdo opened #165 "Search-box Not Working"
**Describe the bug:**
Search box not working!
I am working on a big project so i have like 60 (secret's) added to Authenticator, but when i click on the search box and type any of (secret) name's NOTHING shows up. See attached screenshots.

![q](https://user-images.githubusercontent.com/41155536/42634066-e729b728-85ea-11e8-88db-e870aa4adb4e.png)

![q1](https://user-images.githubusercontent.com/411

[2018-07-12 15:32] mymindstorm commented on #165
Search currently doesn't look at the username field, the site name needs to be in the issuer field. If you want I can make you a script that copies the username to the issuer field.

[2018-07-13 02:11] Sneezry commented on #165
I find another issue: sometimes, especially when the entries are auto filtered, the search result only updates when you leave mouse from the search box in the first time. After that, it works fine.

GIF:

![example](https://user-images.githubusercontent.com/1621293/42668767-f98a7502-8684-11e8-8ca0-ab36f413b106.gif)

[2018-07-13 05:15] attilahajdo commented on #165
Im not an expert on with scripts or so, but what if i edit the secrets and copy paste the title field to issuer field ? It will work then ?

Or even better if you can make the script and help me implement it , it would be great. :)

[2018-07-13 20:13] mymindstorm commented on #165
@Sneezry seems to be that vue uses oninput to tell when a textbox updates, which doesn't like to update in certain cases. Need to change it to update onkeypress

Also, if I leave the extension open for long enough the timer circle gets desynchronised from the actual time left.

![image](https://user-images.githubusercontent.com/27789806/42711116-6a2a7c72-86ac-11e8-8c57-edf2672dd7a8.png)

@attilaha

[2018-07-14 16:09] Sneezry commented on #165
@mymindstorm keydown event makes more sense

[2018-07-16 19:20] mymindstorm commented on #165
@Sneezry in terms of behavior, should search look at the account name field?

[2018-07-16 23:28] Sneezry commented on #165
@mymindstorm some websites set account as issuer and leave issuer blank. Looking at account field makes sense.

[2018-07-17 04:38] attilahajdo commented on #165
@Sneezry  I believe the search should look at the Issuer field. It would be much easier  if you are working on a lot of projects like in my case. The script did not work for me, maybe i'm not doing something right. But i copied the Account name of all to Issuers field, and search works this way. The only downside of this is that i'll have to copy each, every time i have a new project to work on.

[2018-07-17 06:05] Sneezry commented on #165
@attilahajdo currently, the extension will only search issuer field. We will search for both issuer and account field in the next version.

[2018-07-17 06:12] attilahajdo commented on #165
thanks for the head's up @Sneezry . Waiting for the new version.

[2018-07-24 16:39] Sneezry commented on #131
Done.

[2018-07-24 16:39] #131 closed, assigned to nobody

[2018-07-25 00:25] Sneezry opened #168 "Show QR with period"

[2018-07-25 01:19] #165 closed, assigned to mymindstorm

[2018-07-25 03:39] #168 closed, assigned to Sneezry

[2018-07-25 04:42] attilahajdo commented on #165
sometimes the search box does not appear ? why ?

[2018-07-25 06:00] Sneezry commented on #165
Search box will not appear when:

1. You have less than 10 entries
2. The entries are filtered in current tab

You can always press `/` to call search box.

[2018-07-26 19:12] n074v41l4bl34u opened #170 "Support encrypted backup on Dropbox and/or other platforms"
Authenticator should support encrypted backup to Dropbox and/or other online storage platforms. Since export can already be encrypted it seems natural to enable this functionality to backup. Besides, automatic unencrypted backup is clearly a security risk.

[2018-07-27 04:32] xiaosheng778 opened #171 "报错"
Authenticator 身份验证器谷歌浏览器扩展程序-- 点击二维码图标显示捕捉失败
![image](https://user-images.githubusercontent.com/41770400/43301644-0c852d90-9199-11e8-8e11-66db6434ad02.png)

[2018-07-27 06:18] Sneezry commented on #171
刷新下页面。如果是本地页面或者本地图片，需要在扩展设置页面勾选允许访问本地资源。

[2018-07-27 07:40] Odenorde opened #172 "auto learn website chrome extensions"
Thx for this great extension. If I understand it correctly, the app will "automatic" know which code should be inserted based on the URL. For example, if I login to google apps, the apps suggest the google authentication code. If I want to login to outlook app, the app suggest the outlook authentication code.

Now I have a little issue with this. If I login to my Lastpass Extension the app suggest

[2018-07-27 07:56] Sneezry commented on #172
@Odenorde Thanks for your feedback.

The extension suggests entries in these ways:

1. Check if current page title contains issuer name.
  For example, if the issuer is **Google** and current page title contains Google, the entry will be suggested.

2. Check if current page domain contains issuer name.
  For example, if the issuer is **Google** and current page's domain is www.google.com.hk, the e

[2018-07-27 12:09] Odenorde commented on #172
Hi Li,

Thank you for the reply!

This is the page title when the "lastpass extension" pops up:

<title>Google Authenticator Multifactor Authentication</title>

The URL is "chrome-extension://hdokiejnpimakedhajhdlcegeplioahd/lp_toolstrip.html?browseraction=1&googleauth=1&trustexpired=0&trustlabel="

The only "lastpass entry" above is the extension ID (hdokiejnpimakedhajhdlcegeplioahd).

I see now

[2018-07-27 18:43] alystair opened #174 "QR scanner does not recognize certain QR codes"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

**Describe the bug:**
QR scanner does not recognize certain QR codes.

Attempt scanning [this QR Code](https://api.qrserver.com/v1/create-qr-code/?data=otpauth%3A%2F%2Ftotp%2Fbcu_site.test%253Alorin%2540barcraft.com%3Fissuer%3Dbcu_site.test%26secret%3DD7

[2018-07-27 21:20] mymindstorm commented on #174
The QR decoder library we use is old and not maintained well. Need to look into alternatives.

[2018-07-28 02:31] Sneezry commented on #174
Agree, but it's not an easy work. Most famous QR decoder libraries are not written in JS or TS. We are able to rewrite those libraries in TS, however, the cost is too much.

The current library works fine with high level ECC (M and above). For example:

![](https://api.qrserver.com/v1/create-qr-code/?data=otpauth%3A%2F%2Ftotp%2Fbcu_site.test%253Alorin%2540barcraft.com%3Fissuer%3Dbcu_site.test%26se

[2018-07-28 21:34] mymindstorm commented on #174
I found [this](https://github.com/cozmo/jsQR). It's actively maintained and written in TS. Made a branch to test it out at [qr-engine](https://github.com/Authenticator-Extension/Authenticator/tree/qr-engine).

[2018-07-28 21:38] #172 closed, assigned to nobody

[2018-07-30 00:33] mymindstorm opened #178 "Use manifoldjs in build script instead of makeappx"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

https://docs.microsoft.com/en-us/microsoft-edge/extensions/guides/packaging/using-manifoldjs-to-package-extensions

[2018-07-30 03:34] #171 closed, assigned to nobody

[2018-07-31 01:59] Sneezry opened #179 "Refine style sheet"

[2018-07-31 16:18] mymindstorm opened #180 "Assets"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

Do you have an svg of the logo? Microsoft Store needs a 150 x 150 and I'd like to make it less blurry.

[2018-07-31 16:19] #178 closed, assigned to mymindstorm

[2018-08-01 05:36] Sneezry commented on #180
How about this one https://github.com/Authenticator-Extension/Authenticator/blob/dev/images/icon.svg

[2018-08-01 22:17] mymindstorm commented on #180
That's just the part I needed, thanks.

[2018-08-01 22:17] #180 closed, assigned to Sneezry

[2018-08-01 22:40] mymindstorm opened #181 "Edge storage.sync.set broken"
[code]

The error:
- Is completely undocumented
- Only appears when packaged as an appx

I thought this was only happening because something wasn't provisioned for us on MSFT's side, guess I was wrong.

https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/18493567/

[2018-08-02 21:38] aaronbauman opened #182 ""New Permission" popup, but no permissions are listed"
Describe the bug: After restarting Chrome, 67.0.3396.99, Authenticator (v 5.1.1)  is disabled until i accept new permissions. (Sorry, I don't know what version was installed previously.)
However, the permissions dialog doesn't list any new permissions.
The extensions page says Authenticator doesn't require any special permissions.

Unclear whether this is an Authenticator issue or Chrome issue.

[2018-08-02 22:50] mymindstorm commented on #182
It's probably the `file://*/*` permission that was added in 5.1.1. It adds this switch (off by default) in extension settings:

![image](https://user-images.githubusercontent.com/27789806/43615255-57df90a4-967c-11e8-8f27-788cc0a9c9e0.png)

It lets Authenticator access local image files opened in Chrome if you turn it on.

[2018-08-03 00:52] Sneezry commented on #182
@aaronbauman Thanks for your feedback. We handle Authenticator permissions very carefully, and set a very strict [content security policy](https://github.com/Authenticator-Extension/Authenticator/blob/dev/manifest-chrome.json#L68) to protect user data.

We keep trying to reduce the extension permission scope to avoid permission abuse.

In previous version (5.0.2 and before), we request to inject a

[2018-08-03 11:07] darkj2k opened #183 "Icon instead of text for account name?"
It will be great if replace account name with icon as did by most authenticator apps or make it as an option.

[2018-08-03 13:18] aaronbauman commented on #182
Thank you both for the detailed responses.

[2018-08-03 14:04] #182 closed, assigned to nobody

[2018-08-04 09:59] Sneezry commented on #183
Good suggestion. However, using icon instead of account name needs Authenticator has permission to access favicon of website you visit. Authenticator has no permission to read data user visit on the web. So it's hard to implement.

[2018-08-04 13:12] darkj2k commented on #183
How about let user select their own icon?

[2018-08-05 07:42] erotavlasme opened #185 "Importing andOTP data"
Hi,
I can successfully import backup from freeOTP into the plugin. However, freeOTP is not updated and is considered not secure. So I switched to andOTP. Unfortunately, the JSON backup file uses a different format compared to freeOTP and the plugin.
Is there any way to import it?

andOTP JSON

[code]
plugin JSON

[code]

[2018-08-05 16:45] mymindstorm commented on #185
You can manually change it to our format. Here's the reference:
[code]

If you don't want to manually convert your backup, you can take the `"secret"` value and pate that into the manual entry screen.

[2018-08-05 18:37] mymindstorm commented on #181
Publishing a version that is on `edge-tempfix` that uses the local storage space for now.

[2018-08-06 07:17] erotavlasme commented on #185
Ok, I solved via manual entry. However, it is a long process. It would be useful to have an automatic import.

[2018-08-06 07:17] #185 closed, assigned to nobody

[2018-08-07 10:09] Sneezry opened #186 "Privacy Policy words"
It is incorrect to say

We never collect these data. The extension runs locally, and user data is never sent to us.

Privacy Policy has legal utility, we must regard it rigorously.

I personally strongly suggest to remove the Privacy Policy. Nether of us is a lawyer.

[2018-08-07 12:10] mymindstorm commented on #186
Didn't know those were legally enforcable. It's required by Microsoft store policy. I'll just take it down, and if we get removed so be it.

[2018-08-07 12:10] #186 closed, assigned to mymindstorm

[2018-08-07 16:15] mymindstorm commented on #186
Collects doesn't seem to imply transmitting data. It could be changed to "stores" for better clarification. I've looked through some other store listings and some haven't been forced to add a policy while others either have a full policy or don't take it too seriously.

The first thing I'm going to do if they deny the updated listing is contest it. If that fails we can either take down the listing

[2018-08-08 02:31] Sneezry commented on #186
Then we can reference Edge and Dropbox privacy policy for sync.

[2018-08-08 19:54] mymindstorm commented on #186
I'm not exactly sure if that's allowed and / or the proper way to word a clause like that to make it compliant. I don't think I can get out of making one so I'll just have it always use the local storage space (#181) and hide the Dropbox menu option for now ([identity isn't supported anyway](https://docs.microsoft.com/en-us/microsoft-edge/extensions/api-support/extension-api-roadmap)). That will k

[2018-08-08 20:11] mymindstorm commented on #186
I made a draft at [Edge Privacy Policy](https://github.com/Authenticator-Extension/Authenticator/wiki/Edge-Privacy-Policy).

[2018-08-09 10:42] Sneezry commented on #186
I still concern the word collect. If we have any reference about the word, the policy looks good.

[2018-08-10 11:55] authenticatorbot opened #188 "Feedback from Twitter user @Sneezry"
We are testing a new feature for Authenticator Extension project. You can post feedback on Twitter with #AuthenticatorFeedback tag, and a bot will open a new issue on GitHub with the tweet. https://t.co/vVtLjnm5HG

Origin tweet: https://twitter.com/Sneezry/status/1027885948430774272

[2018-08-10 20:18] mymindstorm commented on #188
@Sneezry want me to update docs with this?

[2018-08-11 00:43] Sneezry commented on #188
I need do more test before update the doc.

[2018-08-11 00:46] #188 closed, assigned to nobody

[2018-08-11 05:09] mymindstorm commented on #160
Looks like that thing I had adding the offset might be necessary after all.

[2018-08-15 20:11] #160 closed, assigned to mymindstorm

[2018-08-18 08:26] 89151591838 opened #190 "Antifactor"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser: [Chrome, Firefox, Edge]
 - Browser Version:
     No Antifactor      My    Browser: Google Chrome 68.0.3440.106 (WebKit 537.36)
Operating system: W

[2018-08-18 18:01] #190 closed, assigned to nobody

[2018-08-22 09:26] kirillk03 opened #191 "Recycle bin for deleted secrets"
Too clever by half with 2FA, did the first time and have not kept, or even removed because did not understand how it works. I thought that every time I will come QR code. Is there any way to recover the deleted key?

**Describe the feature you want:**
A trash can for deleted keys

**Why do you want this feature in Authenticator?**
Too clever by half with 2FA, did the first time and have not kept,

[2018-08-22 18:18] delmicio commented on #174
any workaround for those QR code not recongised?

[2018-08-23 00:01] mymindstorm commented on #174
Not exactly a simple problem to fix. For now you can just use manual entry.

[2018-08-23 00:11] delmicio commented on #174
yes, I've found that after an hour ... not that intuitive ... maybe you can add a tip about where to find it when scanner could't get the QR code for more than 2 times.

In my case they just gave me the QR code and nothing else ... So I used a thir party service web servide to upload the code and get the information.

[2018-08-24 05:47] Sneezry commented on #188
The bot works fine in last two weeks. Let's update doc and issue template.

[2018-08-25 22:59] authenticatorbot opened #193 "Feedback from Twitter user @mymindstorm"
test' console.log('test') " console.log('test') #AuthenticatorFeedback

Original tweet: https://twitter.com/Brendan/status/1033488444872445958

[2018-08-25 22:59] #193 closed

[2018-08-25 23:00] mymindstorm commented on #193
It uses display name and not username?

[2018-08-25 23:01] mymindstorm commented on #193
twitter.com/Brendan/status/1033488444872445958 should be twitter.com/mymindstorm/status/1033488444872445958

[2018-09-10 06:21] Sneezry opened #196 "authenticator.cc has been blacklisted in multiple scanners"
See: https://www.virustotal.com/#/url/6e5e26f5840b51143488c1259eb50d45566d36e585a35e21c9a28a921a2b4896/detection

Have no idea why multiple scanners regard our site as a risk.

Here's details from McAfee: http://www.siteadvisor.com/sitereport.html?url=authenticator.cc

![snipaste20180910_141953](https://user-images.githubusercontent.com/1621293/45279762-a787ed80-b504-11e8-86d8-4afb7aefb796.png)

#

[2018-09-10 06:21] jpfleury opened #197 "Code autofilled"
Hi,

I'm using Authenticator 5.1.1 (Firefox 62, Xubuntu 18.04). On the [release notes for the version 5.1.0](https://github.com/Authenticator-Extension/Authenticator/releases/tag/v5.1.0), it says that "Codes can now be automatically inserted to a page".

How does it work? I don't see such options in my version.

Thanks for this very useful addon.

[2018-09-10 06:35] Sneezry commented on #197
You can enable it from Settings -> Popup Page -> Use Autofill

[2018-09-10 07:09] jpfleury commented on #197
Thanks. So I checked it, but it doesn't seem to work. For example, with Github, when I log in, there's only one entry on Authenticator, but the field is not autofilled:

![image](https://user-images.githubusercontent.com/687082/45281616-59440180-b4a6-11e8-87e8-f419f3b4bfcd.png)

Is that the purpose of this option?

[2018-09-10 07:11] Sneezry commented on #197
Indeed. GitHub uses tel type input box (for telephone number) instead of text box. We will add specific support for GitHub in the next release.

[2018-09-10 15:41] mymindstorm commented on #196
This is probably because we use the `<meta>` tag to redirect, maybe you should switch it to using a 301 redirect?

I've updated the table a bit.

[2018-09-11 12:18] Sneezry commented on #196
Our site is hosted on GitHub Pages which doesn't support 301 redirect. I'll make a real home page for the project soon.

[2018-09-12 04:02] mymindstorm commented on #196
Isn't that something you can set from the domain registrar? They all tend call it something different.

[2018-09-12 06:24] Sneezry commented on #196
No. This domain is registered with a Chinese company. China government doesn't allow domain registrar to support 301 redirect service.

[2018-09-12 06:25] Sneezry commented on #196
And that is the reason Google.cn doesn't redirect to Google.com.hk

[2018-09-12 10:02] hchely opened #198 "battle.net add issue"
How add the battle.net , the secret key is wrong.
from battle.net authen app only got the SN and recovery key. which is using to add authenticator?
the SN like CN-4digital number-4digital number-4digital number-4digital number
the recovery key is A-Z and some digtal number mixed string.
but any those type in authenticator , it is show error for me. it is not base32 of HEX.

[2018-09-12 14:57] Sneezry commented on #198
You need discover secret first. https://github.com/Sneezry/PyGetBlizSecret

[2018-09-15 21:01] #198 closed, assigned to nobody

[2018-09-15 21:11] mymindstorm commented on #198
@Sneezry do you have a link to a utility that can get the Steam secret, or should I patch some docs together from [this](https://github.com/SteamTimeIdler/stidler/wiki/Getting-your-%27shared_secret%27-code-for-use-with-Auto-Restarter-on-Mobile-Authentication)?

[2018-09-15 21:32] #197 closed, assigned to nobody

[2018-09-16 03:29] Sneezry commented on #198
I do not have any resource about Stream secret now. Please patch the docs or add a link to the given docs above, thanks.

[2018-09-18 03:52] Sneezry commented on #196
We have sent removal request to all of these security engines. Some have already removed our domain from blacklist, however, some haven't.

The site content is open sourced on GitHub, and this is a ridiculous mistake for these security engines obviously.

We have waited for more then one week, and I believe that engines those haven't taken action will not take action in the future. So I will close

[2018-09-18 03:52] #196 closed, assigned to nobody

[2018-09-22 02:26] authenticatorbot opened #201 "Feedback from Twitter user @FRUHOMEN"
HOLA MI CELULAR NO SINCRONIZA CON LOS SERVIDORES DE GOOGLE #AuthenticatorFeedback

Original tweet: https://twitter.com/FRUHOMEN/status/1043324362546466817

[2018-09-22 18:29] mymindstorm commented on #201
Authenthicator is not affiliated with Google Authenticator.

[2018-09-22 19:50] #201 closed, assigned to nobody

[2018-09-23 09:02] ghost opened #202 "auto-close/collapse ui.popup after code been copied"
FF 64.0a1 (64-bit) on W10

**Describe the feature you want:** auto-close/collapse ui.popup after code been copied

**Why do you want this feature in Authenticator?** After the code been copied (having clicked into the ui.popup) the ui.popup remains open (and often covering the code field in the website) and thus needing another click to collapse the ui.popup.

It would benefit the workflow thus if

[2018-09-24 18:42] authenticatorbot opened #203 "Feedback from Twitter user @Pritesh Ramteke"
only my gmail account is encrypted and it displays enter correct password to decrypt #AuthenticatorFeedback

Original tweet: https://twitter.com/-/status/1044294916006768640

[2018-09-24 19:53] mymindstorm opened #204 "Twitter bot original tweet link uses display name instead of username"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

Hence broken links. Example at #203

Use `screen_name` instead of `name`

[2018-09-25 04:59] authenticatorbot opened #206 "Feedback from Twitter user @李小蜗"
Test for Authenticator feedback bot #AuthenticatorFeedback

Original tweet: <https://twitter.com/李小蜗/status/1044451276681957377>

[2018-09-25 05:01] #206 closed

[2018-09-25 05:10] authenticatorbot opened #207 "Feedback from Twitter user @李小蜗"
Another test for Authenticator feedback bot #AuthenticatorFeedback

Original tweet: https://twitter.com/-/status/1044452962200805377

[2018-09-25 05:11] #207 closed

[2018-09-25 05:13] Sneezry commented on #204
I did a workaround. The origin tweet url will not contain user display name.

There's an issue to show urls contain spaces on GitHub. I have tried

* `<url contains spaces>`
* `[url contains spaces](url contains spaces)`

Neither works.

[2018-09-25 05:17] Sneezry commented on #204
Also, I fail to find user name (instead of display name) in Azure Logic App.

There're two parameters related with user name:

* User name (what I use)
* User display name

I will make more test for the real user name (twitter user ID)

[2018-09-25 05:36] authenticatorbot opened #208 "Feedback from Twitter user @Sneezry"
#AuthenticatorFeedback test for user name

Original tweet: https://twitter.com/Sneezry/status/1044459522880761857

[2018-09-25 05:43] #208 closed

[2018-09-25 05:47] authenticatorbot opened #209 "Feedback from Twitter user @Sneezry"
Hi Authenticator feedback bot, are you working? #AuthenticatorFeedback

Original tweet: https://twitter.com/Sneezry/status/1044462363343089665

[2018-09-25 05:59] #209 closed

[2018-09-25 06:00] Sneezry commented on #204
Fixed.

[2018-09-25 06:00] #204 closed, assigned to Sneezry

[2018-09-25 14:28] mymindstorm commented on #204
Oh, I thought you were using the Twitter API directly. Thanks for the fix.

[2018-09-25 15:16] mymindstorm commented on #170
Encrypted online backup and Drive support are done and part of 5.2.0, are there any specific online storage platforms that you want?

[2018-09-25 23:25] mymindstorm opened #210 "The import backup page is broken"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

I forgot a reference. @Sneezry fix in release as 5.2.1 #211

[2018-09-26 02:32] Sneezry commented on #210
Do we need take further action on this?

[2018-09-26 02:36] mymindstorm commented on #210
It's already fixed, just push the new version and stop deploying 5.2.0 if you haven't already started sending it out

[2018-09-26 02:38] Sneezry commented on #210
OK, got it.

[2018-09-26 02:38] #210 closed, assigned to Sneezry, mymindstorm

[2018-09-26 05:16] Sneezry opened #212 "Google Drive in Chrome problems"
![snipaste20180926_131515](https://user-images.githubusercontent.com/1621293/46058594-5b88aa00-c18e-11e8-8c71-77163ab7fcc3.png)

[2018-09-26 05:22] mymindstorm commented on #212
I restricted the client id chrome uses to only accept requests when the extension id matches the one in the web store.

Set [key](https://developer.chrome.com/apps/manifest/key) to `bhghoamapcdpbohphigoooaddinpkbai` and try again

[2018-09-26 05:24] mymindstorm commented on #212
If you can't get that to work, you can temporarily change the allowed extension id [here](https://console.developers.google.com/apis/credentials/oauthclient/292457304165-u8ve4j79gag5o231n5u2pdtdrbfdo1hh.apps.googleusercontent.com?project=marine-actor-215720 ) since it's not in use yet.

[2018-09-26 05:29] Sneezry commented on #212
I am trying to create a new app key for local test.

[2018-09-26 05:31] Sneezry commented on #212
Where can I get the secret from the console? I cannot find it in the downloaded JSON file.

[2018-09-26 05:46] mymindstorm commented on #212
You don't need a secret for a chrome client id. Don't set that one in credentials.ts, set it in the chrome manifest

[2018-09-26 05:56] Sneezry commented on #212
It works now. However, I find two other issues.

1. Logout Google Drive doesn't work correctly (token is undefined)
2. Sign in Dropbox doesn't work

I will do more test and update the result here.

[2018-09-26 12:00] Riajyuu opened #213 "Firefox Android"
**Describe the feature you want:**
Rework UI in responsive design so that it looks fine on Firefox Android.

**Why do you want this feature in Authenticator?**
To get TOTP code on Android

[2018-09-26 13:50] mymindstorm commented on #212
1. This is probably it:
[code]
2. Again, your extension ID needs to be `bhghoamapcdpbohphigoooaddinpkbai` or the generated redirect url for dropbox will be wrong and result in a 400. [Example broken](https://www.dropbox.com/oauth2/authorize?response_type=token&client_id=mmx38seexw3tvps&redirect_uri=https%3A%2F%2Fdhkfjkknlpflbjppmibcjlphnjhkmdce.chromiumapp.org%2F), [Correct auth url](https://www.d

[2018-09-26 14:00] mymindstorm commented on #213
Authenticator will not support Firefox for Android. Use Google Authenticator or any alternative. All it takes to get the code for use in a mobile app is to hover over a code and click the QR button at the top right.

[2018-09-26 14:00] #213 closed, assigned to nobody

[2018-09-30 02:11] rosuH opened #214 "[Crash] Installing this extension causes the latest version of Vivaldi to crash"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

**Describe the bug:** On the latest version of the [Vivaldi](https://en.wikipedia.org/wiki/Vivaldi_(web_browser)) browser, installing this extension will cause the browser to crash. Now

[2018-09-30 02:21] mymindstorm commented on #214
This is definitely an issue with Vivaldi itself. Report here:
https://vivaldi.com/bugreport/

On Sat, Sep 29, 2018, 9:12 PM rosuH <notifications@github.com> wrote:

[2018-09-30 02:27] rosuH commented on #214
Thank you. I had reported the bug.

[2018-09-30 08:07] #214 closed, assigned to nobody

[2018-10-01 00:26] #203 closed, assigned to nobody

[2018-10-01 23:30] mymindstorm commented on #212
fixed in eaaf0add1b34233f1090bbe51498e64b24abb1ea

[2018-10-03 06:24] xPucTu4 opened #215 "Battle.Net authenticator is unusable"
**Describe the bug:**
This extension shows 6 digit codes and supports Battle.Net, however Blizzard require 8 digits from in their authenticator, so this is kind of broken.
One solution would be in case of Battle.Net to show 8 digits, however the better solution is to allow configuration for each authenticator for 4-8 digits for example.
Also in the case of Time OTP it would be good to allow to cha

[2018-10-03 10:47] Sneezry commented on #215
Did you select Battle.net type for Battle.net account?

![snipaste20181003_184508](https://user-images.githubusercontent.com/1621293/46405981-9796ae80-c73c-11e8-9197-5cf676c89554.png)

We do support 8-digit code:

![snipaste20181003_184707](https://user-images.githubusercontent.com/1621293/46406040-ca40a700-c73c-11e8-933e-18b1879db48d.png)

[2018-10-03 10:55] Sneezry opened #216 "Auto filter after unlock at first time"
Generally, the extension will filter code for specific website. However, if we type master password to unlock the extension first time, auto filter doesn't work.

[2018-10-03 17:48] xPucTu4 commented on #215
Yes, the type that I was selected was not Battle.net.
Sorry for the false issue.
Its working.

[2018-10-03 18:47] #215 closed, assigned to Sneezry

[2018-10-04 20:54] mymindstorm commented on #212
The identity API is a real pain since we can't verify that given redirect URIs are ours, plus the platform disparity that Google adds is annoying me. Thoughts on ditching the identity API completely and just modifying and injecting [dropboxtoken.js](https://github.com/Authenticator-Extension/Authenticator/blob/dev/js/dropboxtoken.js) into authenticator.cc/oauth to handle what `launchWebAuthFlow` d

[2018-10-04 21:13] mymindstorm opened #217 "Update to Vue 2.x?"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

Not sure if it's worthwhile, but it's nice to not be an outdated version.

https://vuejs.org/v2/guide/installation.html#CSP-environments

vue-migration-helper output:
[code]
[code]

[2018-10-04 21:13] mymindstorm opened #218 "Verify Github organization domain"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

We can get a fancy verified stamp by doing [this](https://github.com/orgs/Authenticator-Extension/domain/MDE4Ok9yZ2FuaXphdGlvbkRvbWFpbjc3NA==/verification_steps)

https://blog.github.co

[2018-10-05 08:50] Odenorde opened #219 "Autolock after a certain amount of time."
Suggestion: Add a setting for autolock after a certain amount of  #time.
(for example: after using the authenticator app, the app locks after 30 minutes so you have to type authenticator password again.)

**Describe the feature you want:**

**Why do you want this feature in Authenticator?**

[2018-10-05 10:30] Sneezry commented on #218
Done.

[2018-10-05 10:30] #218 closed, assigned to Sneezry

[2018-10-05 10:33] Sneezry commented on #217
Let's slow down. We still have some bugs to fix and some feature requests to complete. Availability and stability should be the highest priority.

[2018-10-05 15:50] mymindstorm commented on #217
This is more of a backlog thing. Not really important to do, just wanted to throw it in the list of things still needed to do.

[2018-10-09 07:42] Sneezry commented on #212
There're still some small issues for Google Drive:

1. Sign in Google Drive, and remain popup open after sign in successfully, go to settings, backup, Google Drive, Sign in button remains.
2. Logout Google Drive, close popup page. Open popup page again, and sign in Google Drive, always get failure. Relaunch Chrome will fix the issue.

I will try to fix these issues in these days if I have time.

A

[2018-10-09 20:48] mymindstorm commented on #212
1. Run _ui.update somewhere in here after authenticator.xxxToken is set:
https://github.com/Authenticator-Extension/Authenticator/blob/109f4fcd6f7d22bde59f062414ddc37c24279be5/src/popup.ts#L128

2. [This](https://developer.chrome.com/apps/identity#method-removeCachedAuthToken) probably needs to be called around here since we revoke tokens now
https://github.com/Authenticator-Extension/Authenticato

[2018-10-11 13:47] vickijeffers commented on #216
I don't know what to do?

[2018-10-11 13:48] vickijeffers commented on #216
Help me please

[2018-10-11 13:58] mymindstorm commented on #216
@vickijeffers be more specific. Do you want to know how to stop it from filtering?

[2018-10-12 09:01] fdenesreply opened #221 "Change search key"
Add "filter as you type" feature (or at least a filter feature) so that after opening the pop-up anyone can find the account they need.

I'm using the extension to access a single site with multiple logins (a SaaS we resell and we need to give support to many customers with many different credentials, so 1 site, many users).

[2018-10-12 15:41] mymindstorm commented on #221
Feature already exists, pressing "/" will open up a search bar.

On Fri, Oct 12, 2018, 4:01 AM Francesco De Nes <notifications@github.com>
wrote:

[2018-10-13 20:19] ghost opened #222 "Nextcloud Sync"
**Describe the feature you want:**
A way to sync on Nextcloud our data (hor at least choose a local directory (the nextcloud directory), for the sync.

**Why do you want this feature in Authenticator?**
Because use dropbox or drive is not very openmided for a service (if used on firefox), firefox user want privacy, so google and dropbox ...

[2018-10-13 20:24] #170 closed, assigned to nobody

[2018-10-14 04:51] mymindstorm commented on #222
It would be nice to have Nextcloud support, but due to content security policy the extension needs to know exactly what endpoints it will be communicating with beforehand. This effectively makes it impossible to add Nextcloud support

[2018-10-14 05:46] authenticatorbot opened #224 "Feedback from Twitter user @mzahidmustafa"
#AuthenticatorFeedback

Original tweet: https://twitter.com/mzahidmustafa/status/1051348179030106113

[2018-10-14 09:20] ghost commented on #222
This effectively makes it impossible to add Nextcloud support
Hum no, some other addon (floccus, passman, ...) do it, so it's possible .......

[2018-10-14 14:01] #224 closed, assigned to nobody

[2018-10-14 14:04] Sneezry commented on #222
@aelisya Authenticator has a very strict policy to access user data. Authenticator only requires necessary permissions. If Authenticator requires all data user access to internet (do the same as floccus, passman, ...), it's an easy work to support Nextcloud.

[2018-10-14 14:06] Sneezry commented on #222
@mymindstorm Maybe auto save backups locally can be a workaround for this case

[2018-10-14 14:44] Sneezry commented on #212
Views should update automatically, and that is the reason we use Vue. If the view is not updated after we change variables, we should review the code.

In this issue, we use `authenticator.driveToken` to save Google Drive Token directly (`authenticator.driveToken`'s value is the token itself), it's a bad design (this issue shows the reason). A better way is to use an object to store values. Such a

[2018-10-14 15:52] Sneezry commented on #212
Google Drive Token issue fixed in https://github.com/Authenticator-Extension/Authenticator/commit/9fb1b1b628864a0ef466a1ca44787d03bb892b9e

[2018-10-14 16:02] Sneezry commented on #212
Remove token cache issue fixed in https://github.com/Authenticator-Extension/Authenticator/commit/8dc0044e037b63b90985de22b01233f2bd6ba393

[2018-10-14 16:03] Sneezry commented on #212
All issues fixed.

[2018-10-14 16:03] #212 closed, assigned to Sneezry

[2018-10-14 16:05] mymindstorm commented on #212
One last thing for this, if a refresh token expires / is revoked and a request gets 401ed should we prompt to re-authenticate?

[2018-10-14 19:12] Sneezry commented on #212
Yeah, we should tell the user token has been expired.

[2018-10-14 21:18] mymindstorm commented on #222
That works, though it would only be able to save files in the Downloads directory.

https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/downloads/download

[2018-10-14 21:21] mymindstorm opened #227 "Auto backup will only backup to one service if multiple are logged in"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

https://github.com/Authenticator-Extension/Authenticator/blob/8dc0044e037b63b90985de22b01233f2bd6ba393/src/popup.ts#L66

If Dropbox and Drive are signed in, it will only upload to Dropb

[2018-10-14 21:43] authenticatorbot opened #229 "Feedback from Twitter user @coinflayer"
Добавил 5 аккаунтов, сохранил резервную копию с паролем. При просмотре копии только 3 зашифрованних а 2 нет. #AuthenticatorFeedback

Original tweet: https://twitter.com/coinflayer/status/1051588853318991872

[2018-10-14 21:47] mymindstorm commented on #229
- Can you fully close and open your browser, confirm that the accounts are there, and then download a backup again?
- If the same entries are missing from the encrypted backup, are they missing from an unencrypted backup?
- Please follow [these steps](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information).

[2018-10-16 20:54] mymindstorm commented on #212
Potential problem: https://help.github.com/articles/about-token-scanning/#token-scanning-for-public-repositories

[2018-10-16 21:00] mymindstorm commented on #229
Are you logged into a browser sync account?

[2018-10-17 18:52] Benelux11 opened #230 "My authenticator does not work in Google Chrome browser"
My authenticator does not work in Google Chrome browser
Writes that the code is wrong. And in the firefox browser, everything is working fine. What could be the problem?

[2018-10-17 21:21] mymindstorm commented on #230
If you test using https://security-totp.appspot.com/ in chrome is it still invalid?

[2018-10-18 15:25] brother1p commented on #229
Проблема не в синхронизации, проблема в шифровании! При шифровании файла json не все аккаунты появляются в зашифрованном виде!
https://i.gyazo.com/416293955658043178b9e26768ee084f.png

[2018-10-18 21:47] mymindstorm commented on #229
I understand that. There are some cases where browser sync can mess up encryption, so I'd appreciate it if you'd answer that question.

In any case, opening and closing it a few times (after unlocking it) should be enough to make it re-encrypt the entries. If that doesn't work follow [these steps](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information).

[2018-10-20 16:48] #227 closed, assigned to nobody

[2018-10-22 21:50] #216 closed, assigned to Sneezry

[2018-10-26 14:26] fdenesreply commented on #221
Hi, it doesn't work for all the layouts. For instance in italian layout where the "/" is over the number 7 (so shift + 7) the search doesn't pop up. It'd be great to have it configurable or at least not sensitive to the modifiers.

[2018-10-27 13:19] #229 closed, assigned to nobody

[2018-10-27 13:19] #230 closed, assigned to nobody

[2018-10-28 14:34] ghost opened #235 "Transferwise token not accepted"
Great app! All other tokens works perfect but when I am given the token from the Transferwise website account, it is not accepted by Authenticator. I have tried with spaces, no spaces, dashes and no dashes.

[2018-10-28 17:22] mymindstorm commented on #235
Transferwise only lets you do 2FA via their own app or SMS, Authenticator won't work with Transferwise.

[2018-10-28 17:22] #235 closed, assigned to nobody

[2018-10-29 07:56] qasims opened #236 "Autolock after sometime"
**Describe the feature you want:**
Since it is an authenticator it should be more secure. It is good to have some kind of autolock feature after a minute or so.

**Why do you want this feature in Authenticator?**
It very easy to forget manual lock by clicking on lock button which is security risk.

[2018-10-29 08:43] Sneezry commented on #236
Duplicate with https://github.com/Authenticator-Extension/Authenticator/issues/219

[2018-10-29 08:43] #236 closed, assigned to nobody

[2018-10-29 19:21] authenticatorbot opened #237 "Feedback from Twitter user @jbdiwancomeback"
#AuthenticatorFeedback

Original tweet: https://twitter.com/jbdiwancomeback/status/1056988072015998976

[2018-10-29 19:21] #237 closed

[2018-11-02 08:01] titan60 opened #238 "2FA"
Hi.
I have a problem with 2-factor authorization after changing time for winter time .
1. Authorization was in English (version 5.1.1), and became in Russian .
2. From authorization gone sites : - app.stex.com ; www.livecoin.net ; novaexchange.com ; ccrb.io and so on .
3. I couldn't copy the authorization because I didn't understand the English translation .
4. I ask you to restore my authorizatio

[2018-11-03 16:52] mymindstorm commented on #238
Can you clarify what you have a problem with? Do you need help with the translations or are generated codes wrong?

[2018-11-03 19:58] titan60 commented on #238
Hi.
I have a problem with 2-factor authorization after changing time for winter time .
1. Authorization was in English (version 5.1.1), and became in Russian .
2. From authorization gone sites : - app.stex.com ; www.livecoin.net ; novaexchange.com ; ccrb.io and so on .

--
Igor Filippov

[2018-11-06 22:12] fartovi7777 opened #239 "System time off"
Hello. Two questions.

1. Scan qr code on the right sites. All sites that try to connect to your authenticator write the wrong code? what is the reason ?
2. In the settings of the application, I click the "synchronize time google" button in Settings. The attachment gives the error: "Attention! Your local clock is too far. Please correct before continuing."

[2018-11-07 22:25] mymindstorm commented on #239
Your system time is off. You should sync with an NTP server.

1. <kbd>Win</kbd>+<kbd>R</kbd> (Open run)
2. Type `timedate.cpl` and press enter
3. Go to the 'Internet Time' tab and click 'Change settings...'
4. Click 'Update now' and make sure it syncs successfully
5. Go to authenticator and sync clock with google again
6. Test to see if time is correct using [this site](http://security-totp.appspo

[2018-11-07 22:30] mymindstorm commented on #238
Again, please be more specific. What language do you want to use? Is the current language English or Russian? Did the generated codes stop working after you adjusted for winter time?

[2018-11-08 12:32] ovidiubuligan opened #240 "Copy the Auth code with Ctrl+C"
I want to be able to at least select the text of the 2fa code .
I am using this for some sites that require 2fa   and it is arguably some extra work remembering those 6 digits each time just because I cannot Ctrl+c the code.

[2018-11-08 13:17] ovidiubuligan commented on #240
**My mistake !** I had 3 monitors open and the popup for "Allow clipboard usage" was on a different monitor  . It works  with just clicking on the code and it is automatically copied to clipboard.

[2018-11-08 13:17] #240 closed, assigned to nobody

[2018-11-09 04:16] vickijeffers commented on #239
Forgive my ignorance, I'm learning. I can't figure out how the Authenticator works. But I know my time is off. Thanks for the fix please help an old Gramma who's young at heart.

[2018-11-10 10:01] LeonardoCiaccio opened #241 "Facebook 2Factor"
Windows 10; Firefox 63.0.1 (64 bit); Your extension 5.2.1

On Facebook not recognize the QR

[2018-11-11 11:02] artem1s1 opened #242 "Password window closes on first click"
Trying to set password for encrypting secrets:

settings > security --> window with 2 fields for passwords opens up.
as soon as I now click onto the window to set the cursor in the field, the whole authenticator window closes.

This is on ubuntu 18.04.01, using firefox quantum 63.0 (the same issue was reported already ( https://github.com/Authenticator-Extension/Authenticator/issues/145) but then

[2018-11-11 22:03] mymindstorm commented on #242
This sounds like a bug with with Firefox. Can you follow [these steps](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information#firefox) and paste any messages here while reproducing the issue?

[2018-11-11 22:04] mymindstorm commented on #241
Duplicate of #174, use manual entry as a backup.

[2018-11-11 22:04] #241 closed, assigned to nobody

[2018-11-12 09:26] artem1s1 commented on #242
thanks for the quick reply.
not sure if I did everything correctly, but here's the output:
[code]
tell me if you need anything else.. thanks!

![image](https://user-images.githubusercontent.com/44942275/48338343-b191ae00-e665-11e8-8cab-040a3a7e997c.png)

[2018-11-16 00:43] mymindstorm commented on #242
Seems to be an issue with Firefox, I ran Ubuntu in a VM with same version and was able to reproduce. Using the same Firefox version in Fedora 28 did not cause the bug.

I've reported the bug in Ubuntu's bug tracker.

https://bugs.launchpad.net/ubuntu/+source/firefox/+bug/1803631

[2018-11-16 01:30] #238 closed, assigned to nobody

[2018-11-16 11:46] symbion6 opened #243 "Authenticator icon is not visible in Chrome"
**Describe the bug:**
Authenticator icon was displayed in the extensions bar for weeks.
Since yesterday, the icon is gone. I've tried turning the extension on and off, restarting Chrome, but nothing works. It's gone, I cannot access Authenticator.

**Platform:** MacOS
 - Browser: Chrome
 - Browser Version: 70.0.3538.102

![screen shot 2018-11-16 at 12 45 47](https://user-images.githubusercontent.c

[2018-11-16 23:28] #239 closed, assigned to nobody

[2018-11-17 02:54] mymindstorm commented on #243
Check the three dots menu, Chrome will put extensions there if you have too many in the main bar. If it isn't there you should file a bug with Chrome [using these steps](https://support.google.com/chrome/answer/95315?co=GENIE.Platform%3DDesktop&hl=en)

[2018-11-17 02:54] #243 closed, assigned to nobody

[2018-11-17 12:40] symbion6 commented on #243
Wow, so easy to overlook....thanks for the help! Best Regards

[2018-11-20 07:13] cankmeyil opened #244 "autofill OTP fields"
hello,

can it automatically fill the OTP areas according to the given rules? for example web address and input element id?

otherwise a quick copy according to the web site name will be ok.

thank you in advance

[2018-11-20 21:42] mymindstorm commented on #244
- You can copy by left clicking a code
- Sites will auto-filter if the site name is in the issuer or account name field
- Check popup settings -> autofill for autofilling codes

[2018-11-20 21:42] #244 closed, assigned to nobody

[2018-11-24 17:36] kwamiii commented on #174
if anyone is willig to help
can someone help with getting a 6 digit code

[2018-11-26 04:33] AfroThundr3007730 opened #245 "Allow for directly entering otpauth:// URIs"
**Describe the feature you want:**

A common method of entering authentication codes is via the use of [`otpauth://`](https://github.com/google/google-authenticator/wiki/Key-Uri-Format) URIs in the form:

`otpauth://totp/SiteName:user@email.com?secret=SECRET&issuer=SiteName&digits=7&period=30`

Basically, the contents of the scanned QR codes. I would like to be able to enter them directly.

**Why

[2018-11-26 04:34] AfroThundr3007730 commented on #245
Yes I know I can enter the account name and secret manually, but this method allows for handling of all the parameters, including the period, which doesn't have a field in the manual entry box.

Also exporting as a raw URI would be nice too.

[2018-11-26 04:58] AfroThundr3007730 opened #246 "QR code selection interface improvement"
**Describe the bug:** <Describe the issue with Authenticator>
Two things:
* In the QR code selection UI, the crosshair is very difficult to see and blends in with the background
* There is no way to abort the selection (preferably with `esc` key), and you have to make a dummy selection to clear it

**Platform:** <This is required>
 - Browser: Firefox
 - Browser Version: Nightly
 - OS is Debian Tes

[2018-11-26 05:14] Sneezry commented on #246
Right click mouse should abort the selection. At least it works in Chrome. Could you verify it in Firfox?

[2018-11-26 05:31] AfroThundr3007730 commented on #246
Ok, that does abort the selection, but opens the right-click menu. Would you consider adding the keyboard shortcut as well?

[2018-11-26 07:15] Sneezry commented on #246
@AfroThundr3007730 sure, it makes sense.

[2018-11-26 16:40] FlushingP opened #248 "authenticator fails once in a while"
Installed Authenticator. First time works well, after a while it sometimes doesn't accept the generated code.
Couple of days later no problem, after that again a problem.

**Platform: Win10
 - Browser: Chrome
 - Browser Version: 70.0.3538.110

[2018-11-26 22:05] mymindstorm commented on #245
It's probably easier to just write a script / modify the authy export script to convert to our backup format. For reference, this is what our backups look like:

[code]

- Period selection should be added to manual entry

- We can't register the `otpauth://` protocol handler due to platform restrictions.

[2018-11-26 22:09] mymindstorm commented on #248
These types of issues can be caused when your system time is off. Try this:

1. <kbd>Win</kbd>+<kbd>R</kbd> (Open run)
2. Type `timedate.cpl` and press enter
3. Go to the 'Internet Time' tab and click 'Change settings...'
4. Click 'Update now' and make sure it syncs successfully
5. Go to Authenticator and sync clock with Google

[2018-11-26 22:12] mymindstorm commented on #246
@AfroThundr3007730 you might want to test in stable and report that in Bugzilla, I don't get a right click menu when the overlay is up. I'm running Firefox 63.0.3 on Fedora 28

[2018-11-26 22:33] AfroThundr3007730 commented on #246
Just verified in Firefox 60.3.0esr on Windows 10 1803 x64 (at work) that the right click menu still appears when canceling the overlay with the mouse.

[2018-11-26 22:35] AfroThundr3007730 commented on #245
Just reminded me, how are codes with other than 6 digits handled? Haven't tested that yet.

[2018-11-26 22:41] mymindstorm commented on #245
Currently, we ignore the `digits` paramter. (It's also ignored by Google Authenticator)

[2018-11-27 13:00] FlushingP commented on #248
Tnx. Tried that but no luck. The weird thing is that it sometimes works and sometimes not. Like this morning a nono, and a couple of hours later a yesyes. Very annoying.
Sorry about this but authenticator is installed on an android phone and authenticator is used to login to a website.

Sjors

[2018-11-27 13:00] #248 closed, assigned to nobody

[2018-11-28 01:28] authenticatorbot opened #250 "Feedback from Twitter user @silvia32200101"
#AuthenticatorFeedback

Original tweet: https://twitter.com/silvia32200101/status/1067590338464923651

[2018-11-28 01:45] #250 closed

[2018-11-28 06:45] Sneezry commented on #246
Code has been merged. Will be available in next release.

[2018-11-28 06:45] #246 closed, assigned to Sneezry

[2018-11-29 00:16] mymindstorm commented on #242
Closing in favor of https://bugs.launchpad.net/ubuntu/+source/ibus/+bug/1765304

[2018-11-29 00:16] #242 closed, assigned to mymindstorm

[2018-12-03 05:53] Sneezry opened #251 "Token revoked i18n message doesn't show correctly in Chrome"
This issue happens when sign in Google Drive in Chrome.

![snipaste20181203_135040](https://user-images.githubusercontent.com/1621293/49355445-936a1b80-f702-11e8-8e7b-f3f248847bfe.png)

[2018-12-04 03:26] mymindstorm commented on #251
This is mostly because the client ID that is used by default is limited to production use, you need to make test credentials and change the client id in chrome-manifest.json.

There is a string substitution feature built into `i18n.getMessage` that I was unaware of that uses the `$` symbol. Likely because of the implementation of this feature Chrome decides to remove the preceding `${`, causing th

[2018-12-04 11:27] ghost opened #253 "autofill issue on Discourse based forums"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

**Describe the bug:** <Describe the issue with Authenticator>
Autofill is pasting the TFA code correctly into the website's field but when pressing the Log In button the website displays

Pasting the code manually however does not incur such issue and wo

[2018-12-04 11:53] n8v8R commented on #253
Seems that with the browser setting `network.http.referer.spoofSource` set to `true ` the issue is apparent. Reverting to its default `false`  remedies the matter.

[2018-12-05 14:38] johanberonius commented on #245
It would be nice if links with an `otpauth://` scheme could be opened.  But "copy link" and paste it in the extension to add it would be good too.

[2018-12-05 14:46] johanberonius commented on #174
I tried to use inverted colors, white on black, for a QR code but that did not work with this extensions. It was accepted in various authenticator apps and using iOS camera.
Normal colors, black on white, was fine for the same QR code.

[2018-12-05 21:32] Sneezry commented on #253
It works fine on my side. Can you verify that again?

[2018-12-05 21:37] Sneezry commented on #245
@johanberonius custom scheme is not fully supported in web extension currently. In which case you need to import `otpauth://` uri? Is scan qr code enough for your case?

[2018-12-05 21:55] n8v8R commented on #253
![auth issue](https://user-images.githubusercontent.com/13611490/49546543-68d1bb80-f8d8-11e8-8d21-10b7bb4966a9.png)

[2018-12-05 22:36] mymindstorm commented on #253
Confirmed:

![bug-low-quality](https://user-images.githubusercontent.com/27789806/49548584-cbf92900-f8ab-11e8-9c31-c96908ce9fa7.gif)

[2018-12-06 04:12] Sneezry commented on #253
It seems a Firefox specific issue. I tested it on Chrome, and it works fine.

[2018-12-06 09:45] johanberonius commented on #245
In the 2fa solution for the application we're working on QR codes are not used, only otpauth-links.
End users should use an authenticator app on a mobile device to open the otpauth link, but developers use this web extension. It would be nice to quickly add a link, maybe by drag & drop, copy & paste or right click context menu & open with.

[2018-12-15 21:24] AfroThundr3007730 commented on #245
I was just reading a bit more on this, and found that protocol handlers in webextensions are limited to a [predefined list](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/protocol_handlers) or using the `web+` or `ext+` prefix.

There was [talk](https://bugzilla.mozilla.org/1271553) of implementing custom protocol support, but it appears to have stalled. I won

[2018-12-19 16:10] ericlaw1979 commented on #181
This is a bug in Edge, where if the extension's "identity" is over 64 characters, storage is rejected due to exceeding the width of a database field. The identity is the combination of the publisher name, the AppX's Identity Name field, and a random hash.

[2018-12-20 21:54] mymindstorm commented on #181
@ericlaw1979 are you talking about the package family name? The partner center says it's `2184mymindstorm.AuthenticatorExtension_80wqcq7zn3av4`, which is 52 characters long.

There really isn't much I can do about this since the partner dashboard forces me to use the ID it generates (and since it's already published it can't change). With Microsoft deprecating EdgeHTML hopefully most of the issues

[2018-12-21 16:00] ericlaw1979 commented on #181
@mymindstorm: Thanks. I mostly left a note here because your issue is one of the top hits for this error message.

The "Extension ID" is "EdgeExtension_" + the package family name; the prefix adds 14 characters which pushes your extension's ID out to 66 characters, just over the limit. Unfortunately, there's no workaround short of re-releasing the extension with a shorter name.

I've reached out t

[2018-12-25 07:41] Sneezry commented on #79
As this touches low level function of the browser, it is beyond our control. Also, we haven't received related issue any more, I close this issue at this time. If this issue remains in the feature, a new issue should be opened.

[2018-12-25 07:41] #79 closed

[2018-12-25 08:00] Sneezry commented on #245
Currently, custom scheme support is very limited in webextensions.

Of course, to inject DOM to listen click event of all links can make it done, however, I do not want to expand the permission scope. Also, to peep user's browser is unacceptable.

I personally think this feature is small minority, and QR scanner and manual entry is enough in most cases.

Let's move it to backlog and wait for webex

[2018-12-25 08:42] gonzo525 opened #255 "b"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

[2018-12-25 08:46] #255 closed, assigned to nobody

[2018-12-25 08:49] Sneezry opened #256 "Accessibility"
- [x] High contrast theme
- [x] TTS support for code

High contrast theme has been ready in dev branch

![snipaste20181226_162109](https://user-images.githubusercontent.com/1621293/50438767-6805d580-092a-11e9-83f6-fd5c2508ef17.png)

TTS support has been ready on [`tts` branch](https://github.com/Authenticator-Extension/Authenticator/tree/tts).

I haven't decided if TTS feature should be merged int

[2019-01-02 05:35] authenticatorbot opened #258 "Feedback from Twitter user @Ot61B"
#AuthenticatorFeedback

Original tweet: https://twitter.com/Ot61B/status/1080336445297049600

[2019-01-02 06:29] #258 closed, assigned to nobody

[2019-01-02 06:31] Sneezry commented on #256
Let's wait for more feedback about TTS. Currently TTS will not be merged into dev branch.

[2019-01-02 06:31] #256 closed, assigned to Sneezry

[2019-01-02 17:14] authenticatorbot opened #259 "Feedback from Twitter user @kovalm77"
#AuthenticatorFeedback

Original tweet: https://twitter.com/kovalm77/status/1080512424300679170

[2019-01-02 17:48] #259 closed, assigned to nobody

[2019-01-06 11:42] authenticatorbot opened #260 "Feedback from Twitter user @marholtova"
#AuthenticatorFeedback

Original tweet: https://twitter.com/marholtova/status/1081877385899847681

[2019-01-06 17:25] #260 closed, assigned to nobody

[2019-01-08 03:58] Sneezry opened #261 "Change official website domain"
As authenticator.cc has been blacklisted in multiple scanners, I doubt we have bought a dirty domain.

I have registered a new clean domain to use as our official domain. The new domain is authenticator-extension.org, and will be applied to web store and GitHub org in the next few days.

[2019-01-08 05:34] mymindstorm commented on #261
Pretty sure the reason we are being auto-blacklisted is due to the `<meta>` redirect often being used by hackers after taking over sites. Since we redirect at the root level and the only thing on the site this is likely setting off auto-blacklist triggers for the less advanced scanners. If we can't make it a 301 redirect due to restrictions, why don't we try testing a simple page on authenticator.

[2019-01-08 05:48] Sneezry commented on #261
Okay, then I open a new task to design our website.

[2019-01-08 05:48] Sneezry opened #262 "Design and launch new official website"

[2019-01-08 18:16] mjadev360 opened #263 "feature request: ability to archive/hide accounts"
Would be nice if I didn't have to scroll through a bunch of accounts that I use very infrequently.  I don't want to remove them entirely, but I don't want to see them all the time either.

ideally there would be a small "hide" button on each account card, and then at the bottom of the list have a link button for "Show Hidden" that expanded the list to show them all.

[2019-01-08 18:21] mymindstorm commented on #263
You can press '/' and type to search accounts, and if you add `::website.com` to the end of an account name (E.g. `Google` becomes `Google::google.com`) it will automatically filter depending on the tab you have open.

[2019-01-08 18:51] Sneezry commented on #263
Also, you can drag to sort entries.

[2019-01-08 21:46] mymindstorm commented on #262
Put up temporary page for the time being to start experiment.

[2019-01-09 12:00] maiarosaqwert commented on #263
eu nao consigo abrir o autenticador para fazer o meu resisto na google
chrom  como fasso para ativar ele

Zhe Li <notifications@github.com> escreveu no dia terça, 8/01/2019 à(s)
18:51:

[2019-01-12 04:37] mymindstorm commented on #261
Closing in favor of #262

[2019-01-12 04:37] #261 closed, assigned to Sneezry

[2019-01-15 19:58] pvkan opened #264 "Blank screen"
Authenticator worked fine for a couple of weeks.
Since today selecting the icon in Chrome results in a blank (white)
![auth blank](https://user-images.githubusercontent.com/46726154/51206384-37e99b00-1908-11e9-8d6b-0d864224809a.PNG)
 pulldown.
I am not able to selects anything; icon for installation/setup is also not visible.

**Platform:** Windows 10 Home
 - Browser: Chrome
 - Browser Version: 71

[2019-01-15 20:53] mymindstorm commented on #264
Can you follow [these steps](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information) and paste any messages here?

[2019-01-15 21:12] mymindstorm opened #265 "authenticator.cc DNS broken"
authenticator.cc server can't be found. It looks like the domain is up for sale, did it expire?

http://whois.domaintools.com/authenticator.cc

[2019-01-16 02:23] Sneezry commented on #265
My Azure account has reached spending limit. DNS zone will automatically resume in the next Azure billing cycle. It's 18th, the day after tomorrow.

[2019-01-16 02:23] #265 closed, assigned to Sneezry

[2019-01-16 06:45] pvkan commented on #264
Hi,

As you asked:

popup.html:1 Error in response to storage.get: TypeError: Cannot convert undefined or null to object at Object.chrome.storage.sync.get [as callback] (chrome-extension://bhghoamapcdpbohphigoooaddinpkbai/build/models/storage.js:25:49) at Object.chrome.storage.local.get [as callback] (chrome-extension://bhghoamapcdpbohphigoooaddinpkbai/build/models/storage.js:24:45)
popup.html:1 U

[2019-01-16 11:53] maiarosaqwert commented on #264
I do not even know how to do the drawing for my authenticator to give me
the code, please if I can tell me how to activate without drawing

pvkan <notifications@github.com> escreveu no dia quarta, 16/01/2019 à(s)
06:45:

[2019-01-17 01:29] mymindstorm commented on #264
I remember having to deal with this before, but I can't seem to find the issue related to it.

Can you reboot your computer completely and try again?

[2019-01-17 06:58] pvkan commented on #264
Did that several times.
I occurs on my laptop and i always shut it down at the end of the day.
So it reboots every morning.

[2019-01-17 18:45] pvkan commented on #264
Completely uninstalled chrome, including entries in register.
Re-installed Chrome again and problem is gone.

So i guess Chrome was the faulty one ?

[2019-01-17 22:35] mymindstorm commented on #264
Yes, Chrome uses LevelDB for local storage which seems to get corrupted easily. If you forced a shutdown (or ran out of battery) and that caused Chrome to close unexpectedly that probably caused it. If you hadn't reinstalled it we may have been able to get your data back, but it's too late for that now.

Chrome bug here: https://bugs.chromium.org/p/chromium/issues/detail?id=490915

[2019-01-17 22:35] #264 closed, assigned to nobody

[2019-01-18 04:04] Sneezry commented on #264
@mymindstorm user data should be safe in `chrome.storage.sync` if uninstall the browser directly, but not uninstall the extension first.