[2019-01-18 10:46] pvkan commented on #264
Hi,

Thanks for the explanation.
I have a backup of the entries but fortunately, I use your extension on 2 computers (laptop and PC) and Google synchronizes these two including de data from your Authenticator.
As a result, my data was not lost but was immediately synced as soon as I had installed Chrome again.

Thanks again
Peter

Van: mymindstorm <notifications@github.com>
Verzonden: donderdag 17

[2019-01-18 14:15] OmegaHaxors commented on #191
Is there no way to recover a Secret after deleted? If so, I'm in a lot of trouble since I accidentally deleted my Secret for Discord and they are infamous for not providing any support at all if you lose your 2F code.

[2019-01-18 21:12] mymindstorm commented on #191
@OmegaHaxors unless the data was synced to another computer or you have a backup the data is gone.

[2019-01-22 15:43] uripham89 opened #266 "chorme"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser: [Chrome, Firefox, Edge]
 - Browser Version:

[2019-01-22 16:58] #266 closed

[2019-01-23 00:37] mymindstorm opened #267 "High contrast css missing for filter button"

[2019-01-25 09:19] authenticatorbot opened #268 "Support pinned entry"
#AuthenticatorFeedback Authenticator for Chrome automatically shows only one item. So I have to click to show the one I use more often. It would be nice to set which items must be visible always.

Original tweet: https://twitter.com/LucaMarini70/status/1088727481404796934

[2019-01-28 14:07] aleqx opened #269 "Please add a keyboard shortcut!"
Brilliant little thing you made, thanks very much.

There are many instances (at least in my case) where the Chrome window does not have url/extension toolbar (e.g. popups). It would be great to have a keyboard shortcut to bring up Authenticator and directly into focus so we can use the keyboard to select and copy the TOTP, then right back to the webpage to paste it.

Generally speaking, it would

[2019-01-28 14:56] Sneezry commented on #269
You can set hotkeys from chrome://extensions/shortcuts

[2019-01-28 18:18] aleqx commented on #269
Yes, that's true, but how about implementing the following:
- allowing the cursor keys + Enter to select an entry and copy it to keyboard
- allow letter keys to quick search and copy, e.g. press `b` `a` to go to the first matching entry, e.g. `banking` and automatically copy it to the clipboard (from there allow cursor up/down to select different ones)
- set a (configurable) keyboard shortcut to a

[2019-01-28 18:37] mymindstorm commented on #269
We do have a keybind for search as /, though the keyboard support does need improvement for screen reader support too.

[2019-01-28 18:53] aleqx commented on #269
I didn't know about `/`, that's useful ... but I can't use the keyboard to select and copy, I still have to use the mouse, so currently the `/` search is not that useful since I can use the mouse to click directly (but it's useful when you have a lot of TOTP entries).

[2019-01-29 22:59] mymindstorm opened #270 "Remove API secrets from public source"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

I confirmed with GitHub support that they might revoke our tokens if we keep them in our source code. Probably need to rotate Google API keys just to be safe.

https://help.github.com/a

[2019-01-30 23:35] Benno-K opened #272 "Password-protected backups and stored settings may have unencrypted secrets"
**Platform:** Linux
 - Browser: Firefox
 - Browser Version: 60.4.0esr

When trying to export the backup of my 3 tokens one ends up unencrypted!
Looking into authenticator.json one token contains

and the secret is indeed not encrypted.

I experimented and added / deleted / re-added test-tokens and ended up with various results.

It seems to forget the password sometimes, but why then only some tok

[2019-01-30 23:39] mymindstorm commented on #272
Password and unencrypted secrets are stored in memory after you put a password in. Did you set a password recently / how long ago did you set a password? If you set one again does it keep happening?

[2019-01-30 23:41] mymindstorm commented on #272
Also if you run
[code]
do any of them show up with encrypted: false? If you don't see any output replace `sync` with `local`

[2019-01-30 23:50] Benno-K commented on #272
Oh, very quick response, thank you. I'm just going to bed so I will check and answer tomorrow - sorry.

[2019-01-31 09:22] Benno-K commented on #272
So here are the steps, I just did them again.
Beforehand I deleted all existing tokens to have a defined testing environment.

1. Visited a page showing the QR-code of a token I use for testing
2. Entered a password in Security settings
3. Closed security settings
4. Opened them again to find the asterisks for the password still being shown (just to make sure)
5. Scanned the QR-code
6. Exported pa

[2019-01-31 09:58] Benno-K commented on #272
OK, tried an additional thing.
1. Set password
2. Add additional QR-code

After that I had a look at
.mozilla/firefox-esr/\<censored\>.default/browser-extension-data/authenticator@mymindstorm/storage.js
where authenticator seems to store the data and unhappily found that the last token is not encrypted

I guess this is the kind of information you tried me to get with "chrome.storage.sync.get(d=>co

[2019-01-31 10:13] Benno-K commented on #272
The good news is:
If you once export a really all encrypted backup file (authenticator.json), then also all tokens are also encrypted in the store.

So the work-around to make sure everything is stored encrypted seems to be:

Whenever you add a token or change something else:
1. Set the password
2. Immediately after that (do not allow the authenticator window to close in between) save a password-p

[2019-01-31 11:08] Benno-K commented on #272
(this reply contained a link to some demo files which no longer exist)

[2019-01-31 17:28] Benno-K commented on #272
(this reply contained a link to some demo video which no longer exists)

[2019-02-01 02:33] mymindstorm commented on #272
Thanks for all the info, it helps a lot! I was able to reproduce, and will work on it when I have the time.

The data you found was what I was looking for. You can access the console via `about:debugging`

[2019-02-02 10:24] tobenary opened #274 "Question - API Calls, using Python."
Hi,
I'm a newbie learning API calls and Python.

I'm using your extension to get inside my regular 2fa sites. ( simple UI - great ).
One of my colleague at work developed a Python script to make new users for a specific system.
His script is not handling the 2fa cases, and I was thinking to myself if I could take his code, and modified ot a bit to have an integration with your code.

Basically, wh

[2019-02-02 17:15] mymindstorm commented on #274
There isn't an easy way for us to add integration like that. Webextensions can't register the protocol handler for `otpauth://` and it's impossible to use an extension page that you could redirect to since the extension UUID in Firefox is unique for every install.

If you are only adding one code per user it's easiest to just generate a QR code and have users scan that. If you generate more than o

[2019-02-02 17:20] tobenary commented on #274
Thanks for your respond.
But if I create this backup, even if I import it to your extension, how do I "export" the time -based code from your extension to my code?

[2019-02-02 17:22] mymindstorm commented on #274
I'm a bit confused, can you give me a bit more information on your application? I thought you were trying to import codes from your user generation script to Authenticator?

[2019-02-02 18:18] #270 closed, assigned to mymindstorm

[2019-02-02 18:43] tobenary commented on #274
Think about this scenario.

1. We usually log-in via API-Token to siteX.
2. Once this API-Token expired or someone regenerated a new token, the token is not valid anymore.
3. We now need to create a new random user ( other script ), but the 2fa is giving us some troubles making it automatically.
3a. if the site is not requesting for the 2fa, we logged in with the random user, then, generating the

[2019-02-02 19:04] mymindstorm commented on #274
Authenticator is designed as an application for users. The environment Authenticator runs in disallows communication with other scripts. You could use [native messaging](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Native_messaging) to get what you want, but you will have to make those types of modifications yourself.

I think it makes more sense for you to completely ign

[2019-02-02 19:05] #179 closed, assigned to Sneezry

[2019-02-02 19:43] tobenary commented on #274
Thank you very much for your directions.

I'll go over the first link since it looks easier for a newbie like me, but I'm sure I need to learn Selenium.

[2019-02-02 19:45] mymindstorm commented on #274
Good luck!

[2019-02-02 19:45] #274 closed, assigned to nobody

[2019-02-03 08:50] Benno-K commented on #272
One more info:
When manually adding a token it is stored encrypted right from the beginning. Only when you scan a QR it gets stored unencrypted. So my guess is, that the scanning code somehow "forgets" to encrypt the secret.

[2019-02-03 17:49] mymindstorm commented on #272
@Benno-K it tries to, but it was using an old variable for the password. Fix is already done, it will ship with 5.2.3

[2019-02-03 22:51] Benno-K commented on #272
@mymindstorm: Thanks for quickly fixing it - I will remove the demo-page and the video now

[2019-02-06 02:42] ghost opened #276 "autofill not working on Virtualizor VPS Control Panel"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

**Describe the bug:** Autofill is not auto filling the auth box in [Virtualizor VPS Control Panel](https://virtualizor.com)

It used to work previously and I suspect a regression been introduced with version 5.2.2.

I cannot provide a login for testing p

[2019-02-06 08:14] stephanmit opened #277 "Error recognizing QR code"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>

**Describe the bug:** <After selecting the QR code on the screen, I get the message that the QR code cannot be recognized>

**Platform:** <Windows 7 and Windows 10 Enterprise>
 - Browser: [Chrome]
 - Browser Version: 72.0.3626.81

[2019-02-06 14:38] delafurie opened #278 "Authenticator Blank Screen on Chrome"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>
I get a blank screen when I click on Authenticator to get a security code.
I followed the instructions in a previous post about a Blank Screen that said to copy any error messages into t

[2019-02-07 01:13] mymindstorm commented on #277
Duplicate of #174, just enter code manually.

[2019-02-07 01:13] #277 closed, assigned to nobody

[2019-02-07 01:23] mymindstorm commented on #276
Authenticator version 5.2.2 didn't change too much in the autofill code. Does the code get put into the right field when you try to use it?

[2019-02-07 01:27] mymindstorm commented on #278
You're saying you followed [these](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information#chrome) instructions on your dell laptop and didn't see anything? By white screen do you mean the whole extension popup is white, or can you still see the header?

[2019-02-07 01:27] #267 closed, assigned to nobody

[2019-02-07 01:32] delafurie commented on #278
Those are the instructions I followed.
I see the console but I don't have any error messages to copy and paste into it.
Are the error messages under another tab?
If so, which one?
I believe I looked at them all and don't see anything like in the previous instructions.
Yes, the header is visible but no security code appears.
I

[2019-02-07 01:33] mymindstorm commented on #278
Did you reinstall the extension? It sounds like you just lost all your data. Try importing a backup from your HP laptop.

[2019-02-07 01:35] delafurie commented on #278
That's what it's done since I first installed the extension on my Dell.
When you say create a backup on my HP, d you mean my emergency codes?
The ones I use if my device isn't available?

[2019-02-07 01:36] ghost commented on #276
It does not get filled at all but it did in the past even with https://github.com/Authenticator-Extension/Authenticator/issues/164

There is not output/error in the browser console.

I am not aware how the auto-fill field detection works but this is the html code

[code]

[2019-02-07 01:38] mymindstorm commented on #278
No. Did you install it on the Dell and expect it to immediately sync everything? Go to the menu, then to `Import / Export`, `Download Backup`, then take that file and use the `Import Backup` button on your other computer.

[2019-02-07 01:45] delafurie commented on #278
When I installed MFA on my HP I originally set it up to work by sending a code to my cell phone.
We have such a weak signal where I work it took me too much extra time to log into my company's cloud, cause I'd have to go outside or wait around a few minutes. This was all making me very late for work each day. Then I found out about the Browser Extension and I downloaded that because it's much easi

[2019-02-07 01:49] mymindstorm commented on #278
If you already have the account added on the Dell, yes. Authenticator doesn't work with emergency backup codes, it's a drop-in replacement for Google Authenticator. If your company only lets you use SMS for MFA, Authenticator can't do anything to help you.

[2019-02-07 01:52] delafurie commented on #278
"Authenticator doesn't work with emergency backup codes, it's a drop-in replacement for Google Authenticator. If your company only lets you use SMS for MFA, Authenticator can't do anything to help you."
I'm not really sure what you mean by that, but I'll try the steps you outlined tomorrow when I get to the office.

[2019-02-07 02:00] mymindstorm commented on #278
Then things will be synched up and I'll be able to get a code on my Dell?

If the Dell has your company account and is working, this will work.

We have such a weak signal where I work it took me too much extra time to log into my company's cloud, cause I'd have to go outside or wait around a few minutes.

Some people can get MFA codes through text messages, you mentioned needing signal to get MFA

[2019-02-07 02:04] delafurie commented on #278
I'll give it a try tomorrow.
Thanks for your help.
I appreciate it.

[2019-02-07 12:27] erotavlasme commented on #276
Hi,
I have the same problem about auto fill with GNU/linux ubuntu mate and firefox developer edition 66 or firefox 65.

[2019-02-07 12:28] erotavlasme commented on #222
What about firefox synx support?

[2019-02-07 15:15] delafurie commented on #278
That worked.
Thanks again for all your help.
You're a real lifesaver!

[2019-02-07 19:07] #278 closed, assigned to nobody

[2019-02-07 21:32] mymindstorm commented on #276
@erotavlas85 with the same website?

[2019-02-08 08:28] erotavlasme commented on #276
@mymindstorm several private Web sites.

[2019-02-08 08:38] alfredonodo commented on #276
Hi,
I have the same problem with presearch.org

[2019-02-08 14:42] tjoanp opened #280 "Too easy to export secret using "hidden" button"
Just tried this extension in Firefox, and it's really nice, but I have a "problem" with it.

The "hidden" QR button on existing entries seems way to dangerous. Compared to the Android and iOS apps where it's practically impossible to retrieve the secrets, stealing the secrets in this browser extension is done within 10 seconds on an unattended computer. Copying the secret is as easy as copying the

[2019-02-08 14:53] dilbert2019 opened #281 "Authenticator unable to read qr code"
There is a website that uses the authenticator extension in chrome to read the qr code and so forth.

A workstation crashed and we reinstalled everything but the authenticator extension in chrome is not reading the qr code, the error we get is: <Web Address>> unrecognized qr code

Besides installing the authenticator extension is there anything else in chrome that needs to be adjusted to allow thi

[2019-02-09 14:20] mymindstorm commented on #281
Use manual entry. Duplicate of #174

[2019-02-09 14:20] #281 closed, assigned to nobody

[2019-02-09 14:22] mymindstorm commented on #276
@erotavlas85 @alfredonodo can you use inspect element and copy the html for the code `input` element?

[2019-02-09 14:32] mymindstorm commented on #280
Check the security menu and set a password. It only stays unlocked until the browser is completely closed or you hit the lock button.

It's normal policy to lock your computer when leaving your desk for many companies. Even if you don't have Authenticator, anyone getting into your email could wreck more havoc then just stealing some OTP secrets.

It takes just about the same amount of time to expo

[2019-02-09 14:32] #280 closed, assigned to nobody

[2019-02-09 15:17] erotavlasme commented on #276
@mymindstorm for me one site is [protonmail](https://protonmail.com/).
This is the HTML of 2FA input

`<input autocapitalize="off" autocorrect="off" autocomplete="off" class="TwoFA-input ng-empty ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" type="text" ng-minlength="6" ng-maxlength="8" required="" ng-model="twoFactorCode" autofocus="autofocus" id="twoFactorCode"

[2019-02-09 16:17] alfredonodo commented on #276
@mymindstorm presearch.org

[code]

[2019-02-13 09:08] fortran77 commented on #245
It would be convenient to be able to export the secret for a specific entry as a string that can then be copied to the clipboard. E.g., shift-click instead of control-click could cause the TOTP secret, instead of the generated 2FA code, to be copied to the clipboard.

I like to save all secrets in a secure file as a backup. If I forget to save the secret when enabling TOTP on a website, I then hav

[2019-02-13 09:14] Sneezry commented on #245
@fortran77 You can easily backup your secrets by using built-in Export/Import tool. Find it in settings menu. Also, you can link to your Dropbox or Google Drive account to make Authenticator backup your data automatically.

[2019-02-13 09:36] fortran77 commented on #245
Thanks, yes, I do export the backup. My language was unclear. There are many use cases that need individual secrets. E.g., I recently began using the Bitwarden password manager, and its built-in TOTP code generator needs the secret for each password entry.

[2019-02-14 05:30] fortran77 commented on #245
Another use case for extracting individual secrets:

[ProtonMail](https://protonmail.com/) is notorious for having no "keep me logged in" option and requiring 2FA (if enabled) on every login even in the same browser tab. An application called [email-securely](https://github.com/vladimiry/email-securely-app), while adding many other features, implements "keep me logged in" by saving the TOTP secret

[2019-02-16 00:43] #272 closed, assigned to nobody

[2019-02-16 08:41] fortran77 opened #282 "Standardize backup format"
We seem to have more and more open source TOTP applications. Each one can export to json but uses its own format. I think one of the developers should publish a proposed a json export format and invite everybody to use that. This would be for data exchange, so encryption is not strictly needed (though desirable).

So far we have:

[Authenticator-Extension/Authenticator](https://github.com/Authenti

[2019-02-17 15:53] cognitiaclaeves opened #283 "Some way of seeing in the UI where the backups are going?"
I'd like to be able to determine, by looking at the UI, which account I'm currently backing my data up to.

I try to separate my google /dropbox accounts by function / security / purpose. I'm unsure where I'm backing up to now. When I went to set up authenticator on a replacement laptop, I wasn't sure where I had set the backup to go to.

[2019-02-17 16:56] aleqx opened #284 "emulate keystrokes when pasting the code to form inputs"
Currently the extension automatically fills the code on the form input that has focus, but it does so by changing its value. Many websites (surprisingly many!) are checking for keystrokes instead. That is, even with the value filled in by the extension,t hey complain that the field is not filled in.

Could you please also fire all the keyboard related events for that form input (keypress, keydown,

[2019-02-17 18:53] mymindstorm commented on #282
I'm fine with doing this, but it's pointless to make a standard backup schema without any other developers on board.

See also: https://github.com/google/google-authenticator/wiki/Key-Uri-Format

[2019-02-17 18:54] #276 closed, assigned to nobody

[2019-02-17 19:06] fortran77 commented on #282
So if a URL format of the type otpauth could be standardized, then maybe an export format could be just a series of these URLs, newline-separated. If so, then we need to get everybody to agree on the URL format.

[2019-02-17 19:10] mymindstorm commented on #282
@fortran77 that's already standardized, everyone uses it for adding individual secrets via QR codes. You wanted a standardized backup format which would hold multiple secrets.

[2019-02-17 19:20] fortran77 commented on #282
Well, that's great, then! So we just need a file containing one otpauth URL per line. That would work, wouldn't it? No encryption, but all we're looking for is data exchange. If we can get just one developer to use this format for import and export, it should be easy to get everyone else to do so.

[2019-02-17 19:58] mymindstorm commented on #282
@fortran77 it would be simpler to just use JSON. It's a great idea to standardize the format, but it's pointless to do without anyone else willing to implement it. If you can find another developer willing to work with us on this then this could happen.

[2019-02-17 20:22] fortran77 commented on #282
Requested that the Gnome Authenticator developers consider the one otpauth URL per line format:

[https://gitlab.gnome.org/World/Authenticator/issues/111#note_439185](https://gitlab.gnome.org/World/Authenticator/issues/111#note_439185)

[2019-02-18 16:22] fortran77 opened #285 "Search box confusion restriction that requires / key"
Currently, under certain conditions (see: https://github.com/Authenticator-Extension/Authenticator/issues/165#issuecomment-407642686) the search box appears only when the / key is typed. But there is a "show all entries" button.

I find this confusing. It's a special case and I must remember to hit the / key.

It would be nicer if clicking on the "show all entries" button made the search box appea

[2019-02-18 23:10] mymindstorm commented on #285
I think that bug is already fixed (pending release), I'll have to check again since I rewrote the stylesheet. If you just hit `/` directly without clicking the "Show all entries" it'll stop filtering and open search directly.

[2019-02-19 04:09] mymindstorm commented on #282
@fortran77 using the otpauth URI format is fine for when you're transmitting a single code and nice for browser integration, but it doesn't really make sense to use for multiple values. Wouldn't it would make more sense to use something like the following?
[code]
With `secret` being the only required value.

[2019-02-19 04:29] fortran77 commented on #282
First of all, I appreciate your willingness to consider my proposal.

Now here are the pros and cons of one-otpauth-per line vs the json you listed.

One-otpauth-per-line: User-friendly as the user can manually edit the text file line by line before importing it. Each application already has the code to parse this. So on import, just parse each line the same way -- easy to implement.

A standard j

[2019-02-19 06:13] Sneezry commented on #282
I think one-otpauth-per line is good for both human and program, let's do it :-)

[2019-02-19 06:29] fortran77 commented on #282
Great! If you would be so kind as to keep [helloworld1/FreeOTPPlus](https://github.com/helloworld1/FreeOTPPlus) aware of your plans, maybe both projects can implement and test for compatibility in parallel.

[2019-02-19 07:46] Sneezry commented on #282
Code ready: https://github.com/Authenticator-Extension/Authenticator/pull/286

[2019-02-19 08:53] fortran77 commented on #282
Thanks, that was quick. This is very exciting.

[2019-02-20 12:27] bilelmoussaoui commented on #282
Hey! I'm Authenticator developer.
I'm going to follow the standard backup format on Authenticator too.
Will add it in the next release :)

[2019-02-20 12:36] fortran77 commented on #282
@bilelmoussaoui  That will be awesome.

(Of course there are multiple applications called Authenticator, but I know you're referring to [Gnome Authenticator](https://gitlab.gnome.org/World/Authenticator).)

[2019-02-20 22:36] mymindstorm opened #287 "Support digits paramter"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

[2019-02-21 00:40] #251 closed, assigned to mymindstorm

[2019-02-21 01:00] #285 closed, assigned to nobody

[2019-02-21 04:22] PentagramTr commented on #253
Has there been any progress on this issue?

[2019-02-21 17:33] fortran77 opened #289 "Deleteing a charater in edit mode while filtering makes code disapear"
**Describe the bug:** <Describe the issue with Authenticator>

While on a specific web page, clicking on the extension icon shows one or more 2FA entries for that domain.

At this point suppose I click on the Edit icon (top right corner, looks like a pencil) and edit the provider field of an entry (the one above the numeric code). Editing seems to to normally. E.g., I can position the mouse cursor

[2019-02-21 22:38] mymindstorm commented on #289
It's not deleted, when you delete a character in filter mode it doesn't match the filter for the website you're on anymore and it filters it out.

[2019-02-21 22:44] #289 closed, assigned to nobody

[2019-02-22 02:35] mymindstorm commented on #284
Duplicate of #253

[2019-02-22 02:35] #284 closed, assigned to nobody

[2019-02-22 02:44] aleqx commented on #253
This is not just firefox, and not just Discourse. As I explained in https://github.com/Authenticator-Extension/Authenticator/issues/284 (which was just marked duplicate of this) it's because the form is actually testing keyboard presses (look for keypress/keyup/keydown events) whereas the extension just changes the input element's value without triggering any of those events. The form javascript v

[2019-02-22 03:04] mymindstorm commented on #253
@aleqx I'm fully aware. Discourse looks for `keydown`, I'm just about to make a PR with these exact changes. Just have to test it works before pushing.

[2019-02-22 03:17] mymindstorm commented on #245
#286 will allow for adding otpauth URIs via the import page (file & text entry). @AfroThundr3007730 @johanberonius is this good enough for ya'll?

[2019-02-22 22:52] #253 closed, assigned to Sneezry

[2019-02-24 02:38] authenticatorbot opened #291 "Feedback from Twitter user @Jaroslavaskarm3"
#AuthenticatorFeedback

Original tweet: https://twitter.com/Jaroslavaskarm3/status/1099498054032474114

[2019-03-02 04:44] ghost opened #292 "Cookies also delete settings."
**Describe the bug:** Autofill feature is disabled when I delete cookies in Firefox.I have to set again Autofill feature every time.

**Platform:** <This is required>
 - Browser: [Firefox Quantum]
 - Browser Version: 65.0.2 (64 bit)

<details><summary>Screenshot:</summary>

![auto](https://user-images.githubusercontent.com/34379403/53677297-a4550980-3cbe-11e9-95f4-6e7c92264837.png)

</details>

[2019-03-03 18:02] aleqx opened #293 "resizing popup does not enlarge viewport"
Resizing the popup does pretty much nothing, really. The viewport remains the same regardless of the new size of the popup window. The idea (I thought) was so I can see more entries, but that doesn't work.

It would also be nice if we could edit the css of the page. I for one have no use of the big fonts, etc, and would rather have as many entries as possible so i can click directly, instead of sc

[2019-03-03 22:09] #291 closed, assigned to nobody

[2019-03-03 22:17] mymindstorm commented on #292
We store settings that aren't part of secret data in `localStorage`. When you clear cookies in Firefox it looks like it clears `localStorage` too. We can't really do much about this. It might be more appropriate to file in bugzilla as clearing cookies deletes extension data.

[2019-03-03 22:17] #292 closed, assigned to nobody

[2019-03-03 22:23] mymindstorm commented on #293
The only way to change the size of the page is through the scale dropdown. If you edit `localStorage.zoom` you can set a custom value. The stylesheet is not responsive. If you want to edit the stylesheet you're going to need to build your own version of the extension.

Stylesheet here: https://github.com/Authenticator-Extension/Authenticator/blob/dev/sass/popup.scss

[2019-03-03 22:23] #293 closed, assigned to nobody

[2019-03-04 09:19] authenticatorbot opened #294 "Feedback from Twitter user @y2vSjPyvkrlZjjb"
#AuthenticatorFeedback

Original tweet: https://twitter.com/y2vSjPyvkrlZjjb/status/1102497824468582400

[2019-03-04 19:26] aleqx commented on #253
I just tried master in order to test the new PR, compiled it for Chrome and installe dit in chrome as an unpacked extension. Now it doesn't fill in form fields at all :( ... am I missing anything?

[2019-03-04 23:51] caos30 opened #296 "I fully translated for Catalan and Spanish on Crowdin"
Hi, this piece of software is great!! Wonderful work!! I hope i will collaborate improving it from now :-)

I've completed the translations on Crowdin for Catalan and Spanish (both native languages of mine). I think that i must communicate here (on Github) to be included in the next build of the extension.

In fact, i've fixed several minor not-well-formed phrases.

Thanks a lot!
Sergi

[2019-03-05 20:18] #294 closed, assigned to nobody

[2019-03-05 20:32] mymindstorm commented on #296
Hi Sergi,

First of all, thanks for helping translate Authenticator. You don't need to raise an issue here to get translations in the latest builds, as I always update the translations before a release. If I missed any translations please let me know. I've also given you proofreader permissions on Crowdin.

[2019-03-05 20:32] #296 closed, assigned to nobody

[2019-03-05 23:34] mymindstorm opened #297 "Scaling is broken"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

[2019-03-06 00:38] mymindstorm commented on #253
@aleqx I just built from dev and tested in chrome and it seems to work. Can you give a few more details or error logs?

[2019-03-06 01:26] aleqx commented on #253
I would have thought the details I provided are sufficient, but it's odd it works for you. Where exactly did you test it? Do you have a public URL that we can both use?

Steps I made:
- pulled master
- built for chrome
- uninstalled chrome extension that i had from web store (after I exported my entries to file)
- installed unpacked extension that I just built
- imported entries from file
- went t

[2019-03-06 02:12] Sneezry commented on #253
@aleqx autofill is disabled by default, did you check it in popup page settings? I notice you missed this step in your comment above.

[2019-03-06 02:25] aleqx commented on #253
Ha! I was mislead that it's only for the popup mode, because that option is in the "popup" page (you shoul dprobably fix that).

[2019-03-06 02:41] aleqx commented on #253
Ok, tested on pro.coinbase.com (withdrawal form, not login form) and it behaves like before: it pastes, but the websites complains ... still detects it wasn't typed.

[2019-03-06 21:10] larrymac41 opened #298 "Feedback Page Comes up automatically and is confusing users - can it be removed?"
**Describe the bug:** Can we disable the feedback page?  We cannot deploy to thousands of users with the additional page coming up.  We are running Windows 10 with the Chrome browser.

**Platform:** <Windows 10>
 - Browser: [Chrome
 - Browser Version: Version 72.0.3626.121 (Official Build) (64-bit)

Thank you!

Larry

[2019-03-06 22:08] mymindstorm commented on #298
If you're willing to make your own build all you need to do is remove this section:
https://github.com/Authenticator-Extension/Authenticator/blob/a56a94a41d2c1db3fc6299f3549eeedda49fac3d/src/background.ts#L267-L289

Otherwise I can throw together some policies if you'd rather that.

[2019-03-07 02:23] mymindstorm commented on #253
@aleqx if you open coinbase in firefox  and check the event listeners on it can you get a screenshot of it? Like the following but on the `<input>` for the otp entry.
![image](https://user-images.githubusercontent.com/27789806/53927790-7fa9ba80-404d-11e9-879e-ed75475aec15.png)

Also are you building `master` or `dev`? We don't use the branch named master.

[2019-03-07 11:27] aleqx commented on #253
I'll do it later. So far it actually doesn't work on any website I've tried. It seems it still just sets the input value but whatever events the website expects are not fired. I had cloned the latest dev.

[2019-03-10 15:45] aleqx commented on #253
It doesn't seem to be working on of the websites that previously were failing -- they all still fail. Screenshot and source below, but I don't think it will help you because many keyboard events may be hooked up in `body` (or elsewhere) and the element checked within the handler, it doesn't have to be an event attached to the input field.

You should do your own testing (just create an account on

[2019-03-10 22:33] emericv opened #300 "Token with and 7 digits codes"
Hello, It's not possible to add a token with and 7 digits codes (used with some services).
Result : the interface display 6 instead of the 7 digits
Thanks in advance :)

 - Browser: Firefox
 - Browser Version: NA

[2019-03-10 22:36] emericv commented on #300
Similar issue onkeepassxc to illustrate: https://github.com/keepassxreboot/keepassxc/issues/1762

[2019-03-10 22:58] mymindstorm commented on #300
Duplicate of #287

[2019-03-10 22:58] #300 closed, assigned to nobody

[2019-03-13 15:13] authenticatorbot opened #301 "Feedback from Twitter user @JamieBest1979"
#AuthenticatorFeedback

Original tweet: https://twitter.com/JamieBest1979/status/1105848407766257664

[2019-03-13 15:24] authenticatorbot opened #302 "Feedback from Twitter user @JamieBest1979"
@github  Hi, having trouble with Authenticator extension not generating a token for a customer website. Please advise  #AuthenticatorFeedback https://t.co/HjHJGH9HkA

Original tweet: https://twitter.com/JamieBest1979/status/1105851256998973444

[2019-03-14 21:13] Sneezry opened #303 "Dark theme support"

[2019-03-14 21:13] #301 closed, assigned to nobody

[2019-03-16 21:18] ghost commented on #253
if it is not working/fixed then perhaps the status of this issue should be reverted to open?

[2019-03-19 03:50] #298 closed, assigned to nobody

[2019-03-21 05:23] Sneezry opened #304 "Refine with better code design patterns"

[2019-03-22 01:20] mymindstorm commented on #253
Not all sites look for the same things in the same places. It's impossible for us to do everything the way each website expects us to. Right now, it's sending keyboard events after inputting, which should cover most of this issue. Usually, if it fills the OTP field and submit doesn't work all you need to do is backspace one number and put it in manually.

[2019-03-22 01:24] aleqx commented on #253
Not sure if you read read my message carefully - it doesn't work on _any_ website that requires keyboard presses, at least not on the 15+ different ones that I tried.

[2019-03-22 01:25] mymindstorm commented on #253
@aleqx I'll test it again on Discorse, are there any other than coinbase that you can give me?

[2019-03-22 20:54] #297 closed, assigned to nobody

[2019-03-23 04:12] mymindstorm commented on #296
Version 5.3.0 is rolling out, your contributions should be there. I redid the stylesheet, so there may be some text overflow issues I didn't catch. If you see any please tell me.

[2019-03-23 04:16] mymindstorm commented on #282
Authenticator 5.3.0 has support and the Firefox release should be rolled out to users in a few days. We're linking to this [page](https://authenticator.cc/docs/en/otp-backup) on the import screen. I'll keep it updated, so feel free to link to if wanted. I've also created a developer info page [here](https://authenticator.cc/docs/en/otp-backup-developer). Any feedback on those pages is welcome.

[2019-03-23 04:16] #282 closed, assigned to nobody

[2019-03-23 04:26] mymindstorm commented on #304
Moved to #306

[2019-03-23 04:28] mymindstorm commented on #298
Version 5.3.0 has some policies you can use. It should be available in a few weeks/days, see https://github.com/Authenticator-Extension/Authenticator/wiki/Policy-Configuration for more info.

[2019-03-23 04:31] #302 closed, assigned to nobody

[2019-03-23 04:36] mymindstorm commented on #245
5.3.0 has support and is rolling out. The import backup page (file or text) will accept a list of otpauth URIs seperated by newlines.

@AfroThundr3007730 `digits` support is being tracked at #287, manual entry improvements at #304

[2019-03-23 04:36] #245 closed, assigned to nobody

[2019-03-23 08:54] Sneezry commented on #304
This issue is more for code design.

[2019-03-23 18:37] mymindstorm opened #306 "manual entry ui improvements"
<Do not use this to ask about lost codes or accounts>
<More info here: https://github.com/Authenticator-Extension/Authenticator/wiki/Lost-Codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

- Text boxes should be for issuer and secret, not account name and secret. It's far more common to have a different issuer than a different username. I don't really like how Google Auth

[2019-03-25 13:59] isumairu opened #307 "Error updating from 5.2.2 to 5.3.0"
The title is pretty much all the detail I know.
![err](https://user-images.githubusercontent.com/16854686/54925314-a10d1080-4f40-11e9-8183-7360694ff61e.JPG)

Platform:
 - Browser: Firefox x64 on Windows 10
 - Browser Version: 66.0
![ab](https://user-images.githubusercontent.com/16854686/54925417-d6b1f980-4f40-11e9-83e2-315500254bba.JPG)

[2019-03-25 16:16] mymindstorm commented on #307
What does it say if you try to use the link [here](https://github.com/Authenticator-Extension/Authenticator/releases/download/v5.3.0/firefox-5.3.0.xpi)?

[2019-03-25 16:25] isumairu commented on #307
![wo](https://user-images.githubusercontent.com/16854686/54936538-40d49980-4f55-11e9-8bfc-badd8afe724c.JPG)

[2019-03-25 16:39] isumairu commented on #307
Update: Fixed.
The issue is caused by my disk's permission, I needed to run Firefox as an admin for the extension to be installed.
Thank you for this extension 👍

[2019-03-25 16:40] #307 closed, assigned to nobody

[2019-03-27 01:18] KharmaScribbles opened #309 "Donation Address to support development?"
I've searched High and Low but did not come across an address or place for submitting donations in support of development.  I understand the devs might not be in this for money and it's probably only a side gig anyways but how can I show my appreciation better than just saying Thank You?

Why? [TL;DR- **I know these days people hate reading on the internet, so you can stop here at this point becau

[2019-03-27 01:52] Sneezry commented on #309
Thanks for your feedback. I'm really glad to learn this extension helps you a lot. Please use it for free, and no donation needed. If you like, you can donate to projects really need donations, such as Wikipedia.

If you have any question or feature request, please let us know. We are always happy to give a help.

[2019-03-27 01:52] #309 closed, assigned to nobody

[2019-03-27 03:58] mymindstorm commented on #309
Thanks for the nice message! While we don't accept donations, we always welcome bug reports, feature requests, translations, and code.

I actually used to only have a Chromebook. I've moved to having a real laptop now, but I completely understand what you mean by Authenticator being indispensable for your demographic. That's one of the reasons why I started helping out here.

[2019-03-27 06:07] NinjaTurtle007 opened #310 "A way to show the code for manual entries as well"
It seems to auto show just the code for sites where you've entered the secret with the QR code scan.
That doesn't work for manual entries as it doesn't match it to the site.
However I'm sure there is something specific we need to enter when manually entering a secret to make it match to a site.
What is it?

[2019-03-27 06:20] Sneezry commented on #310
Add an issuer for the entry, and the entry will match the site with the same name.

[2019-03-27 06:44] NinjaTurtle007 commented on #310
wow indeed!
Thank you!

[2019-03-27 06:44] #310 closed, assigned to nobody

[2019-04-04 21:48] ghost commented on #164
Has this slipped out of focus or will not fix?

[2019-04-04 21:51] ghost commented on #253
Has the code been merged yet into the release branch? With the extension's version 5.3.1 it does not work on the Discourse discussion platform.

Thus wondering why this bug's status remains as closed?

[2019-04-05 00:18] mymindstorm commented on #253
Tested it in Firefox, and OpenWRT's fourm worked fine. I'll test it again with a release build.

[2019-04-05 00:18] mymindstorm commented on #164
@n8v8R if it's open we will eventually get to it.

[2019-04-05 08:21] ghost commented on #253
As far I can discern the code was only merged into the dev branch but not the release branch.

Tested with 5.3.1 release on OpenWRT with FF 68.0a1 (2019-04-04) and 66.0.2 (64-bit) on W10 v1809 b17763.379 x_64 and neither is working.

[2019-04-05 15:38] hmakmur opened #312 "scanning of QR does not seem to work on site starting with file:///"
Scanning QR codes in local webpage starting with  file:/// does not seem  work.

[2019-04-05 17:55] ericsnap opened #313 "Plus sign in QR code not properly converted space"
**Describe the bug:**
When capturing a QR code where the URL contains a `+` within the issuer, it does not convert it to a space as the specs states (for _query parameters_ not path elements).
The following QR code generates the entry `ACME+2FA` instead of `ACME 2FA`.

![qr code with plus sign](https://user-images.githubusercontent.com/16297214/55646565-b8e26100-5798-11e9-8e14-2f0c12777fb6.png)

!

[2019-04-05 18:59] mymindstorm commented on #313
This should be the function you'll want to edit if you'd like to make the PR:

https://github.com/Authenticator-Extension/Authenticator/blob/c9fda310af83ca1da972657c0df93b364bf169cd/src/background.ts#L60

[2019-04-05 19:01] mymindstorm commented on #312
Are you using Chrome? You need to go into chrome://extensions => details for Authenticator => enable 'Allow access to file URLs'

[2019-04-05 19:32] hmakmur commented on #312
Sorry, I did not see that. Thanks for your quick response!

[2019-04-05 19:32] #312 closed, assigned to nobody

[2019-04-05 19:51] mymindstorm commented on #253
It looks like it's there to me? There are no differences between dev and release right now. See https://github.com/Authenticator-Extension/Authenticator/compare/dev...v5.3.1 and the follwing

https://github.com/Authenticator-Extension/Authenticator/blob/ec4772793b5d234ef1181d6098efec442333bb06/src/content.ts#L227-L236

This recording is with 5.3.1 from the firefox addons store:

![openwrt-working]

[2019-04-06 08:05] authenticatorbot opened #314 "Feedback from Twitter user @NguyenX40874982"
Incorrect 2FA code From Authenticator-Extension!
 #AuthenticatorFeedback

Original tweet: https://twitter.com/NguyenX40874982/status/1114438350801268741

[2019-04-06 08:31] authenticatorbot opened #315 "Feedback from Twitter user @NguyenX40874982"
Incorrect 2FA code From Authenticator-Extension!
Platform:
Browser: Chrome
Browser Version: 73.0.3683.103 (Official Build) (64-bit)
 #AuthenticatorFeedback

Original tweet: https://twitter.com/NguyenX40874982/status/1114444759706132480

[2019-04-08 17:20] #314 closed, assigned to nobody

[2019-04-08 17:20] #315 closed, assigned to nobody

[2019-04-08 17:21] mymindstorm opened #316 "Make smaller version of the logo"
We should make a small version of the logo for the toolbar. I.e.: remove the smaller dots and details and enlarge the primary shapes of the logo to make it easier to see.

[2019-04-13 14:26] Riajyuu commented on #183
@Sneezry I hear that you guys need some help with the logo problems.
What about [this](https://github.com/FoxAuth/FoxAuth/tree/master/src/icons/service) :

![image](https://user-images.githubusercontent.com/16912240/56081015-fded3f80-5df7-11e9-9e04-4ea9c1e1fd2b.png)

[2019-04-15 16:15] FDiskas commented on #212
[code]
using opera. Plugin installed manualy

[2019-04-15 17:02] mymindstorm commented on #212
@FDiskas opera has chrome in the useragent, but is not fully compatible with chrome extensions. This causes the extension to use the chrome specific drive auth flow. We have a more generic version, but it is only used it the browser does not have chrome in the UA.

[2019-04-16 10:46] Sneezry opened #318 "Use webextension-polyfill"
https://github.com/mozilla/webextension-polyfill

https://www.npmjs.com/package/webextension-polyfill-ts

[2019-04-16 14:40] mymindstorm commented on #318
https://github.com/mozilla/webextension-polyfill/issues/102#issuecomment-379365343

[2019-04-16 15:43] authenticatorbot opened #319 "Feedback from Twitter user @liudmylashcher1"
не появляется код #AuthenticatorFeedback

Original tweet: https://twitter.com/liudmylashcher1/status/1118177539128795136

[2019-04-17 09:15] FDiskas commented on #212
@mymindstorm So it's not possible to adapt this plugin to opera also? :older_man:

[2019-04-17 09:17] FDiskas commented on #316
What about SVG file format? :chicken:

[2019-04-17 15:49] firekod opened #320 "Manage number in order in the list"
I have hundreds of entries in the Authenticator.
I enter the data directly in the backup file (authenticator.txt), because it is inconvenient to work through the interface.

Please add the ability to specify the line number in the reserve file, for example:
otpauth://totp/site1.com?secret=AYDTEEBF4RAD72PG&index=1
otpauth://totp/site2.com?secret=BYDTEEBF4RAD72PG&index=2
otpauth://totp/site3.com?sec

[2019-04-17 15:58] firekod commented on #306
Better make 3 fields:
issuer
secret
account name

[2019-04-17 17:52] Les-Ames opened #321 "ssh lames@us.ibm.com@boshcli.w3.bluemix.net is not generating verification code to authenticator"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser: [Chrome, Firefox, Edge]
 - Browser Version:

[2019-04-17 20:05] mymindstorm commented on #320
We won't ever allow that in the normal backup since we want that backup format to work with other applications ([see more](https://authenticator.cc/docs/en/otp-backup)), but you can create an encrypted backup and edit the `index` parameter. This is the format encrypted backups use: https://github.com/Authenticator-Extension/Authenticator/issues/185#issuecomment-410532399

[2019-04-17 20:05] #320 closed, assigned to nobody

[2019-04-17 20:09] mymindstorm commented on #212
@FDiskas not being able to log into google drive in opera is not a major issue. I'll fix it in the next version. Please open a new issue instead of commenting on a closed issue next time.

[2019-04-17 20:10] mymindstorm opened #322 "Google drive in Opera uses chrome auth flow"
[code]
using opera. Plugin installed manualy

_Originally posted by @FDiskas in https://github.com/Authenticator-Extension/Authenticator/issues/212#issuecomment-483319438_

[2019-04-17 20:10] #321 closed, assigned to nobody

[2019-04-17 20:12] mymindstorm commented on #316
We already have an svg of the logo. It's really hard to make out the logo when it's scaled down to the size of a favicon.

[2019-04-17 20:12] #319 closed, assigned to nobody

[2019-04-18 11:59] ghost commented on #253
@mymindstorm

It _does not work at the first login after the FF browser been restarted_. Once logged the manual way and logged out _and then logging in again it does work_, which seems curious.

[2019-04-19 02:51] mymindstorm opened #324 "Investigate autofill issue"
@mymindstorm

It _does not work at the first login after the FF browser been restarted_. Once logged the manual way and logged out _and then logging in again it does work_, which seems curious.

_Originally posted by @n8v8R in https://github.com/Authenticator-Extension/Authenticator/issues/253#issuecomment-484474598_

[2019-04-20 08:11] ghost commented on #324
@mymindstorm

Been able to narrow it down a bit.

It seems to be related/correlated to the decryption feature of the WX. Having encryption enabled and (re)starting the FF browser autofill/key events would not work on the Discourse platform on the first go.

However once having successfully logged into any account with the assistance of this WX and in due course having entered the password for decr

[2019-04-22 21:35] chupetoide commented on #174
Hi, I'm also getting this issue with QR codes already recognized with previous versions. Here is a sample not recognized:
![image](https://user-images.githubusercontent.com/3883353/56533038-4c53ba00-652d-11e9-8a7d-f97ecf7c12c6.png)

Environment:
Chrome:  73.0.3683.103 (Official Build) (64-bit)
SO: MacOs Mojave 0.14.4 (18E226)
Plugin: 5.3.0

[2019-04-23 01:18] mymindstorm commented on #324
I still can't get the bug to happen on forum.openwrt.org after about ten tries. My process is roughly:
- Logout
- Start and navigate to site
- Hit login
- Login to site
- Login to authenticator and autofill in one session
- hit login
- Close browser and retry

I made you a special build with a fix I think will fix it and some extra debugging info. If the code doesn't appear follow [this](https://a

[2019-04-23 01:40] mymindstorm commented on #174
@chupetoide I think it's having trouble because of the curves on the alignment patterns. I can't patch any external dependencies due to Mozilla policy. In the next version we plan to be switching to a slightly more maintained fork of jsqrcode.

Bookmarking this for later: https://github.com/nimiq/qr-scanner

[2019-04-23 22:08] #322 closed, assigned to nobody

[2019-04-24 13:55] chupetoide commented on #174
Ok, I'll bookmark it. But I tried it before with previous version and it worked with the same QR.

[2019-04-25 08:45] ghost commented on #324
@mymindstorm

Thank you for the extra effort but the special build does not install as FF citing that it has not been verified and it points to https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox?as=u&utm_source=inproduct
___
My assumption about the decryption is wrong. For that I removed the encryption and restarted the FF browser and the issue is present if the first login (after brow

[2019-04-26 00:08] mymindstorm commented on #324
@n8v8R unzip => about:debugging => Load temporary addon => manifest.json

I'm just curious what's causing it at this point. It's probably not injecting the content script properly. That is definitely the issue if the code isn't pasted at all when it doesn't work.

After you load it, run it on a page and if it doesn't work, load that page's (not the extension's) console up and see if there is any o

[2019-04-26 08:40] ghost commented on #324
Yes, it does fix the issue indeed and that build is not exhibiting the issue.

[2019-05-05 02:02] U1s2e3r4n5a6m7e opened #325 "Cookie problem"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>
Settings resetting when I clean the browser cookies. Can you fix the issue for this extraordinary extension ? 😞

**Platform:** <This is required>
 - Browser: Firefox
 - Browser Version: 66.0.3 (64 bit)

[2019-05-05 02:27] mymindstorm commented on #325
We store all data that isn't part of a code in `localstorage`. You need to file a bug in Bugzilla to get Firefox to stop clearing extension local storage when clearing cookies.

[2019-05-05 02:27] #325 closed, assigned to nobody

[2019-05-06 20:10] authenticatorbot opened #326 "Feedback from Twitter user @kesya1972"
#AuthenticatorFeedback

Original tweet: https://twitter.com/kesya1972/status/1125492728916320257

[2019-05-06 21:43] #326 closed, assigned to nobody

[2019-05-09 11:09] cukal commented on #174
Came here through Google search, also using Gluu OTP generated QR's and facing the same problem.

[2019-05-10 15:21] vwbusguy commented on #222
As a Nextcloud user myself, I suggest that saving to local should suffice, since many Nextcloud users sync a folder to their desktop anyway.  I would have more concerns trusting a TOTP extension that had permissions to make external internet calls.

(By the way, many thanks @mymindstorm on the very well-done Firefox extension!)

[2019-05-15 11:58] ghost commented on #222
Beaucause i have centralised my information in my nextcloud instance, i don't want to open a firefox account, if nextcloud can do it

[2019-05-16 09:32] drthaxx opened #329 "Recover Keys"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <During Windows Updates there was a failure and I had to restore my PC a day before . but when i opened the chrome most of my keys were lost. Is there a way to restore them. >

**Platform:** <Windows 7>
 - Browser: [Chrome,]
 - Browser Version: 74.0.3729.157

[2019-05-16 11:16] netandreus opened #330 "Broken scan icon in Edge"
**Describe the bug:** In Microsoft Edge scan icon (second icon in top right corner of modal window) is broken. It does not look like other browsers.

**Platform:**
 - Browser: Edge
 - Browser Version:  44.18362.1.0, EdgeHTML 18.18362
![edge-screen-0](https://user-images.githubusercontent.com/313477/57849854-17ade800-77e5-11e9-98ac-61342aaa704c.png)
![chrome-firefox-screen-0](https://user-images.gi

[2019-05-16 23:20] mymindstorm commented on #330
What's the extension version? You're probably on an older version of the extension. This isn't a bug.

[2019-05-16 23:20] #330 closed, assigned to nobody

[2019-05-16 23:22] mymindstorm commented on #329
Do you have a backup? If yes restore from it. If no refer to the message that you should have seen when making this issue.

[2019-05-16 23:22] #329 closed, assigned to nobody

[2019-05-17 07:35] netandreus commented on #330
@mymindstorm Extension version is 5.3.1 I installed it from Microsoft store yesterday. Why it isn't a bug? If true - why do yo make different icons for the same button?

[2019-05-17 19:16] mymindstorm commented on #330
I forgot why. We changed the scan icon a few versions ago. I either had to make a few patches to the edge version to make it work properly and couldn't get the new scan icon to work, or I only updated the translations.

Everything in Edge is painful since the devtools don't even work most of the time and the fact that it's really buggy. I actually got an email from a Microsoft contractor a while b

[2019-05-19 19:02] ivulfson opened #331 "Command line option?"
Here's an idea: a command line version of the authenticator.  This would work from the .json file that can be exported from the extension.  The command line tool takes 2 arguments: 1) .json filename, and 2) which account (or issuer) to use.  It would just display the current code and exit.

[code]
Maybe another option to specify time remaining - it less than N seconds remaining on the current code

[2019-05-19 19:22] mymindstorm commented on #331
That would be nice, but I don't really have the time to make something like that right now. We are trying to make the format for our backups more open, which I have documented [here](https://authenticator.cc/docs/en/otp-backup-developer). If you'd like to make something like that I'd be happy to help you out.

[2019-05-19 19:27] mymindstorm commented on #331
Also, I'm pretty sure utilities like that already exist, you could always just extend the functionality of one of those tools.

[2019-05-19 19:27] #331 closed, assigned to nobody

[2019-05-19 19:29] ivulfson commented on #331
Excellent, thanks for the pointers.  I'll take a look around. :D  Keep up the good work, your app is helping people every day.

[2019-05-19 21:30] ivulfson commented on #331
Well, this was much easier than I thought:

https://github.com/robbiev/two-factor-auth

Once you compile it, run:

```./main SECRET```

Where `SECRET` is the 32-char value of "secret" key in the .json file generated by this extension.  It prints the current code and how many seconds are left on it.  Example [obfuscated]:

[code]

I'm going to tweak the code to read the secret from the .json file,

[2019-05-20 04:52] Riajyuu commented on #324
@mymindstorm Just a small question here:

Are you guys implementing full autofill like [mine](https://github.com/foxauth/foxauth) does, or context menu filling or something else more specific.

[2019-05-20 08:37] Sneezry commented on #324
@Riajyuu here's how we handle autofill: https://github.com/Authenticator-Extension/Authenticator/blob/dev/src/content.ts#L176

[2019-05-20 09:19] netandreus opened #332 "Remove old edge code from codebase"
**Describe the bug:**
After click on scan icon nothing happens. Scan does not work.

**Platform:**
 - Browser: Edge
 - Browser Version:  44.17763.1.0 EdgeHTML version: 18.17763
 - Extension version:  5.3.1 (from Microsoft store).

After click on scan icon appears message "Capture failed, please reload the page and try again." After second click nothing happens. In console this message appears:
API

[2019-05-20 09:22] netandreus commented on #330
@mymindstorm Oh! You are right! Scan in Edge does not work! It's horrible :( I've added issue about it
https://github.com/Authenticator-Extension/Authenticator/issues/332 I hope you can fix it!

[2019-05-20 10:54] Riajyuu commented on #324
@Sneezry
well
it's much less hacky but also much less universal.

any plan to make it a bit universal?

[2019-05-20 15:38] mymindstorm commented on #332
I've asked for an update from Microsoft. Still works with stable builds of Windows.

[2019-05-20 15:50] mymindstorm commented on #324
@Riajyuu excluding looking for the input box, adding a bubbling `input` and `changed` event fixes the sites' input boxes not wanting to recognize the updated input. Not exactly sure what you mean by universal?

[2019-05-20 16:31] Riajyuu commented on #324
As you see, Google, M$, Yandex and many more sites are supporting multiple accounts. Also, some sites (afaik, Twitter, V2EX, Epic Games) do use login account name as OTP account name param.

So I wonder if you guys have anything to do with those cases, or perhaps you can find any better matching solution than mine?

[2019-05-20 16:44] mymindstorm commented on #324
We filter by site and only autofill when the user clicks a code. It isn't the best solution, but it's better than guesswork.

I tried to test out your solution, but I couldn't get it to work. Not sure if I'm doing something wrong. I added an account manually since I couldn't get the QR scan to work, it looks like [this](https://user-images.githubusercontent.com/27789806/58037879-1a198600-7af4-11e9

[2019-05-20 16:54] Riajyuu commented on #324
If you are using appspot test demo, current autofill code is supposed not working. As I first try to catch login account name: nothing will be filled if no account name is catch. This avoids some unnecessary  autofill (like Twitter without logging in).

And Yes, I have to say my current work looks pretty similar like guesswork. But it is already the quickest implement to full auofill I can find no

[2019-05-20 17:09] mymindstorm commented on #324
@Riajyuu it's a really convenient system when it fills codes though. Github doesn't even put the username on the 2FA page so it must be pretty hard to get the username for some sites.

[2019-05-21 08:08] #324 closed, assigned to mymindstorm

[2019-05-21 08:11] mymindstorm opened #333 "SASS work"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

- Convert popup css to sass
- Have webpack compile sass

[2019-05-22 18:54] authenticatorbot opened #334 "Feedback from Twitter user @Alex48can"
#AuthenticatorFeedback

Original tweet: https://twitter.com/Alex48can/status/1131270891877392385

[2019-05-24 06:41] Riajyuu opened #335 "Reconsider Mobile Support"
Literally one year ago, I brought out #213 here to expect Firefox Android support but denied. At that time, Firefox Android is the only mobile browser with WebExt support.

Now we have kiwi browser as another Android browser with Chromium supporting WebExt, especially Edge mobile is considering this as well. So I think it is now a proper time to revisit this issue.

As for my side, we do have plan

[2019-05-24 09:27] Sneezry commented on #335
There has already been many 2fa clients for mobile platform, and we would not like to make another wheel. May I ask what is your scenario to expect Android support?

[2019-05-24 09:31] Sneezry commented on #335
It is great to provide more options to users. If you have plan to support Chromium, no matter on PC or mobile platform, I'm very glad to see that happen :-D

[2019-05-24 09:32] #334 closed, assigned to nobody

[2019-05-24 09:35] Sneezry commented on #332
FYI, Microsoft has released [Edge Insider](https://www.microsoftedgeinsider.com/en-us/) which is based on Chromium. If you'd like, this new Edge is another option. And you can install Chrome version on the new Edge.

[2019-05-24 10:12] Riajyuu commented on #335
@Sneezry the reason is quite simple: syncing.

indeed many app on android, but none syncs except authy. but authy wants your cellphone and refuses open platform like dropbox so I started foxauth.

So foxauth is also trying balance security and convenience

[2019-05-24 17:16] mymindstorm commented on #335
@Riajyuu I'm a bit more concerned on the security side for mobile. I think it makes more sense to push a native app in that respect. On that front, FreeOTP+ seems to have added support for the standardised OTP backup format. The browser sync systems are a bit finicky anyway.

[2019-05-24 17:18] mymindstorm opened #336 "Improve autofill UX"
Refrences: @Riajyuu in https://github.com/Authenticator-Extension/Authenticator/issues/324#issuecomment-493937385_ and https://github.com/Authenticator-Extension/Authenticator/commit/bb4c5784ee85a64e263f7bcc06992cbe2a0907f7#commitcomment-33621587

[2019-05-24 17:21] mymindstorm commented on #336
@Riajyuu reading that chain again, I think I sound a bit rude. Sorry if I come off that way, I don't mean to be dismissive or overly critical of your solution or suggestions.

[2019-05-24 17:28] mymindstorm commented on #332
I think I'll disable scan functionality in (old) edge with an update targeting the affected windows build and above and branch it. Past that, I don't think we should support old Edge any more. Will also remove all those overrides from the main branch.

[2019-05-24 18:56] Riajyuu commented on #336
you are right about that but I just know another mean better

[2019-05-27 18:50] alystair opened #337 "Option to hide codes (copy/paste only)"
**Describe the feature you want:**
Option to visibly hide all OTP codes in popup, click-to-copy should still function as normal by clicking issuer/account name.

**Why do you want this feature in Authenticator?**
I frequently demo systems that require OTP input as only login method, however for larger crowds this dramatically increases the possibility of an opportunistic shoulder-surfing attack. H

[2019-06-04 18:28] vinhk opened #338 "How to recover Authenticator Account name and Secret"
Hi,

Previously, I used Authenticator to authenticate a website. It was working and I was able to log on. But recently, I do not see any account on the Authenticator extension. Now I am having trouble remembering the Account and Secret for this website. Is there a way to access it again so I can see the generated code for that website?

[2019-06-04 20:39] mymindstorm commented on #338
Do you have a backup? If not then there isn't really much I can do (unless it disappeared because of a bug). Refer to https://authenticator.cc/docs/en/lost-codes

[2019-06-04 20:39] #338 closed, assigned to nobody

[2019-06-05 01:54] Sneezry commented on #222
https://developer.chrome.com/apps/permissions

@mymindstorm here's the official suggestion to handle dynamic hosts permission. Do you think this makes sense?

[2019-06-05 12:18] mymindstorm commented on #222
Don't we still have to declare the host in CSP?

[2019-06-05 12:20] mymindstorm commented on #222
Permissions.request is also a bit broken in Firefox, will need to work around that.

[2019-06-05 12:34] Sneezry commented on #222
@mymindstorm correct, we need to handle CSP. Emmm, then this is still blocking...

[2019-06-05 12:37] mymindstorm commented on #181
Closing as edge is being replaced with chromium Edge.

[2019-06-05 12:37] #181 closed, assigned to mymindstorm

[2019-06-05 21:34] vwbusguy commented on #337
Wouldn't they also need to figure out your password before said token expires?  This seems like an unlikely scenario.

[2019-06-06 00:22] mymindstorm commented on #222
Looking at the [API that's available](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/downloads/download), I don't really see a good way to interact with the file system.

[2019-06-06 04:52] alystair commented on #337
For projects that use OTP as main login method

[2019-06-06 08:08] KharmaScribbles commented on #337
By the time the snooper gets around to entering your code, wouldn't it be expired since they are time-based?

[2019-06-06 09:34] mymindstorm commented on #337
TOTP is designed to be the second factor, not the first and only. Whatever system you're using is weird.

[2019-06-08 19:16] alystair commented on #337
Popular open source Android app [andOTP](https://github.com/andOTP/andOTP) has this exact feature

[2019-06-09 06:21] alystair commented on #174
I'm having problems with it recognizing some QRs generated by the [BaconQrCode](https://packagist.org/packages/bacon/bacon-qr-code) PHP package.

[2019-06-10 08:50] Sneezry opened #339 "Seems Dropbox auth breaks in Chrome on Windows"
I will make further confirmation.

![Snipaste_2019-06-10_16-49-08](https://user-images.githubusercontent.com/1621293/59184037-cef90d00-8b9f-11e9-9115-e00e93edf967.png)

[2019-06-10 14:34] mymindstorm commented on #339
Looks like the client id is missing. Did you build it yourself or grab the build from travis? Self builds don't decrypt the client credentials.

[2019-06-10 16:51] Sneezry commented on #339
I built it on my machine. I will test travis built version.

[2019-06-17 01:33] authenticatorbot opened #340 "Feedback from Twitter user @dadirosadi"
#AuthenticatorFeedback

Original tweet: https://twitter.com/dadirosadi/status/1140431982800723968

[2019-06-17 08:57] KiranaPutriAzazel opened #341 "CODE INVALID!!"
I just changed Windows 7 to Windows 10, I logged in Google Chrome account on Windows 10 and synchronized all data including Authenticator. There is a problem with all of my Authenticator codes being invalid! Is there any solution?

I have no data backup because I haven't had time to export data!

[2019-06-17 09:20] Sneezry commented on #341
Is your clock correct? Try `settings` -> `Sync Clock with Google`. Your data is safe, and you can make a backup from settings menu now.

[2019-06-17 09:21] #340 closed, assigned to nobody

[2019-06-17 09:49] KiranaPutriAzazel commented on #341
caution your local clock is far please fix it before continuing

[2019-06-17 09:52] KiranaPutriAzazel commented on #341
![image](https://user-images.githubusercontent.com/46416083/59595552-3d9a1580-9120-11e9-88a3-72c4b50918a3.png)
succes now, but code still error/ invalid

[2019-06-17 10:00] KiranaPutriAzazel commented on #341
OMG work!!! Thank you Mr. Zhe Li!

[2019-06-17 10:53] #341 closed

[2019-06-19 15:18] smoyer64 opened #342 "U2F support"
**Describe the feature you want:**

Can support for U2F devices be added to Authenticator?

[2019-06-19 15:34] salvador77 opened #343 "not work to see the code of presearch and coinbase"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser: [Chrome, Firefox, Edge]
 - Browser  not work to see the code of presearch and coinbase

[2019-06-21 14:50] Sneezry commented on #343
Please provide more details.

[2019-06-25 21:50] ghost opened #344 "Restore cleartext bug: Entries with the same secret key only imported partially"
I am building a bash converter for syncing AndOTP and Authenticator. For this task i've made two test entries in the test import file authenticator.txt

otpauth://totp/TEST?secret=1234567812345678&issuer=TEST
otpauth://totp/TEST2?secret=1234567812345678&issuer=TEST2

Importing this text backup will only import TEST2. TEST ist lost.

Now change the first line to:
otpauth://totp/TEST?secret=11111111

[2019-06-25 21:58] ghost opened #345 "Feature Request: Import/Export cleartext/encrypted backups from and to AndOTP"
I've installed lately LineAgeOS at my mobile to get rid from Google's Android. In the open source app store http://f-droid.org you find several otp solutions and decided to install AndOTP as a good solution.

My target is a open source solution for OTP at my mobile and would like to sync with Authenticator as a solution for my open source linux desktop.

Would be nice to have a import function for

[2019-06-25 23:05] mymindstorm commented on #344
Wontfix, we identify by hash of secret; importing with the same secret will overwrite old data.

[2019-06-25 23:05] #344 closed, assigned to nobody

[2019-06-25 23:08] mymindstorm commented on #345
We don't support importing other formats at the moment. Consider asking them to support our data exchange format. https://authenticator.cc/docs/en/otp-backup

[2019-06-25 23:08] #345 closed, assigned to nobody

[2019-06-25 23:08] #343 closed, assigned to nobody

[2019-06-26 01:09] ghost commented on #344
Agree.

Probability that hash of non manually generated secrets is going to zero.

Am Mi., 26. Juni 2019 um 01:06 Uhr schrieb mymindstorm <
notifications@github.com>:

[2019-06-27 13:16] bstets1 opened #346 "OneDrive for backup sync"
<You can also suggest feedback by Tweeting with #AuthenticatorFeedback>

We use Onedrive and it would be great if you could add that to your list of cloud backup services in the app.

I want it so that we can utilize the cloud sync backup feature as we do not use dropbox or google.

Thank you.

[2019-06-30 01:46] authenticatorbot opened #347 "Feedback from Twitter user @massybrazil"
#AuthenticatorFeedback

Original tweet: https://twitter.com/massybrazil/status/1145145993547137024

[2019-06-30 02:30] #347 closed, assigned to nobody

[2019-07-03 05:24] sfalvey opened #348 "Mistyping encryption password and generating HOTP code causes data corruption"
**Describe the bug:** Mistyping encryption password prevents future use of counter based code

Steps to recreate
1. Start browser normally, use correct unlock password for authenticator
2. Create a counter based code
3. Quit browser
4. Start browser normally, use incorrect password for authenticator
5. Click the counter based passwode note it will respond with "Encrypted"
6. Quit browser
7. Start

[2019-07-03 21:28] mymindstorm commented on #348
The data only gets corrupted when you click the button. Just getting the password wrong won't corrupt the secret data for that account.

[2019-07-04 16:26] #348 closed, assigned to nobody

[2019-07-04 18:02] #202 closed, assigned to nobody

[2019-07-04 19:01] FDiskas commented on #316
This could work
[code]
:clock1130:

[2019-07-05 19:34] maiquangminh opened #350 "MM"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser: [Chrome, Firefox, Edge]
 - Browser Version:

[2019-07-05 20:48] #350 closed, assigned to nobody

[2019-07-05 23:00] webmihir opened #351 "QR code scan error on Firefox"
On Firefox (Windows 10), when I am previewing a PDF file and click on the scan QR code button in Authenticator, I get the following error message:
"Capture failed, please reload the page and try again."

Platform: Windows 10
 - Browser: Firefox
 - Browser Version: latest

[2019-07-05 23:06] mymindstorm commented on #351
The extension can't access PDFs due to what looks like a bug with Firefox extension permissions. To work around either take a screenshot of the QR, preview that in Firefox, and then scan the QR or just enter the secret manually.

[2019-07-05 23:12] mymindstorm commented on #351
Closing, Firefox blocks content scripts on PDF previews intentionally. See: https://bugzilla.mozilla.org/show_bug.cgi?id=1454760

[2019-07-05 23:12] #351 closed, assigned to nobody

[2019-07-07 08:46] ghost commented on #324
v5.3.2 on FF 69.0a1 (2019-07-06) (64-bit) it does not work on my node.

It has actually gotten worse in a way that upon the first copy/paste process manually deleting and retyping the last character does not provide a login, a workaround that used to work.
Now a requires a second pass of copy/past _plus_ manually deleting and retyping the last character.

[2019-07-07 17:04] mymindstorm commented on #324
I honestly have no clue at this point. It _was_ working, but I assume they updated it. I really don't want to dig through Discoure's source to figure out what magic sequence has to happen for it to register Authenticator's input.

[2019-07-07 17:54] mymindstorm commented on #324
Oops, I was using the wrong build and the wrong secret. It still does work fine, but the fix isn't out yet. 5.3.2 was just a one line change. I have been working on #352 and waiting until that's fully done before making any more updates.

[2019-07-09 00:50] #335 closed, assigned to nobody

[2019-07-09 00:50] #333 closed, assigned to mymindstorm

[2019-07-09 00:51] #332 closed, assigned to nobody

[2019-07-09 00:58] #339 closed, assigned to Sneezry

[2019-07-09 02:27] #283 closed, assigned to nobody

[2019-07-09 03:02] #313 closed, assigned to nobody

[2019-07-10 20:14] Rik44444 opened #355 "sync not working"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>
hi all, sync is not working for me. I installed Authenticator on my desktop and my laptop, using Firefox on both, and after several times syncing, the codes have still not shown up on my laptop (i inputted them on my Desk

[2019-07-10 20:43] mymindstorm commented on #355
It takes a while and is finicky sometimes. You can force it to sync using the three bar menu and clicking the button to the right of your name. Make sure extension data is getting synced. I can't really do much about Firefox being dumb. If you really want the data, you can export a file and import that on the other computer.

[2019-07-10 20:43] #355 closed, assigned to nobody

[2019-07-10 20:48] Rik44444 commented on #355
they just appeared!!
thanks for developing the app; pretty great to have an open source solution for this, let me know if there's anything i can do to help.
are you planning any further features for the future?
Rik

[2019-07-10 20:56] mymindstorm commented on #355
If you want to help you can translate, report bugs, or submit pull requests.

Everything being considered is in the issue tracker, you can look through that if you want. Everything being put into the next release is here: https://github.com/Authenticator-Extension/Authenticator/compare/release...dev

[2019-07-12 14:22] aleqx opened #358 "please add encryption password expiration (timeout)"
Encrypting the TOTP is a must in my opinion. However, once I decrypt the Authenticator codes, they remain decrypted for as long as I keep my browser open. Physical access to my laptop (theft, etc) would mean they get access to the TOTP codes already decrypted previously when I opened the browser.

Can you please add a password expiration feature where we can set a timer in minutes in order to prot

[2019-07-12 15:47] mymindstorm commented on #358
Duplicate of #219

[2019-07-12 15:47] #358 closed, assigned to nobody

[2019-07-12 23:36] aleqx commented on #219
This is pretty vital for security given virtually everyone keeps their browser open nowadays. All password managers have this feature. It's also easy to implement.

p.s. Is there a donation address?

[2019-07-13 21:33] maciel2017 opened #360 "Faucethub"

[2019-07-13 21:38] mymindstorm commented on #360
Please don't post personal information here, everything is public.

Have you synced your clock? If not, can you generate a new secret from that site and reproduce the behavior?

[2019-07-14 10:24] #360 closed, assigned to nobody

[2019-07-14 10:27] maciel2017 commented on #360
Preciso saber o email vinculado ao 2fatores pis nao recebo codigo para desativacao nao chega nos meus email preciso saber se há outro email desconhecido recebendo esses codigos. help help.

[2019-07-14 22:03] mymindstorm commented on #360
Contact Faucethub support.

[2019-07-16 16:23] siridech28 opened #362 "Issue: Bug report Authenticator"
<You can also suggest feedback by Tweeting with #AuthenticatorFeedback>

**Describe the feature you want:**

**Why do you want this feature in Authenticator?**

[2019-07-16 16:43] siridech28 opened #365 "siridech28:l18n_dev"
<You can also suggest feedback by Tweeting with #AuthenticatorFeedback>

**Describe the feature you want:**

**Why do you want this feature in Authenticator?**

[2019-07-16 21:10] #365 closed

[2019-07-16 21:12] #362 closed

[2019-07-18 09:02] akiller opened #366 "Allow multiple entires using same secret"
**Describe the feature you want:**
It would be great if you were able to add multiple entries using the same secret key. E.g., consider the following examples:

[code]

Currently, if you add the first one then add the second the first one is deleted (or updated), and only the second entry remains.

An alternative (and possibly preferred) approach would be to work how LastPass does, and allow you t

[2019-07-18 12:28] maciel2017 opened #367 "nao consigo mudar pra 2 opcao ""pode ler e alterar os dados deste site"
#AuthenticatorFeedback  Nao consigo mudar "" Quando vc clicar na extensão para a segunda opcao a parte de opcoes estra em oculto nao consigo entrar em opcoes nas configuracoes . entro em qualquer outro site menos em um devido este problema . anteriomente foi eu que optei por a primeira opcao mas ai o codigo passou a dar errado toda vez que coloco o codigo dar errado isso so em um site preciso que

[2019-07-18 18:13] mymindstorm commented on #366
Append `::localhost` to the issuer to manually override autofill. It should match for the live and local version of the site. We store based on hash, if you try to create another entry with the same hash as one already in storage it will just supersede the one in storage.

[2019-07-18 18:22] mymindstorm commented on #367
Please stop putting personal information into the issue tracker. I can't help you unless you can write in English as Google Translate is not working very well for me.

You should email Faucethub. https://faucethub.io/ticket/fh

[2019-07-18 18:22] #367 closed, assigned to nobody

[2019-07-18 19:25] maciel2017 commented on #367
#AuthenticatorFeedback I can not change "" When you click on the extension for the second option the option part is hidden and I can not enter options in the settings. I enter into any other site less in one due to this problem. I was the one that opted for the first option but then the code started to go wrong every time I put the code to go wrong so I just need a site to help me sort it out. sum

[2019-07-18 21:20] mymindstorm commented on #367
I don't understand what you mean by "second option".

So you changed to the "second option" and that broke the code? What do the "first option" and "second option" mean?

[2019-07-19 18:09] maciel2017 commented on #367
Some extensions need permission to read and change site data. You can
change the permissions of your extensions at any time.

On your computer, open Chrome Chrome.
On the toolbar, right-click an extension.
Hover over "Can read and change site data". Then choose one of the
permissions for the extension:
When you click on the extension: activates the extension only when you
click on it. This only al

[2019-07-19 19:32] mymindstorm commented on #367
![image](https://user-images.githubusercontent.com/27789806/61560089-eba32300-aa30-11e9-8a70-fe9e3eba9797.png)
- The options for changing site data should be like this and not able to be changed.
- What exactly is giving you the error? Will the website claim that there is an invalid code? Can you not open or use Authenticator?
- Are you using autofill?

[2019-07-21 05:38] maciel2017 commented on #367
Will the website claim that there is an invalid code?

Em sex, 19 de jul de 2019 às 16:32, mymindstorm <notifications@github.com>
escreveu:

[2019-07-29 02:05] RoderickSpraguethe4th opened #368 "How does your app work?"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser: [Chrome, Firefox]
 - Browser Version:

[2019-07-29 02:07] RoderickSpraguethe4th commented on #368
Okay, now my Farcebook no account asks me for my six digit code, but the computer sits there inert. Am I supposed to pull it out of my ass?

[2019-07-29 06:29] SpiritWolfe commented on #368
HEY NOW, Numbnuts ... the Devs have enough to worry about than your smart comments... here's your help. You are Welcome!

Are you SURE you are not receiving your six-digit code via TEXT OR EMAIL?!
Second, the page that you are on HAS TO HAVE a Two-Step verification process ACTIVE to work.

This link will provide you the steps you need to help you activate [Facebook's 2-Step Authentication](https:/

[2019-07-30 20:34] PatOnTheBack opened #369 "Replace MD5 with SHA256"
**Describe the bug:**
Authenticator used MD5, but MD5 is vulnerable to collision attacks (https://en.wikipedia.org/wiki/MD5#Collision_vulnerabilities).
Replacing MD5 with SHA256 will mitigate this risk.

**Platform:** All
 - Browser: All
 - Browser Version: All

[2019-07-30 22:39] mymindstorm commented on #368
Please refrain from using expletives in the issue tracker @RoderickSpraguethe4th.

[2019-07-30 22:40] #368 closed, assigned to nobody

[2019-07-31 12:53] akiller commented on #366
Thanks for the suggestion I'll give that a try.

You wouldn't believe how confused some people look when you ask them to type in six numbers so I'm just trying to make it as seamless as possible. This browser extension has definitely helped a lot!

[2019-07-31 17:46] ghostkill3r opened #371 "the QR code scanning of paypal is not working."
i'm getting a "unrecognized QR code" message when i try to scan the paypal QR code, wile trying  to configure paypal for the 2factor login thing  :(

Windows 10 x64
 - Browser: Firefox and Edge
 - Browser Version: Firefox: (as of writing) 70.0a1 (2019-07-31) (64-bit) Nightly
                               Edge :  (as of writing) Version 77.0.233.0 (Official build) canary (64-bit)

[2019-08-07 17:02] mymindstorm commented on #371
Can you try to scan the code and follow [these directions](https://authenticator.cc/docs/en/debug-info)?

You can still add the account using manual entry.

[2019-08-09 20:45] ghostkill3r commented on #371
it's working now for whatever reason, and trust me i tried it more than once. :/
maybe it's working now because of a browser update?
i'm sorry that i was to quick about it, and opened a thread/issue.

i will close this now, and again I'm sorry.

[2019-08-09 20:45] #371 closed, assigned to nobody

[2019-08-10 19:36] Matthaiks opened #372 "The "Encrypted" string"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>
Despite being translated, the "Encrypted" string is shown in English.
![AuthEnc](https://user-images.githubusercontent.com/3577122/62826122-9634de80-bbb6-11e9-9f9c-8bb4d8d309f5.png)

**Platform:** <This is required>
 - Br

[2019-08-11 23:43] #306 closed, assigned to nobody

[2019-08-15 08:47] khenzar opened #373 "Google Drive login fails in Brave browser (Chromium)"
When trying to setup Backup Sync using Google Drive, the Sign-In fails with the following message:
![image](https://user-images.githubusercontent.com/2130285/63083829-0098a680-bf4a-11e9-866b-c0069cc769ee.png)

Additional info:
Dropbox login works fine. Google login works fine on other websites and extensions.

**Platform:**
 - Browser: [Brave]
 - Browser Version: 0.67.125 Chromium: 76.0.3809.100 (

[2019-08-15 19:15] mymindstorm commented on #373
Try to login, do https://authenticator.cc/docs/en/debug-info, type `window.navigator.userAgent` into the console, hit enter, and finally copy paste all messages to the issue desc.

Brave is not officially supported, the issue comes from using a chrome-specific API and Brave having Chrome in the useragent.

[2019-08-16 05:45] 01aca10 opened #374 "Code not working"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser: Chrome
 - Browser Version: Version 76.0.3809.100 (Official Build) (64-bit)

Code not working. We added the secret key manually for 3 users (same key) for 1 team member's authe

[2019-08-16 17:37] erickufrin-okta opened #375 "Policy: Autolock + Require Password"
Allow for centralized policy control of certain settings + enforcement of password.

- enforce autolock after X-num min (for flexibility it should allow for X-number of minutes vs pre-defined increments)
- enforce autolock on startup (upon launch of a new chrome tab, the OTP's should be locked)
- enforce password be set (dont allow enrolling OTP tokens without a password set first)

Without these

[2019-08-17 14:53] mymindstorm commented on #374
The time on that person's computer is probably off. Go to them menu and hit "Sync Clock With Google"

[2019-08-17 15:54] #366 closed, assigned to nobody

[2019-08-18 13:37] #372 closed, assigned to nobody

[2019-08-20 08:03] Sneezry opened #378 "Support format for i18n"
We need support format for i18n to resolve some limit.

Example:

English: Locked after 5 minutes

Chinese: 于5分钟后锁定

If we only provide `Locked after` and `minutes` for translation, `之后锁定` for `Locked after`, `分钟` for `minutes`, it will become `之后锁定5分钟`, which means `Locked for 5 minutes later` in Chinese.

Instead, `Locked for {0} minutes` or something else should be used.

---

i18n placeholder

[2019-08-20 21:09] mymindstorm commented on #378
I don't think that we can just use `{0}` since it needs to be substituted with an input box. See:

https://github.com/Authenticator-Extension/Authenticator/blob/9465158fb77c78121d025aa6127632b3398bc34b/src/components/Popup/PrefrencesPage.vue#L27-L39

What about changing the i18n string names and css like this `autolock` => `before_autolock_input` and `minutes` => `after_autolock_input`?

Also `Loc

[2019-08-21 00:55] abrahamjuliot opened #379 "Partial Decryption when using Cookie AutoDelete"
Not necessarily a bug. But, it certainly appears so at a glance:

Decryption password strangely only decrypts some accounts when extension Cookie AutoDelete is active.

 - Platform: Win 10
 - Browser: Chrome
 - Browser Version: Latest

[2019-08-21 01:05] mymindstorm commented on #379
Please follow [these steps](https://authenticator.cc/docs/en/debug-info) while reproducing the bug.

[2019-08-21 01:05] #374 closed, assigned to nobody

[2019-08-21 01:33] 01aca10 commented on #374
Thank you for this.

We did try Syncing clock with Google and it still doesn’t work….

Tina Academia
Admin and Marketing Assistant
tina.academia@viewlegal.com.au<mailto:tina.academia@viewlegal.com.au>
View Legal Pty Ltd
General mail: GPO Box 681, Brisbane  QLD  4001
Secure storage: PO Box 221, Enfield LPO  NSW  2136
1300 843 900
viewlegal.com.au<http://www.viewlegal.com.au/>
[vl]
Learn more about

[2019-08-21 01:47] mymindstorm commented on #374
Have you tried re-adding the key on the computer that can't use the code? Try this:
1. Delete the broken code
2. Export a backup of a working code from someone else's computer
3. Import the code

[2019-08-21 03:25] Sneezry commented on #378
See i18n placeholder example: https://developer.chrome.com/extensions/i18n#examples-getMessage

[2019-08-22 01:22] mymindstorm commented on #378
That method only allows you the replace text, I didn't use that because I put an input element between the strings.

| Language | `autolock` / `before_autolock_input` | `minutes` / `after_autolock_input` | Image |
|----------|------------|-----------|-------|
|English| Lock after | minutes | ![Screenshot_20190821_200107](https://user-images.githubusercontent.com/27789806/63478246-ab2f2e80-c44e-11e

[2019-08-22 02:03] 01aca10 commented on #374
Thanks!

It worked.

Tina Academia
Admin and Marketing Assistant
tina.academia@viewlegal.com.au<mailto:tina.academia@viewlegal.com.au>
View Legal Pty Ltd
General mail: GPO Box 681, Brisbane  QLD  4001
Secure storage: PO Box 221, Enfield LPO  NSW  2136
1300 843 900
viewlegal.com.au<http://www.viewlegal.com.au/>
[vl]
Learn more about View Communities here<https://comviewnities.com/>.

  If you have

[2019-08-22 06:06] Sneezry commented on #378
Got it.

[2019-08-22 09:51] kleena-k opened #380 "Support algorithm paramater"
**Describe the bug:** The codes generated by Authenticator for the settings URL posted below are not being accepted by a website

**Platform:**
 - Browser: Firefox
 - Browser Version: 68.0.2 x64

The settings URL: otpauth://totp/IconParc:viktor@*anonymized*?REMOVED&algorithm=SHA512&digits=6

The site to accept it is not publicly accessible, but comparison with another generator should enable code

[2019-08-22 14:38] mymindstorm commented on #380
We don't support `algorithm` yet. Convert the secret to SHA1 or hexadecimal manually for now.

[2019-08-22 16:07] ghost opened #381 "result is non-structured-clonable data"
* FF 70 x_64 build dcfcd7909aff0ef81a3b884ead0745645c6d6670
* W10 Pro x_64 1903 b18362.295
* Authenticator 5.3.2
____
observed in the browser console

    insertContentScript moz-extension://cf340420-a455-4093-b8d9-e400a837a80b/build/ui/add-account.js:17

pointing to

[code]

[2019-08-22 16:30] mymindstorm commented on #381
Are you having problems adding a QR code? This error is harmless.

[2019-08-22 16:32] ghost commented on #381
No such problem, just thought to report it however since being printed as error in the console.

[2019-08-24 18:20] Kellywislon commented on #378
Lock after 5 minute

[2019-08-25 22:06] magicoflolis opened #382 "Steam Desktop Authenticator Wiki needs to be updated!"
The wiki page for "Getting Shared Secret from Steam Desktop Authenticator (Windows)" needs to be updated.
**Old:**
"shared_secret":"your_secret_key"
**New:**
"uri":"otpauth://totp/Steam:your_steam_username?secret=your_secret_key&issuer=Steam"

**The old method gives you an error.

[2019-08-26 03:21] Sneezry commented on #382
Steam related wiki is beyond our control, please raise an issue at https://github.com/SteamTimeIdler/stidler

[2019-08-26 03:21] #382 closed, assigned to nobody

[2019-08-28 10:20] authenticatorbot opened #383 "Feedback from Twitter user @parvizbag"
#AuthenticatorFeedback

Original tweet: https://twitter.com/parvizbag/status/1166655709305589762

[2019-08-28 17:57] #383 closed, assigned to nobody

[2019-08-30 13:38] mtravnicek opened #384 "Problem with password storage, can i contribute?"
Hello, I noticed problem with plaintext local storage of passwords in your app.
Before I corroborate more on this, can i contribute by commiting some code in new branch (as it is easier than explaining) and i want some credit :) or is this project strictly 2 developer project?

[2019-08-30 14:36] mymindstorm commented on #384
Feel free to submit a PR and I'll review it.On Aug 30, 2019 8:38 AM, mtravnicek <notifications@github.com> wrote:Hello, I noticed problem with plaintext local storage of passwords in your app.
Before I corroborate more on this, can i contribute by commiting some code in new branch (as it is easier than explaining) and i want some credit :) or is this project strictly 2 developer project?

—You are

[2019-08-30 21:23] mymindstorm commented on #379
No response in over a week, closing.

[2019-08-30 21:23] #379 closed, assigned to nobody

[2019-08-30 23:06] mymindstorm commented on #375
This is honestly a bit excessive. It already will display the password prompt on every fresh browsing session (I'm not clear on what you mean by 'startup'), combining `enforcePassword` and `enforceAutolock` should be more than enough control over when the password prompt comes up.

I've made the other two for you (and a `disableExport` setting), they will be available with the next release.

[2019-08-30 23:25] erickufrin-okta commented on #375
Ok. Based on your description of the way it works when combining the two
enforcements, that would in fact meet the need.

Thanks for your consideration.

On Friday, August 30, 2019, mymindstorm <notifications@github.com> wrote:

--
*Eric Kufrin | Staff Architect - Information Security | Kohl's*
W165N5830 Ridgewood Drive | Menomonee Falls, WI 53051 | office:
262.704.0138 | cell: 414.334.0025 | emai

[2019-09-01 08:12] Kukks commented on #373
Clicking on Sign in ( or [screenshot if easier to read](https://i.imgur.com/tSphen6.png)):
[code]

[code]

[2019-09-04 18:43] wytcld opened #386 "Hide QR overlay on drag"
**Describe the bug:** Several users trying this with Chrome on Windows report that the overlay showing how to drag over the QR code itself gets in the way of reading the QR code, which is either then unreadable or takes multiple tries to capture.

**Platform:** Windows 10
 - Browser: Chrome
 - Browser Version: latest
![qrcrop](https://user-images.githubusercontent.com/1467471/64281968-5990a480-cf2

[2019-09-04 23:11] mymindstorm commented on #386
QR overlay is not captured on scan. You need to make sure the QR code isn't cut off (box must completely cover code). To see what the application is parsing go to the about menu, scroll all the way down, open the QR debugging page, and scan a code while that tab is open.

I'll update the overlay to hide the tutorial gif on click.

[2019-09-14 08:38] aleqx opened #387 "decrypt password not requested after browser shutdown"
If my browser crashes then after reopening it, the extension does not request the decrypt password. All codes are already decrypted and displayed. It seems that once decrypted they stay decrypted regardless of whether the browser dies or not. There is also no expiration timer. These are security risks.

[2019-09-14 08:45] aleqx commented on #387
Hmm, I'm noticing a comment from you @mymindstorm in https://github.com/Authenticator-Extension/Authenticator/issues/375 suggesting you have in fact implemented both the above issues in the dev branch, is that correct? That would be great.

[2019-09-14 15:51] mymindstorm commented on #387
@aleqx No, that doesn't mean it's fixed. Are you using Chrome or Firefox? Does this only occur after the browser crashes or during normally closing the browser too?

[2019-09-14 15:58] mymindstorm commented on #384
@mtravnicek do you still plan on submitting a PR? If you don't have the time, you can email me with details at [my username]@evermiss.net.

[2019-09-14 17:46] aleqx commented on #387
I'm using the version from Chrome Web Store, which I believe does not have autolock ... ?

[2019-09-14 19:39] mymindstorm commented on #387
Autolock is a new feature that isn't out yet. If you have a password set, Authenticator will lock itself on every new browsing session. I.e. every time Chrome is _completely_ closed (not running in background) Authenticator will be locked.

[2019-09-14 19:42] aleqx commented on #387
Just to eliminate confusion: is autolock supposed to work in the dev branch after the browser is closed? is autolock supposed to work in the dev branch after a certain time elapsed?

[2019-09-14 21:24] mymindstorm commented on #387
@aleqx autolock is on dev currently. It's under settings and is only visible if you have a password set. If you fully close the browser and have a password it will lock no matter what autolock is set to.

Are you using the dev build? I think I know what's going on.

[2019-09-14 21:48] aleqx commented on #387
Not yet. I will try it tomorrow on my dev machine. I'm actually more interested in **timed** autolock - is that also available in dev?

[2019-09-14 22:32] mymindstorm commented on #387
Timed autolock is in dev. I don't understand what feature you refer to as "also available in dev". You haven't described the issue very well.

Are your secrets even encrypted? When it is unlocked do you see a padlock icon next to the cog icon in the header?

[2019-09-14 23:49] aleqx commented on #387
By "dev" i mean "dev branch". As I said, I'm not using the dev branch but the chrome web store version, and that i will try the dev branch version tomorrow. I also linked to another issue that talk about the same autolock features I mentioned. Decryption password should be requested:

1. after a timer elapsed.
2. on each browser startup.

Point 1. is much more important than 2. You said 2. is impl

[2019-09-15 14:13] mymindstorm commented on #387
Thank you for that, it helps a lot. The issue you are referencing isn't relevant here.

Point 1 is in dev branch. Point 2 is in the web store version.

Do you see a padlock icon in the top left in header while decrypted like below?

![image](https://user-images.githubusercontent.com/27789806/64922808-fcee7e80-d798-11e9-9c19-d445579f03bf.png)

[2019-09-17 08:59] aleqx commented on #387
Yes, the padlock shows, i'm using the latest version from the chrome web store, v5.3.2. It does NOT ask for the decryption password after browser shutdown. Chrome v76.0.3809.132 windows x64

[2019-09-18 14:49] chaddjohnson opened #388 "Option to not have to click "Show all entries""
**Describe the feature you want:**
Option to not have to click "Show all entries"

**Why do you want this feature in Authenticator?**
Almost every time I use Authenticator, I have to click "Show all entries."

[2019-09-22 01:46] drivencompassion opened #389 "Capture failed, please reload the page and try again"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

Tried reloading this page over several days and it is the only page that still gives this error:
"Capture failed, please reload the page and try again"

https://accounts.firefox.com/settings/two_step_authentication

[2019-09-22 15:28] mymindstorm commented on #389
Firefox accounts and addons are not allowed to be interacted with by extensions due to security reasons. Use manual entry.

[2019-09-22 15:28] #389 closed, assigned to nobody

[2019-09-26 22:19] sophuric opened #390 "Padding in window."
**Describe the bug:** There is padding in the window, this might be the scrollbar.

![image](https://user-images.githubusercontent.com/48314599/65728942-e08b0400-e0ff-11e9-8a75-948d76f87606.png)

Also when I scroll down, the menubar goes, and there is even more of a gap at the bottom of the window.

![image](https://user-images.githubusercontent.com/48314599/65728932-d8cb5f80-e0ff-11e9-9284-8ba147

[2019-09-27 03:19] Sneezry commented on #390
Did you scale the popup page? You can find scale settings from menu->popup page->scale

[2019-09-27 08:38] sophuric commented on #390
@Sneezry Yes, I have it at 125% which is the problem. So can you please fix it. At all the other scales this padding doesn't appear.

[2019-10-07 13:30] wytcld commented on #386
Thanks! What version may we anticipate this change in?

[2019-10-07 23:16] authenticatorbot opened #391 "Feedback from Twitter user @KhiMai5"
#AuthenticatorFeedback

Original tweet: https://twitter.com/KhiMai5/status/1181342429984649216

[2019-10-08 12:30] #391 closed, assigned to nobody

[2019-10-09 23:56] KharmaScribbles commented on #387
I've only ever been asked for the decryption password after uninstalling/disabling the extension and reinstalling it. Or in the case of Powerwashing (resetting) my Chromebook, when my extensions sync up after the first login, I'm asked for the decrypt password (as normal, since syncing extensions is just installing them).

This is how it has always been for me and even has been the same for anothe

[2019-10-12 18:36] mymindstorm commented on #386
Probably the next version (or whenever I get around to it). Lots of bigger changes are waiting on review, and that can take time.

[2019-10-12 18:38] mymindstorm commented on #384
It's been over a month with no response, closing.

[2019-10-12 18:38] #384 closed, assigned to nobody

[2019-10-14 13:57] rruizt opened #392 "Alternative extension with restricted permissions"
Hello,

Right now this extension requires "Access your data for all websites" permission. I understand why this is used and I agree reading QR codes from the screen is useful, but I consider it too risky to use.

I understand that this extension going rogue would mean that the attacker could get the login information together with the TOTP token. Am I correct?

It would be nice to have an alternat

[2019-10-14 16:38] Sneezry commented on #392
Hi @rruizt , do you use Chrome or Firefox or other browser?

[2019-10-14 16:39] rruizt commented on #392
Hello!

I use Firefox.

[2019-10-14 16:42] Sneezry commented on #392
@mymindstorm Could you explain why we ask for `<all_urls>` permission on Firefox? I remember there was a tech block issue, and we did that for a workaround. Also, is it possible to make `<all_urls>`  an optional permission?

[2019-10-14 16:55] Sneezry commented on #390
We use CSS `scale` to scale the UI roughly. However, it worked really well in the past. I have no idea if it's a CSS bug on Chrome. I will try to fix this issue in the next a few days.

[2019-10-14 21:26] mymindstorm commented on #392
Firefox doesn't implement `activeTab`, so you have to use `<all_urls>`. [MDN](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/captureVisibleTab)
Requesting permissions from extension popups is broken in Firefox. [Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1432083)

Yes, that is correct but unlikely for a few reasons:
1. AMO reviewers review source code p

[2019-10-17 11:54] falko opened #393 "Trello's QR code unrecognized"
**Describe the bug:**
Scanning Trello's QR code fails with the message "unrecognized QR code".

**Platform:**
 - Browser: Firefox Quantum on Ubuntu 18.04.3 LTS
 - Browser Version: 69.0.2 (64-bit)

[2019-10-17 11:55] falko commented on #393
It could be related to #386 but I tried to at least scoll in a way that the codes don't overlap

[2019-10-17 14:04] mymindstorm commented on #393
@falko It's not related to #386 ([my comment](https://github.com/Authenticator-Extension/Authenticator/issues/386#issuecomment-528127100)), that overlay is not captured when scanning. This is probably just a duplicate of #174. Overlapping the code with the picture has no adverse effects. Make sure you cover the code completely. Leave some white space around the edges. If that doesn't help, then fo

[2019-10-17 18:45] kampiamodikuesto opened #394 "Google Authenticator Android App vs Google Authenticator Chrome Extension: can we use only one?"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>
i have google authenticator app on my smartphone and it work properly. Now i installed this extension to use with chrome. I add new element/account:

- in the first field i insert the name of the site where 2FA has been e

[2019-10-17 19:07] mymindstorm commented on #394
You don't put in the code, you put in the account secret. Account secrets look like QR codes or text similar to this: `TCQ2O67OP6EFTUZNE74D2OKR7VQYQJE5`

[2019-10-17 20:36] kampiamodikuesto commented on #394
i have used QR Code or text code when i configured my android app, now from the site (where i enabled f2a) i have no more code but only an advice that f2a is active.

so or we use android app or we use extension chrome? now i try to disable/enable f2a, then first i configure the extension and lastly the android app.

[2019-10-17 20:57] mymindstorm commented on #394
Disable 2FA on the site, and then setup 2FA again to get a new code. Then setup on both.

[2019-10-18 02:20] dhulwells commented on #390
Can I take a crack at this?

[2019-10-18 02:32] mymindstorm commented on #390
@dhulwells go right ahead! Relevant file is sass/popup.scss

[2019-10-18 02:32] mymindstorm commented on #390
and this function

https://github.com/Authenticator-Extension/Authenticator/blob/7b9d9527d29f01bb13e7758c1daa370081997d31/src/store/Menu.ts#L43-L49

[2019-10-18 21:58] sophuric commented on #390
I've changed the `select` tag values and the gap starts to appear at 112%.
![Animation showing that the side padding appears at 112%](https://user-images.githubusercontent.com/48314599/67131253-a1a82400-f24f-11e9-89fa-42c32d0cfd16.gif)

[2019-10-20 22:50] #392 closed, assigned to nobody

[2019-10-20 22:50] #394 closed, assigned to nobody

[2019-10-21 14:19] #386 closed, assigned to nobody

[2019-10-21 17:34] patrakov opened #397 "All authentication data is trashed after entering wrong password several times"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

Sure, I don't ask. I have a backup for all codes except one, and that one can be easily reset.

**Describe the bug:**

I have added several QR codes, then clicked "Lock", then unlocked it with the wrong password. Expected all codes to show as "Encrypted". Some of them did show as "E

[2019-10-21 17:37] patrakov commented on #397
Not sure if it matters, but I have set Authenticator to sync data via Google.

[2019-10-21 21:46] mymindstorm commented on #397
Are you starting a scan, locking, and then adding the code?

Did you edit any data or change the position of any entries while some of them were showing as "encrypted"?

Also, please follow [these steps](https://authenticator.cc/docs/en/debug-info) while reproducing the issue.

[2019-10-21 22:15] patrakov commented on #397
I was not adding any codes after the first entry of the wrong password. I might have tried to rearrange the entries, but did not do any other editing. In other words: need to try again reproducing.

[2019-10-28 18:52] mymindstorm opened #399 "Investigate possible bug with import"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

Import probably has a bug along the lines of the following:

1. Open import page
2. Change password
3. Import codes

[2019-10-30 17:44] Tmalll opened #400 "建议添加一个扫描图片文件的功能"
建议添加一个扫描图片文件的功能，现在的扫描二维码的功能只能扫描网页中的二维码，无法扫描已经保存为图片的二维码

[2019-10-31 03:20] #375 closed, assigned to nobody

[2019-11-01 15:51] kampiamodikuesto commented on #394
i'm sorry i used another application https://github.com/gbraad/gauth/ and i write here has been a mistake. With your all things work right!!

[2019-11-03 01:52] 9ou opened #402 "Feature request"
<You can also suggest feedback by Tweeting with #AuthenticatorFeedback>

**Describe the feature you want:**

**Why do you want this feature in Authenticator?**

[2019-11-03 01:55] #402 closed

[2019-11-03 16:32] alejandro1121710 opened #403 "ayuda"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <windows 7>
 - Browser: [Cryptotab]
 - Browser Version:
no puedo entrar a mi cuenta de uphold

[2019-11-03 18:42] #403 closed, assigned to nobody

[2019-11-04 00:57] Sneezry commented on #400
![Snipaste_2019-11-04_08-54-34](https://user-images.githubusercontent.com/1621293/68095001-c3a4d600-fee0-11e9-9cbc-f4c4a02d01db.png)

在扩展管理页面开启本地文件权限，然后用Chrome打开二维码图片，即可像普通网页一样读取二维码。

Open extension management page, enable local file permission, then open the QR image file with Chrome, and you can scan the code like normal web page.

[2019-11-12 02:55] #400 closed, assigned to nobody

[2019-11-14 07:07] ghost commented on #324
Whilst development seems stalled since July 2019 here [1] is another case where autofill does not work (neither with GC or FX)

[1] https://www.virustotal.com
![Annotation 2019-11-14 080610](https://user-images.githubusercontent.com/13611490/68834275-ab3d7400-06b5-11ea-956c-aae403781c03.png)

[2019-11-14 14:51] mymindstorm commented on #324
It hasn't, this has already been fixed. I'm waiting on #395 (and planning to investigate #399) before pushing the update that fixes this. #395 has a lot of changes, so it will take time to review.

[2019-11-18 13:46] aleqx commented on #387
Any update on this bug? What about the issue of locking after a timeout? Sounds like they should be fairly quick fixes, so I take it you've been overly busy. Would be nice to have them as more and more website use 2fa now and it would make your extension more secure.

[2019-11-18 23:15] mymindstorm commented on #387
Autolock is already ready to go except for #399. The code for this issue is already done (part of #395), but it's a big change involving lots of code around encryption so it will take a while to review.

[2019-11-19 01:39] aleqx commented on #387
Many thanks for the efforts. Looking forward to the test or release versions. Anywhere I can donate?

[2019-11-19 01:57] mymindstorm commented on #387
Thanks for the offer! While we don't accept donations, we always welcome bug reports, feature requests, translations, and code.

[2019-11-27 15:42] dommilosz opened #405 "Problem with Steam Codes"
I have problem with adding steam account.
When i try to input shared_secret it tells me that secret is incorrect
![Bez tytułu](https://user-images.githubusercontent.com/54410730/69737539-d653a900-1134-11ea-85a4-7a6b88a95890.png)

**Platform:** Win 10
 - Browser: Firefox
 - Browser Version: 70.0.1

[2019-11-27 16:17] mymindstorm commented on #405
Are you putting in `"shared_secret":"#############################",`? You should only enter the text where the hashtags are.

[2019-11-27 19:57] dommilosz commented on #405
yes

[2019-11-27 19:58] dommilosz commented on #405
only text in quotation marks

[2019-11-28 20:17] mymindstorm commented on #405
Could you run the below code in the console and paste the results here?

<details>
<summary>Snippet</summary>

[code]

</details>

[2019-11-29 15:55] dommilosz commented on #405
undefined
b32 invalid: +8,8 debugger eval code:10:13
hex invalid: MpKLJ debugger eval code:11:10

[2019-12-04 14:51] Mim137 opened #406 "Authenticator is blank"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** I just installed this, but I'm not getting any 6-digit numbers. Is this affected by other Chrome add-ons?

**Platform:**
 - Browser: Chrome
 - Browser Version: Windows 10

![image](https://user-images.githubusercontent.com/58518832/70152597-836d7a80-167b-11ea-8

[2019-12-04 15:41] Sneezry commented on #406
You need add account secret first. This extension is not a Google official product, so it cannot sync with your Android phone, iPhone or iPad.

Here's an introduction for how to use this extension on a 3rd party website, and I hope it may help: https://www.messiah.edu/download/downloads/id/7243/Google_Authenticator_based_Desktop_install.pdf

[2019-12-05 05:51] DanieDuToit opened #407 "Auto Lock"
I would like to see some way of "Auto lock" this app.

**Why do you want this feature in Authenticator?**
The reason is simply to have more security. I sometimes forget to lock "Authenticator" and I will find it still active when I use my browser again. I do not always close my browser after work.

[2019-12-05 07:44] Sneezry commented on #407
Dup with https://github.com/Authenticator-Extension/Authenticator/issues/219

[2019-12-05 07:44] #407 closed, assigned to nobody

[2019-12-05 07:46] Sneezry commented on #407
I believe this feature request has been completed in the latest code, and it should be available in the next release.

[2019-12-09 16:51] Vasiliy-Bondarenko opened #408 "can't add new manual entry"
I can't add new (second) entry to the list. I can open new manual entry dialog box, fill it up, but when i click "ok" - nothing happens. It just stays there.

 - Browser: Chrome
 - Browser Version: Version 78.0.3904.108 (Official Build) (64-bit)

[2019-12-09 23:37] mymindstorm commented on #408
Please follow [these steps](https://authenticator.cc/docs/en/debug-info).

[2019-12-09 23:43] mymindstorm commented on #405
@dommilosz I think your secret is in base64, see if you can convert it to base32 or hex. I don't have access to a shared_secret, so I can't investigate this that easily.

[2019-12-09 23:44] #406 closed, assigned to nobody

[2019-12-10 07:36] Vasiliy-Bondarenko commented on #408
@mymindstorm
ok. sure.
[code]
the code i am trying to enter does not exist in my list right now.

[2019-12-10 15:18] mymindstorm commented on #408
@Vasiliy-Bondarenko your other entry's secret has the same hash as the one you are trying to add. This is fixed in #395, but that fix is not out yet.

[2019-12-11 06:58] Vasiliy-Bondarenko commented on #408
it's was not the same.
as i said "the code i am trying to enter does not exist in my list right now."
may be it WAS there before, but definitely not at the time of adding new entry.

strangely enough today i was able to add new code :) was it an update recently?..

[2019-12-11 08:32] Vasiliy-Bondarenko commented on #408
also i have just mentioned it was displaying wrong codes. code for one account was displayed on the other account (compared to android app, and i have checked - codes from android app work fine, while from authenticator app was not accepted).

so i deleted all codes and recreated from scratch - now it's fine.
i guess my authenticator's "database" was in some kind of broken state.
may be you have s

[2019-12-11 08:34] Sneezry commented on #408
Hi @Vasiliy-Bondarenko , can you see the specific entry in backup file?

You can export backup file from **Settings** -> **Export / Import** -> **Donwload Backup File**.

[2019-12-11 08:44] Vasiliy-Bondarenko commented on #408
as i said after recreating all entries - i don't see any problems. i have tried to move them around, delete random items and create new ones - no issue observed. so it's all fine for now. but it was there before! :)))
if it was that index-offset issue - you can prevent it by using objects with named entries instead of number indexes.
i have no idea how to recreate the issue now.
i guess you can ju

[2019-12-11 08:51] Sneezry commented on #408
Hi @Vasiliy-Bondarenko , I understand this issue troubles you much, and I'm really sorry about it.

However, it's hard to find out the reason of the issue if we do not have reproduce steps. Theoretically, we locate entries by their hash keys, but not the order, so the order should not be where the problem lies.

Thanks for your feedback, we will keep eyes on this issue.

[2019-12-17 12:19] theedgeu2 opened #410 "QR Code inside frame is not recognized"
**Describe the bug:**
If the page that includes the QR-Code is in a frameset, Authenticator plugin doesn't recognize the image and I've to write the code manually.
Would it be possible detect QR-Code in frameset?

**Platform:**
 - Browser: Chrome
 - Browser Version: 74.0.3729.169

[2019-12-17 14:23] Sneezry commented on #410
I cannot reproduce this issue on my side:

![Snipaste_2019-12-17_22-18-05](https://user-images.githubusercontent.com/1621293/71002943-3c6f9280-211b-11ea-8a63-615f5d3041d5.png)

Can you see correct QR image captured by the extension? You can open QR debugging page by Settings -> About, scroll down to the bottom, then click QR Debugging. Back to the page, scan the QR, then switch to QR Debugging pag

[2019-12-23 08:41] gaswer opened #411 "Google Authenticator"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

I added google authentication to my Snapchat account and lost authentication
When entering a Snapchat account, it requires authentication
The solution is

**Platform:** <This is required>
 - Browser: [Chrome, Firefox]
 -

[2019-12-23 17:30] mymindstorm commented on #411
https://support.snapchat.com/en-US/a/using-recovery-code

[2019-12-23 17:30] #411 closed, assigned to nobody

[2019-12-24 15:40] mtravnicek opened #412 "Fix for secure storage in Chrome"
This is followup to #384, sorry for taking too long... i hope/dont know if it is still relevant with latest browser updates. I was trying this about an half year ago, but my version of extension is 5.3.2

In Chrome there is (and should be still) problem with storing anything in local storage,
there is "transaction log" 000003.log with everything what was written and even overwritten/deleted! It is

[2019-12-24 18:41] mymindstorm commented on #412
Thanks for this. Was able to confirm this with Chromium 78.0.3904.108. Calling chrome.storage.xxx.clear seems to remove the logs.

It looks like you tried to edit the compiled typescript. models/storage.ts just contains utility classes (not very OOP in the first place). You probably wanted this: https://github.com/Authenticator-Extension/Authenticator/blob/b9511ba2883e5048e2c0ede84e6192c4c8181016/

[2019-12-27 04:49] d668 opened #414 "Can't export after setting a password"
Added a password in Security. Now When I try to click Import/Export I have a popup

**Platform:** Windows 10
 - Browser: Chrome
 - Browser Version: Version 79.0.3945.88 (Official Build) (64-bit)

[2019-12-27 04:51] d668 commented on #414
also naturally can't remove password

[2019-12-27 04:59] d668 commented on #414
there was one entry that kept showing ENCRYPTED, I had to delete it and this started working. Def a bug

[2019-12-27 06:53] Sneezry commented on #414
It seems one of your entries cannot be decrypted with the master password you entered. And that is the reason export doesn't work (cannot decrypt secret data for you to export backup).

If you know the correct password, you can click the word ENCRYPTED, and a password input box popups in which you can provide correct password to decrypt the entry.

If you don't know the correct password, or the en

[2019-12-27 08:15] d668 commented on #414
this is very confusing and should be fixed imo. The system shouldn't allow setting master password if afterward it behaves in such a way

[2019-12-27 10:30] Sneezry commented on #414
If the extension runs as expected, there should not be entries encrypted with different passwords (if you input incorrect password, the extension prevents you from importing backups and adding new accounts), but currently I have no idea why you meet such a situation. There may be a bug to allow you to add entires encrypted with another password or there's some reason makes the entry broken. (@mymi

[2019-12-27 11:01] d668 commented on #414
probably, because it really looked like a dead end for a while. This rogue entry that I probably added by mistake some day with a bad formatted key or something, blocked all UI

[2019-12-27 16:35] mymindstorm commented on #414
In the published version "Encrypted" means either that the data is invalid or it couldn't verify the data with the provided password. I think #376 already fixes this.

argon2 should also help fix this because it only has to validate against one password instead of verifying each one individually.

[2019-12-27 17:05] Sneezry commented on #414
@mymindstorm I think here we discuss two things.

The first one is how to avoid invalid data or data encrypted with different passwords.

The second one is if invalid data has already existed, how should we handle the exception.

argon2 should resolve the second one.

To the first one, we still ask user to provide correct password before export backups and add new accounts, and this design may mak

[2019-12-27 17:23] mymindstorm commented on #414
First should already be extremely unlikely to happen unless someone migrates invalid data from  4.x.

Second one is solved by #376 by treating "Invalid" and "Encrypted" data differently.

This looks like a bug with encryption. Try creating an encrypted entry with the secret "a". We only do a length check in this part of the code, causing an encryption error:

https://github.com/Authenticator-Exten

[2019-12-27 17:53] Sneezry commented on #414
Indeed, I can reproduce on my side. A quick fix is to check secret length when add new account

https://github.com/Authenticator-Extension/Authenticator/blob/54ab5dc22a7af84341affde70f87f3d371334eb7/src/components/Popup/AddAccountPage.vue#L62-L63

[2019-12-31 14:38] authenticatorbot opened #415 "Feedback from Twitter user @batson1304"
#AuthenticatorFeedback no me conecta

Original tweet: https://twitter.com/batson1304/status/1212018235136266241

[2020-01-01 07:38] #415 closed, assigned to nobody

[2020-01-09 01:45] fortran77 opened #416 "Some printable characters appear urlencoded or double-urlencoded"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

## 1

When I click on the Authenticator icon on the Google Chrome toolbar, and look at various entries, some of them show some printable characters in urlencoded form.

`@` becomes %40
space becomes %20
`+` becomes %2B

[2020-01-10 05:30] Slinkydu opened #417 "None of my 2fa codes are working"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>
I'm having some issues where none of my codes of the authenicator are working.
I haven't touched anything at all. Everything was working just fine up until today where none of the
codes, not even one is working?

Anyone h

[2020-01-10 09:25] Sneezry commented on #417
Please go to `Menu -> Sync Clock with Google` to correct clock offset, and check if the issue can be resolved.

[2020-01-10 10:03] Slinkydu commented on #417
oh, wow. I didn't even notice my clock wasn't synced.
Its ok now. Thank you so much for the help. I was worried there for a bit. hehe
Thank you again

[2020-01-10 12:41] authenticatorbot opened #418 "Feedback from Twitter user @dx095_1"
#AuthenticatorFeedback

Original tweet: https://twitter.com/dx095_1/status/1215605649817657345

[2020-01-10 20:10] Sneezry commented on #417
Glade to know your issue has been resolved. Then I'm closing this issue. Please open a new one if you have other questions.

[2020-01-10 20:10] #417 closed, assigned to nobody

[2020-01-11 18:45] #418 closed, assigned to nobody

[2020-01-13 09:48] theedgeu2 commented on #410
I've enabled QR Debugging and a page with "QR Scan Debugging Page" appears.
I've opened the page with **frameset**, try to scan the QR code but I don't see any messages in the Debugging Page.
I can not scan the QR Code. The image with the "+" sign to scan the QR Code doesn't appears.

If I open the QR Code on another tab then I can scan the code and in the debugging page I see results about widths

[2020-01-13 14:04] Sneezry commented on #410
I can reproduce this issue. Because it is not allowed to put DIV over FRAMESET element.

However, I do not have plan to fix this issue, because FRAMESET has been deprecated: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/frameset

You can open the page in FRAMESET in a new tab or open the QR image in a new tab, and then scan it.

[2020-01-15 17:56] #412 closed, assigned to nobody

[2020-01-15 18:08] mymindstorm commented on #416
How are you adding entries that get uriencoded?

[2020-01-15 21:48] fortran77 commented on #416
Almost all entries were added by scanning the typical QR code presented by each website when TOTP is enabled. A very few were added manually. At the time that an entry is added, it looks normal, i.e., not urlencoded. The urlencoded and double-urlencoded format appeared spontaneously at various times, not all at once.

After I reported this issue I exported all entries into the one-entry-per-line f

[2020-01-17 11:48] StuC73 opened #420 "Direct download not possible, how can I install it?"
Hello. I have been asked to install this on a customer Win 10 estate, however due to security restrictions they are unable to download the EDGE Authenticator themselves - I will have to download it on a non restricted PC and copy it across.
Is this possible and if so, what would I need to do?

(This is my first github post so if I've gone about this the wrong way I'll apologise now. )

Thanks.

[2020-01-17 15:52] mymindstorm commented on #420
Are you talking about old edge or new edge?

If old edge use https://businessstore.microsoft.com/en-us/store to download the appx. Old edge will not be receiving any more updates.

If new edge use gpo to install it from the chrome web store.

[2020-01-20 03:18] AlexApps99 commented on #405
@mymindstorm @dommilosz
See #382 for why it isn't working
tl;dr you need to copy
"uri":"otpauth://totp/Steam:your_steam_username?secret=**your_secret_key**&issuer=Steam"
instead of
"shared_secret":"**your_secret_key**"

[2020-01-20 15:40] StuC73 commented on #420
Hi. Thanks for the reply. To answer the question, it's currently for Old Edge, but will need to work on New Edge in the not too far future.   I'll see what I can do.

[2020-01-20 15:40] #420 closed, assigned to nobody

[2020-01-20 16:56] mymindstorm commented on #420
The old edge version will not be supported soon or work on new edge and extension data will not be migrated automatically. It would be a lot easier for you to install it on new edge. It looks like the only way to force install extensions on new edge is to use gpo.

[2020-01-24 13:56] OwenG99 opened #421 ""Invalid!" every time using with Magento 2"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** We've been using this with Magento 2 for the past 6 months and not had any issues, however today, every time we log in it says "security code not recognised", and when trying to confirm the code we now get "Invalid!" - however if using the google authenticator

[2020-01-24 22:17] mymindstorm commented on #421
Have you tried going to the menu and hitting the "Sync Clock with Google" button?

[2020-01-28 01:04] #414 closed, assigned to nobody

[2020-01-30 04:18] #399 closed, assigned to mymindstorm

[2020-01-30 23:32] mymindstorm commented on #369
closed by #395

[2020-01-30 23:32] #369 closed, assigned to nobody

[2020-01-30 23:32] #219 closed, assigned to nobody

[2020-01-30 23:32] #421 closed, assigned to nobody

[2020-01-30 23:33] #410 closed, assigned to nobody

[2020-01-30 23:54] aleqx commented on #219
Has this been implemented? I see it's been closed

[2020-01-31 00:02] mymindstorm commented on #219
@aleqx it's been in the code for a while and I forgot to close it then.

[2020-01-31 00:04] aleqx commented on #219
Ok, but is the current master functional then? If yes, why not push it to chrome store?

[2020-01-31 00:06] mymindstorm commented on #219
@aleqx was waiting on argon2 to get into master. Will probably release soon.

[2020-01-31 00:07] aleqx commented on #219
I asked because the general lock was not working - remember my report here https://github.com/Authenticator-Extension/Authenticator/issues/387? The browser never asks for the decrypt password (not sure if you fixed that).

[2020-01-31 00:14] mymindstorm commented on #219
Yes, I do remember you made that report. A fix for that was made as part of the argon2 changes.

[2020-01-31 00:20] aleqx commented on #219
Ok so master then can be built right now if I wanted to enjoy the fixed lock and new autolock?

[2020-01-31 00:24] mymindstorm commented on #219
Yep

[2020-01-31 00:39] aleqx commented on #219
Hmm, I removed the old extension from my Chrome, then I pulled and built master (under windows) and loaded the unpacked ext in Chrome. Says 6.0.0. I loaded by Backup file. I then setup a password again. I can see the padlock icon in the extension pane. I see no option to setup a timeout for autolock (and no mention of autolock either). What am I missing?

I also found a bug (will report separately

[2020-01-31 00:40] mymindstorm commented on #219
@aleqx it shows under Preferences after you set a password.

[2020-01-31 00:44] aleqx commented on #219
I did look in there and there wasn't any preference for timeout ... but now there is! Does Chrome cache extension files too? Weird.

May I ask how you implemented the timeout functionality, specifically: is the timeout reset every time I copy a TOTP from the list? That would be the expected behavior.

[2020-01-31 00:48] mymindstorm commented on #219
@aleqx the setting is hidden unless you have a password. The timeout only gets reset every time you open the popup (I.e. keeping the popup open for a long time will not prevent the timeout from taking effect).

You mentioned that you found a bug, could you elaborate on that?

[2020-01-31 00:54] mymindstorm opened #423 "Google API ratelimt shenanigans"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

We aren't using any of the scopes listed, but I still see verification warnings...

https://support.google.com/cloud/answer/9110914#restricted-scopes

[2020-01-31 01:24] mymindstorm commented on #423
So we aren't impacted by that, but for some reason it put a quota of only 100 new users on us (it isn't clear when it resets). That is the same limit unverified apps get, which is odd because the consent screen is verified.

[2020-01-31 03:57] aleqx commented on #219
Sweet! Looking forward to using it. Many thanks for your hard work!

[2020-01-31 04:02] aleqx opened #424 "password can be removed, and data exported, using an empty password"
Using master (6.0.0). I set a decrypt password, then encrypt it, then enter the password and use it for a while. Then going to Security and clicking Remove it removes the password without asking for the current password.

Also, the password should be required when exporting/backing up data. Currently I can export directly.

These are security no-no's as I'm sure you know.

[2020-01-31 04:03] aleqx commented on #219
https://github.com/Authenticator-Extension/Authenticator/issues/424 ... more of a security hole/bad practice than a bug (should be fixed nonetheless).

[2020-01-31 08:12] Sneezry commented on #423
So I think this limit only affect on *sensitive* scopes, which we do not need to access to.

I think this is the *real* limit how many new users we could have every day.

[2020-01-31 08:22] Sneezry commented on #423
@mymindstorm I have just added you into owener group for authenticator DNS zone, please check your outlook.

[2020-01-31 17:07] mymindstorm commented on #423
There is no list of sensitive scopes. We only use drive.file which is why this is weird. Maybe it's a leftover metric from development? It's really confusing because it asks you to verify to remove the cap. I resubmitted it just in case.

I accepted the email. I never added you to the firefox listing, do you want access to that at your microsoft or gmail address?

[2020-01-31 17:07] #423 closed, assigned to mymindstorm

[2020-01-31 17:17] Sneezry commented on #423
No, I'm not familiar with firefox related things, I think it's not nessary to grant my permission.

[2020-01-31 17:48] Sneezry commented on #423
https://support.google.com/cloud/answer/9110914#restricted-scopes

https://support.google.com/cloud/answer/9110914#restricted-scopes

https://support.google.com/cloud/answer/9110914#circumstances

It seems Google asks developers to declare what permissions (OAuth consent screen) their apps need before to call Drive API. This is called *Restricted Scope App Verification*. And if we change the OAuth

[2020-01-31 18:09] mymindstorm commented on #423
There are 3 types of verification:

- Consent screen verification (we already have this)
- Restricted scope verification (does not apply to us)
- Sensitive scope verification (????)

The question is:

- Are we using a sensitive api scope?
- Why do we already have 21/100 of the quota used already?

I think that this doesn't impact us; it isn't very clear.

[2020-01-31 18:48] Sneezry commented on #423
<img width="423" alt="Capture" src="https://user-images.githubusercontent.com/1621293/73565448-85e22a00-449c-11ea-8b6f-3503ca0ca502.PNG">
<img width="392" alt="Capture1" src="https://user-images.githubusercontent.com/1621293/73565451-867ac080-449c-11ea-8086-64855e0688d7.PNG">
<img width="579" alt="Capture2" src="https://user-images.githubusercontent.com/1621293/73565454-87135700-449c-11ea-914d-eac

[2020-02-01 03:45] mymindstorm opened #427 "Add loading screen when setting password"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

[2020-02-01 18:04] #427 closed, assigned to mymindstorm

[2020-02-02 12:21] erotavlasme opened #428 "Cannot decrypt some accounts after v6.0 update"
Hi,
after the latest update v6.0 when I open the extension and I unlock it with password, not all my accounts are visible. Some of them remain encrypted.
Moreover, even if I setup a lock after some minutes, authenticator locks each time I close it.
I'm using the latest firefox v72.0.2 on GNU/linxu 64 bit.

[2020-02-02 16:11] mymindstorm commented on #428
Did you close the window during the first unlock after it updated or during a password change?

It won't cache your credentials if you have any accounts that show encrypted.

[2020-02-02 16:14] erotavlasme commented on #428
I opened the plug in as usual. I did not change any password. Then, I saw some encrypted accounts and I discovered about the update.
What can I do?

[2020-02-02 16:18] mymindstorm commented on #428
Can you follow [these steps](https://authenticator.cc/docs/en/debug-info)?

[2020-02-02 16:25] erotavlasme commented on #428
I have several extensions:
These should be the errors related to authenticator:
`NS_ERROR_XPC_JAVASCRIPT_ERROR_WITH_DETAILS: [JavaScript Error: "Invalid autocomplete selectedIndex" {file: "resource://gre/actors/AutoCompleteChild.jsm" line: 196}]'[JavaScript Error: "Invalid autocomplete selectedIndex" {file: "resource://gre/actors/AutoCompleteChild.jsm" line: 196}]' when calling method: [nsIAutoCom

[2020-02-02 16:34] mymindstorm commented on #428
please just paste everything in the window after you open and decrypt authenticator

[2020-02-02 17:06] erotavlasme commented on #428
[code]

[2020-02-02 17:48] mymindstorm commented on #428
I threw together something to try and decrypt your data.

1. Open the console (follow debugging steps)
2. Enter `chrome.storage.sync.get(e=>console.log(e))`
3. Right click the blue text and click "Copy Object"
4. Copy that into the input box [here](https://mymindstorm.github.io/authenticator-tool/)
5. Put in password and hit run

It should spit out a backup of whatever it could decrypt. Once you a

[2020-02-02 20:15] erotavlasme commented on #428
Is there any way to do the same offline?
Fortunately, I found a recent backup and I removed and reinstalled the extension.

[2020-02-02 20:55] mymindstorm commented on #428
All of it is done client-side. If you want to host it locally you can clone the repo below, run `npm i`, use webpack to compile, and run a simple http server out of the directory to get it up.

https://github.com/mymindstorm/authenticator-tool

[2020-02-02 21:02] #428 closed, assigned to nobody

[2020-02-03 23:22] fortran77 commented on #416
I now have a pretty good idea when the urlencoding happens.

I have Google Chrome, with the Authenticator extension installed, on machines A and B. Machine A runs Ubuntu and machine B runs Chrome OS. Both instances of Google Chrome are fully sync'd via Google's sync mechanism ("Sync everything" is enabled).

I usually add/remove Authenticator entries only on machine A. Changes are then automatical

[2020-02-04 00:06] mymindstorm commented on #416
That does make it seem like sync or some other component is doing something weird. Especially since the extension never uriencodes that data where it has a chance of getting stored.

I don't really know if there's anything I can do about this. I've looked through the Chromium & Ubuntu bug tracker and can't really find anything related. Can you try and reproduce this with another extension that syn

[2020-02-04 00:20] fortran77 commented on #416
I have not noticed any similar problems with any other extension. Will look further.

[2020-02-05 00:49] #408 closed, assigned to nobody

[2020-02-05 00:49] mymindstorm commented on #387
This should be fixed as of 6.0.0

[2020-02-05 00:49] #387 closed, assigned to nobody

[2020-02-09 19:48] #287 closed, assigned to nobody

[2020-02-09 19:48] #380 closed, assigned to nobody

[2020-02-09 20:02] mymindstorm commented on #397
This should be fixed as of 6.0.1. Can you reproduce with that version?

[2020-02-09 20:07] mymindstorm commented on #373
This can't be fixed if Brave doesn't put anything in it's user agent to differentiate it from Chrome.

[2020-02-09 20:07] #373 closed, assigned to nobody

[2020-02-19 06:52] authenticatorbot opened #435 "Feedback from Twitter user @minerjirou_main"
#AuthenticatorFeedback
Chrome version suddenly became unusable

Original tweet: https://twitter.com/minerjirou_main/status/1230012236636114946

[2020-02-19 16:54] gitkeymaster opened #436 "Location of local backup?"
Hello,

I am trying to figure out **where the local backup is stored** (so I can make a real backup of it, say in a USB stick.)

It is not clear where this file is located. So can anyone help me?

My suggestion is that the file location should be displayed more prominently to the user.

Otherwise great extension!

[2020-02-19 17:00] Sneezry commented on #436
If you have set default download directory in browser, your backup is there. If you haven't set default download directory, the browser will popup file explorer to let you choose the location.

[2020-02-19 17:04] gitkeymaster commented on #436
Oh I missed that. It was in import/export menu. Many thanks!

[2020-02-19 17:08] #435 closed, assigned to nobody

[2020-02-20 02:11] #436 closed, assigned to nobody

[2020-02-20 10:24] TriMoon commented on #336
@mymindstorm As it is all working nicely as far as i can tell for the sites im using:
- Could you improve it a bit more so that when you click to autofill the code, the UX (popup) closes itself after having put the code in the input?
That would make it even a bit more user-friendly :wink:

I :heart: this extension so far :+1:

PS:
An option to toggle this behavior would be super !
I'm using it on:

[2020-02-21 19:26] vinodtalati opened #437 "copy code does not work on chrome browser"
**Describe the bug:** copy code does not work on chrome browser

**Platform:** MACOS 10.14.6
 - Browser: Chrome
 - Browser Version: 79.0.3945.130 (Official Build) (64-bit)

[2020-02-21 19:29] vinodtalati commented on #437
Relaunched chrome, asked for copy paste permission. Works now!

[2020-02-21 19:29] #437 closed, assigned to nobody

[2020-02-23 13:54] authenticatorbot opened #438 "Feedback from Twitter user @muhammadabulk18"
#AuthenticatorFeedback

Original tweet: https://twitter.com/muhammadabulk18/status/1231566078431485952

[2020-02-23 14:03] #438 closed, assigned to nobody

[2020-02-26 06:06] fortran77 commented on #416
Here is a bug that might be related. When a one-entry-per-line backup is exported, single colons in each entry's top and bottom labels disappear, and double colons become single colons. To reproduce:

1. Installed the Authenticator extension afresh from the Chrome web store, so it begins with no entries.

2. Manually added a a random TOTP secret:

<pre>
account name = testing
secret = GIZDKNRTG44T

[2020-03-01 20:23] #346 closed, assigned to nobody

[2020-03-03 05:20] Mikey-K-zz commented on #183
Its is nearly impossible to find the perfect 2fa client. One the works well cross platform, does snoop into all your shit like Authy. WinAuth and so close to be great but I hate the no browser integration and it only lives on windows. This authenticator hits most of peoples pain points. Lives in your browser, dont *need*  password to unlock everytime you want to use it, one click copy (essential)

[2020-03-04 00:27] manch-tech commented on #397
I have this error in my authenticator.

[2020-03-04 00:50] mymindstorm commented on #397
@manch-tech I need more info. Please post version, browser, logs, and any steps you took before the issue appeared.

[2020-03-04 01:52] manch-tech commented on #397
Exactly the same steps as the friend above.  I've been using this extension for 7 years and I've never had a problem, but today it happened. When I enter the password everything appears encrypted. When requesting a password to decrypt, I enter it again and nothing happens. Chrome, last version. Also used in yandex and firefox, but the problem is in chrome.

[2020-03-06 07:10] fdw opened #440 "Feature Request: Use Firefox Sync"
**Describe the feature you want:**
Instead of using a third-party service, I would like to sync the 2FA data using Firefox Sync

**Why do you want this feature in Authenticator?**
Since syncing is already supported, I would like to not rely on a third-party service but use the Firefox Sync I have already set up for my Firefox.

[2020-03-06 09:47] Sneezry commented on #440
Firefox Sync should be already supported as we support `storage.sync`. CC @mymindstorm for confirmation.

[2020-03-06 11:20] fdw commented on #440
Oh, cool :)

However, I haven't found where to turn it on with v6.0.1. Do you have any pointers there?

[2020-03-06 13:15] Sneezry commented on #440
Firstly, confirm you have selected `sync` for storage location.

Secondly, sign in to Firefox with your Firefox account.

All done.

![Snipaste_2020-03-06_21-11-38](https://user-images.githubusercontent.com/1621293/76086661-7dc36000-5fef-11ea-9667-18fa0e2ff1f7.png)

[2020-03-06 14:26] fdw commented on #440
I have done both, but I have yet to notice that it syncs :/
Anyway, thank you :)

[2020-03-06 14:53] Sneezry commented on #440
If you sign in on other device, the data should be synced between your two devices. Have you signed in your Firefox account on all your devices?

Also, here's the docs about how to sync on your computer: https://support.mozilla.org/en-US/kb/how-do-i-set-sync-my-computer

[2020-03-06 14:59] mymindstorm commented on #440
@fdw browser sync tends to be slow and finicky. You can try and force it to sync by going to the menu -> your username -> force sync.

You need to have extension data on in the sync settings.

[2020-03-06 18:57] fdw commented on #440
Thank you all!

It seems that my problem is with Firefox Sync, so I'll close this ticket and try to fix my problem.

[2020-03-06 18:57] #440 closed, assigned to nobody

[2020-03-08 14:34] aleqx commented on #219
Why not push 6.0 to the Web store?

[2020-03-09 00:04] LuckyLuv77 commented on #219
aleqx
Not sure what you mean.. I apologize but I have so much going on a lot of things slip right bye me... I have so much to do and no one but me. Your like the 2nd person to reach out and answer.. In almost 2yrs

Laura

________________________________
From: aleqx <notifications@github.com>
Sent: Sunday, March 8, 2020 10:35:01 AM
To: Authenticator-Extension/Authenticator <Authenticator@noreply.g

[2020-03-09 00:06] aleqx commented on #219
@LuckyLuv77 I was addressing @mymindstorm and pointing out that the official Web store version of the extension is still 5.3.2 whereas 6.0 has been functional for more than a month, and was suggesting to push 6.0 to the official Web store.

[2020-03-09 00:11] mymindstorm commented on #219
@aleqx that's @Sneezry's decision. You can always sideload a newer build while you wait for an offical update.

[2020-03-09 00:56] aleqx commented on #219
@mymindstorm I've already been using 6.0 since end of Jan myself. Everyone else would benefit though if it was in Web store ... @Sneezry why wait?

[2020-03-09 01:23] LuckyLuv commented on #219
Not sure I just jumped on..

[2020-03-09 21:44] istolpov opened #442 "Completely blank addon frame"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:**
Honestly, I don't even know what to describe. It just stopped working at all.
It does draw the frame but _everything_ inside it is completely blank.
I can't go to settings or do anything -- there are no buttons.

Here are logs from console (uglified code does n

[2020-03-09 21:48] istolpov commented on #442
Oh, and by the way, If you have any workaround to recover from this, possibly using other 2fa apps and maybe some hacks, I would be very much obliged. Currently this keeps me locked out of a _very_ important and a bit urgent things.

TIA.

[2020-03-09 22:02] mymindstorm commented on #442
To get access to the data, you can paste `chrome.storage.sync.get(e=>console.log(e))` into the console. If you are using encrypted data I have a decryption tool [here](https://mymindstorm.github.io/authenticator-tool/). The code for it is [here](https://github.com/mymindstorm/authenticator-tool), if you want to run it locally.

You can directly use the `secret` property of a decrypted data in any

[2020-03-09 22:07] mymindstorm commented on #442
I think this might be an issue with Firefox itself. Can you try running the extension with a new profile? You can use about:profiles to do this. If it works in a new profile you should be able to just import the encrypted data.

[2020-03-09 22:18] istolpov commented on #442
[code]

[2020-03-09 22:19] mymindstorm commented on #442
Do all the tests on this page pass?
https://firefox-storage-test.glitch.me/

[2020-03-09 22:25] istolpov commented on #442
Ok, I created new profile, installed addon there and entered secret that I just remembered I made a photo of just in case -- it worked.

However, because add-on has been installed again I assume we cannot exclude the possible files corruption -- it maybe that add-on installations are namespaced.

All tests pass from the old profile.

[2020-03-09 22:40] mymindstorm commented on #442
@wyde19 you should report this bug to Mozilla: https://bugzilla.mozilla.org/enter_bug.cgi?format=guided#h=dupes|WebExtensions|Storage

[2020-03-09 22:40] #442 closed, assigned to nobody

[2020-03-16 20:01] MrSkinny opened #444 "Question: Are secrets encrypted if using 'sync'"
Happy to contribute a quick PR into documentation on this, but wanted to understand:

1. If you don't add a password under "Security" then all of the secrets are stored in plaintext?

1a. If you backup to Drive/Dropbox, those same secrets are uploaded in plaintext?

2. If you choose Storage Location as 'sync', and you use encryption for Google Sync, is the data stored ONLY on Google's servers and

[2020-03-16 23:55] mymindstorm commented on #444
1. Yes, there is bold text in the Firefox addon listing to discourage this.

1a. If you don't have encryption setup we show scary red warning text before you login to a backup account.

2. You can set a sync passphrase in chrome to encrypt your sync data, but I don't know how secure it is.

I strongly encourage setting a password under "Security". Even if you enable a sync passphrase, the data is

[2020-03-24 16:38] #444 closed, assigned to nobody

[2020-03-29 21:23] samirmas opened #449 "Dear sir please i need somme help because to day 29-03-2020 i can't accesse to all my website because all my website tel me error code ( the code given by the app is error) please help"
Dear sir please i need somme help because to day 29-03-2020 i can't accesse to all my website because all my website tel me error code ( the code given by the app is error) please help
my email
![Capture 1](https://user-images.githubusercontent.com/58117719/77861284-3e65e900-7214-11ea-9030-37f37523f31d.JPG)
![capture 2](https://user-images.githubusercontent.com/58117719/77861288-4160d980-7214-11ea

[2020-03-30 02:47] mymindstorm commented on #449
Try using Menu -> Sync clock with Google.

[2020-04-01 20:06] authenticatorbot opened #450 "Feedback from Twitter user @MichaelKulik"
#AuthenticatorFeedback any way to add vendor icons? Future roadmap?

Original tweet: https://twitter.com/MichaelKulik/status/1245438107320803328

[2020-04-01 20:12] #450 closed, assigned to nobody

[2020-04-01 20:13] mymindstorm commented on #450
Duplicate #183

[2020-04-01 20:13] #449 closed, assigned to nobody

[2020-04-05 09:17] CB1965 opened #451 "It does not work"
Hello, It does not
work anymore.
Or so, I can not open it!
I've restored it but
it still not working.
What should I do?
tks toanyone that
try to help me/
CB

[2020-04-05 09:17] #451 closed, assigned to nobody

[2020-04-05 16:07] authenticatorbot opened #452 "Feedback from Twitter user @LD_Dad"
Constantly get "Incorrect security code" message when pasting in code that is generated by Chrome Extension. Cannot set up cloud account I need to do work for a client.  #AuthenticatorFeedback

Original tweet: https://twitter.com/LD_Dad/status/1246818472778182657

[2020-04-05 16:23] #452 closed, assigned to nobody

[2020-04-08 02:00] wazerstar opened #453 "Add support from authy 2fa windows tool export & firefox tool backup json file"
<You can also suggest feedback by Tweeting with #AuthenticatorFeedback>

**Describe the feature you want:**
Before this app got developed for firefox, there was only one known 2fa app that worked good.
https://addons.mozilla.org/da/firefox/addon/two-factor-authenticator/

His string goes like this for import / export.

`{"otp_list":[{"name":"Microsoft Dummy Account","key":"XXXXXXX"},{"name":"Googl

[2020-04-09 16:21] imflyou opened #454 "Auto copy the authorize code when open it in Google"
<You can also suggest feedback by Tweeting with #AuthenticatorFeedback>

**Describe the feature you want:**
## Open the pluning means copy the code to the clipboard!

**Why do you want this feature in Authenticator?**
If the code can be copied to the clipboard `automatically` when we open the plugin in google by hot key, we needn‘t move mouse to the upper right corner to copy the code with one mor

[2020-04-10 02:11] daemon937 opened #455 "Allow pop-up to be default or have a button on the main window to turn it on"
<You can also suggest feedback by Tweeting with #AuthenticatorFeedback>

**Describe the feature you want:**
I would like a way to either make the Pop-up mode the default, so that when you click on the extension, the window with the code opens in the pop-up window mode every time
Alternatively, a button on the title bar (when the Settings, Lock, Scan and Edit buttons are), to switch to pop-up mode

[2020-04-18 07:10] authenticatorbot opened #457 "Feedback from Twitter user @NwokaOtikpor"
#AuthenticatorFeedback

Original tweet: https://twitter.com/NwokaOtikpor/status/1251403969907302402

[2020-04-18 16:10] authenticatorbot opened #458 "Feedback from Twitter user @SarmoSip"
#AuthenticatorFeedback

Original tweet: https://twitter.com/SarmoSip/status/1251541200739262464

[2020-04-18 17:33] #458 closed, assigned to nobody

[2020-04-18 17:33] #457 closed, assigned to nobody

[2020-04-21 02:45] Sneezry opened #459 "Dark theme"

[2020-04-21 03:49] nemoleo opened #460 "The code is different with code generated in google's app<Authenticator>"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>
I was using the same QR Code to import into both google's mobile app & chrome plugin  <Authenticator>
but the code generated at the same time is different, only the code in the mobile app is able to pass the system verifi

[2020-04-21 05:57] Sneezry commented on #460
Have you tried to sync clock with Google? You can do that by opening menu and click "Sync Clock with Google".

[2020-04-22 08:10] codycalder opened #461 "Don't show QR code button on entry when disableExport is enabled"
Is it possible to access a version of this Chrome extension that does not allow users to click to view the QR code? I really like this extension and it works great for my requirements however I do not want my users to be able to see the QR code as this allows them to load on another authenticator device. Thanks in advance!
![Screen Shot 2020-04-22 at 5 46 27 pm](https://user-images.githubuserconte

[2020-04-22 12:49] Sneezry commented on #461
Do you want that to be an enterprise policy control feature?

[2020-04-22 12:52] codycalder commented on #461
Sorry - Not sure what you mean? It is for a team of people using google authentication, however everything works perfectly, I just need it to not show the QR code all together.

[2020-04-22 14:49] lxwulf commented on #222
is here any update about that feature? 🤔

[2020-04-22 15:01] Sneezry commented on #461
I'm afraid I cannot simply remove this feature. Because there are lots of people need it to add accounts to their mobile devices. However, I can add a setting to disable it.

According to your words, I learnt that you would like to force disable it on user side, so I think you request a enterprise managed setting (enterprise policy rule). To learn about about Chrome Enterprise Policy, see https://

[2020-04-22 19:31] TriMoon opened #462 "QR-Reader"
<You can also suggest feedback by Tweeting with #AuthenticatorFeedback>

**Describe the feature you want:**
Ability to scan QR-Codes for other usages besides adding 2FA info.

**Why do you want this feature in Authenticator?**
You already seem to have the QR-Reader functionality, why not extend it/allow it to be used to scan QR-codes without the info being used for 2FA purposes?
This would make th

[2020-04-22 20:50] canurit opened #463 "can`t restore my keys when i press restore its shows one code only although this backup has many keys also when I try to add new key and scan it say that error Unrecognized QR code."
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser: [Chrome, Firefox]
 - Browser Version:

[2020-04-22 20:54] canurit commented on #397
same here

[2020-04-22 21:04] mymindstorm commented on #462
This is a bit out of scope for Authenticator, this idea would work better as it's own extension.

[2020-04-22 21:24] mymindstorm commented on #463
Did you import using the "Import Backup" button? Please follow [these steps](https://authenticator.cc/docs/en/debug-info) and try to import again.

If the QR code for a new code is not recognized, use manual entry to add the code.

[2020-04-22 21:37] canurit commented on #463
Thanks for your fast reply, i try many times and once I add press restore and add my password and say success I found one code restored only but the restore file has many codes inside it but they don`t show inside the extension !!

![Screenshot_1058](https://user-images.githubusercontent.com/12435932/80036396-f0ca5c80-84f1-11ea-85cc-9cde2f942965.png)

[![Screenshot_1059](https://user-images.github

[2020-04-22 21:46] mymindstorm commented on #463
Please import the codes while the console is open and paste any error messages. https://authenticator.cc/docs/en/debug-info

What version are you using?

[2020-04-22 21:50] canurit commented on #463
6.0.1 V

and this is the msgs from Console
DevTools failed to load SourceMap: Could not load content for chrome-extension://bhghoamapcdpbohphigoooaddinpkbai/dist/popup.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME
DevTools failed to load SourceMap: Could not load content for chrome-extension://bhghoamapcdpbohphigoooaddinpkbai/dist/argon.js.map: HTTP error: status code 404, net::

[2020-04-22 22:50] codycalder commented on #461
Hi @Sneezry - That would be perfect, yes!

[2020-04-23 04:12] kalbasit opened #464 "Can't type my password if it contains /"
**Describe the bug:**

Recently I noticed that I can no longer type in my password. As soon as type in `/` the focus is taking away from the password prompt into the search bar.

**Platform:**
 - Browser: Chrome on Linux and Chrome on Mac.
 - Browser Version: `81.0.4044.92` on Linux and `81.0.4044.113` on Mac.

[2020-04-23 07:31] Sneezry commented on #464
I cannot reproduce this bug on a Windows machine. What is your extension version?

[2020-04-23 15:29] kalbasit commented on #464
It's 6.0.1.

[2020-04-23 16:38] mymindstorm commented on #464
I can reproduce with 6.1.0, it only happens when I press `/` twice.

[2020-04-23 18:50] mymindstorm commented on #463
Can you try and copy the backup into the text backup screen? (make sure to check the encrypted box)

If that doesn't work I'll make a tool to figure out what's going on with your backup.

[2020-04-24 15:04] nemoleo commented on #460
Yes, I 've tried this, but after sync done ,the code is still different with code in app

[2020-04-27 00:12] authenticatorbot opened #468 "Feedback from Twitter user @KellyBr58886191"
#AuthenticatorFeedback am entering a new code but every time I try to use the first code given, it's saying it's invalid.

Original tweet: https://twitter.com/KellyBr58886191/status/1254553867901009921

[2020-04-27 08:12] authenticatorbot opened #469 "Feedback from Twitter user @Valdisss4"
#AuthenticatorFeedback Добрый день! In Google Chrome, when you open the authenticator, just an empty window - this started after after April 21.

Original tweet: https://twitter.com/Valdisss4/status/1254684045067390976

[2020-04-29 03:33] #469 closed, assigned to nobody

[2020-04-29 03:33] #468 closed, assigned to nobody

[2020-04-29 05:50] #464 closed, assigned to nobody

[2020-04-29 16:13] authenticatorbot opened #470 "Feedback from Twitter user @tombug1111"
#AuthenticatorFeedback

Original tweet: https://twitter.com/tombug1111/status/1255524954789027840

[2020-04-29 16:27] #470 closed, assigned to nobody

[2020-04-30 10:42] Gennadii111 opened #471 "How many addresses?"
Hello everyone! How many addresses can I add to the authenticator?
What happens if the lemite is over, and then you add another address, rewriting and deleting which existing address?
Thanks in advance for your reply!

[2020-05-01 01:26] rsclmumbai opened #472 "Is there anyway to run this extensions off a web server?"
Instead of installing this in a browser, is there anyway to run this off a web server?
And thanks a ton for this extension & for making it open source!!!

[2020-05-01 02:51] mymindstorm commented on #472
No, we use a lot of browser extension specific apis.

[2020-05-01 02:51] #472 closed, assigned to nobody

[2020-05-01 03:17] mymindstorm commented on #471
You should only be limited by the amount of storage the browser lets Authenticator use. If your storage location is set to `sync`, it caps when you hit either ~500 items or 100 KB. If you are using `local` you can store up to 5 MB worth of accounts. See: https://developer.chrome.com/extensions/storage#property-sync

If you hit the limit, it will probably just not work whenever you try to add or ed

[2020-05-01 03:17] #471 closed, assigned to nobody

[2020-05-01 05:26] Gennadii111 commented on #471
Thanks for the answer!

[2020-05-03 12:22] khamdanfath opened #473 "The Authenticator hang"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

blang white, 2 days what should i do? i dont have backup code

**Platform:** <This is required>
 - Browser: [Chrome, Firefox]
 - Browser Version:

[2020-05-03 16:16] mymindstorm commented on #473
Please open Authenticator and follow [these steps](https://authenticator.cc/docs/en/debug-info).

[2020-05-04 09:49] khamdanfath commented on #473
syntax error, unexpected token. only this text i found, and its cant to copy

[2020-05-04 10:05] khamdanfath commented on #473
![Screenshot (162)](https://user-images.githubusercontent.com/64734004/80955428-825a9800-8e29-11ea-8c4f-68935a1dd111.png)

[2020-05-04 22:48] khamdanfath commented on #473
@mymindstorm how to fix it? can i edit it or somethings? please help me :'(

[2020-05-04 23:55] mymindstorm commented on #473
You can get your data by going to the console and typing in
[code]
If you copy the output of that command and import it using text backup, you should get your data back.

We do not support UC Browser as it has not been updated in two years. Please switch to Chrome or Firefox.

[2020-05-04 23:55] #473 closed, assigned to nobody

[2020-05-06 04:50] protist commented on #263
I tried to change my account name from `GitHub` to `GitHub::github.com`, but this entry is still showing on all tabs.

(I'm not sure if relevant, but during my troubleshooting, I also clicked on `Show all entries`. I can now see this text when I'm at github.com, but not in other tabs.)

EDIT: sorry, I added more accounts, and realised that this function only hides the other listings if there is an

[2020-05-06 13:14] authenticatorbot opened #474 "Feedback from Twitter user @Valdisss4"
RT @Valdisss4: #AuthenticatorFeedback Добрый день! In Google Chrome, when you open the authenticator, just an empty window - this started a…

Original tweet: https://twitter.com/Valdisss4/status/1258015404066250753

[2020-05-09 11:28] Tharn opened #475 "Cannot find where option stores locally"
**Describe the bug:** Using Storage Location: Local to save config will store the extension settings _somewhere._ Where is it? I haven't been able to find it.

Sorry about making a bug report for this, but this should either be declared when using the option, or it should be a file download dialog like 'Export'.

**Platform:**
 - Browser: Firefox
 - Browser Version: 76.0.1 x64

[2020-05-09 11:54] Sneezry commented on #475
It's stored in IndexedDB in `<profile>/storage/default` (see [this doc](https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Browser_storage_limits_and_eviction_criteria#Where_is_the_data_stored)) - however, you shouldn't touch it or you may destroy your browser.

Currently, we don't support backup settings, but only entries. Are you requesting a new feature?

[2020-05-09 12:01] Tharn commented on #475
Okay, thanks. After looking at the dialog more closely, it simply saves settings locally and is not meant to save-to-file for the user to do anything with. Cheers.

[2020-05-09 12:04] #475 closed, assigned to nobody

[2020-05-12 17:32] aleqx opened #476 "store data on Dropbox/GDrive encrypted if password is set"
As subj says. If a password is set then why not store the data on dropbox/gdrive in encrypted form instead of unencrypted? Currently if I try to activate sync to dropbox it warns me that the data would be stored unencrypted.

Also, is dropbox/gdrive used to actually sync between devices or just to push a backup on cloud? If yes, then in order to sync the extension would need to be unlocked. That w

[2020-05-15 00:40] Sneezry commented on #462
Authenticator does support scan other QR codes. Just click the Scan QR code icon, and drag to cover the QR code like what you do when you add account. The result will popup on the current page:

![Snipaste_2020-05-15_08-37-19](https://user-images.githubusercontent.com/1621293/81999379-77a0ce00-9687-11ea-9609-932e9f49687e.png)

[2020-05-17 03:17] authenticatorbot opened #477 "Feedback from Twitter user @mahmoud13243998"
#AuthenticatorFeedback

Original tweet: https://twitter.com/mahmoud13243998/status/1261846130167603201

[2020-05-17 06:25] #477 closed, assigned to nobody

[2020-05-17 18:16] authenticatorbot opened #478 "Feedback from Twitter user @mymindstorm"
#AuthenticatorFeedback test tweet

Original tweet: https://twitter.com/mymindstorm/status/1262084430811869186

[2020-05-17 18:16] #478 closed, assigned to nobody

[2020-05-17 18:17] mymindstorm commented on #478
@Sneezry blank tweets do not trigger it anymore

[2020-05-18 02:46] Sneezry commented on #478
I'm considering to stop this bot because most of the feedback from twitter is invalid

[2020-05-18 08:57] Sneezry opened #479 "Investigate jsQR"
Our current scan QR code function fails in many cases. Investigate jsQR (https://github.com/cozmo/jsQR) and use this lib as a secondary solution if scan QR code fails with the first try.

[2020-05-19 02:35] Sneezry commented on #479
https://github.com/Authenticator-Extension/Authenticator/pull/480

[2020-05-19 02:35] #479 closed, assigned to Sneezry

[2020-05-19 02:36] #462 closed, assigned to nobody

[2020-05-19 02:36] #461 closed, assigned to mymindstorm

[2020-05-19 02:38] Sneezry commented on #393
We have added jsQR lib for a secondary solution if it fails with the first try. Let's see if this issue migrates

[2020-05-19 02:41] Sneezry commented on #393
Let's track all QR related issues https://github.com/Authenticator-Extension/Authenticator/issues/174, and close this thread.

[2020-05-19 02:41] #393 closed, assigned to nobody

[2020-05-19 02:41] Sneezry commented on #174
We have added jsQR lib for a secondary solution if it fails with the first try. Let's see if this issue migrates

[2020-05-19 02:45] Sneezry commented on #476
Dropbox/GDrive backups do be encrypted if you set a master password in security setting. What browser and which version of the extension do you use?

No. dropbox/gdrive is only used to push a backup on cloud.

[2020-05-19 02:46] #474 closed, assigned to nobody

[2020-05-19 03:12] mymindstorm commented on #476
@aleqx set your password again and it should go away

[2020-05-20 16:44] Sneezry opened #484 "Entries marked as encrypted when set a master password even download non-encrypted backup"
When we export non-encrypted backup, there is a bug to mark encrypted flag by mistake if master password is set

[2020-05-20 18:27] Sneezry commented on #484
fixed

[2020-05-20 18:27] #484 closed, assigned to nobody

[2020-05-21 13:16] Sneezry opened #485 "Some code become Invalid after set a password"
This bug can be reproduced in the latest code in dev branch

<del>1. Export an encrypted backup
2. Open a new Authenticator instance (do a rest before test, make sure no password is set in Authenticator)
3. Import the backup with correct password
4. Set a different password in security menu
5. Some code become Invalid</del>

This bug won't make all code Invalid, but all code are broken with incorr

[2020-05-21 15:21] mymindstorm commented on #485
How are you clearing? If you are using the button it could be clearing the time offset from localstorage.

[2020-05-21 15:23] Sneezry commented on #485
It seems an issue about set master password

[2020-05-21 15:29] mymindstorm commented on #485
I think this might be because of bdfd6540d8958951787d03b9698eb0d67e8c1aee

[2020-05-21 15:31] mymindstorm commented on #485
I really need to get some integration tests going...

[2020-05-21 15:33] #485 closed, assigned to Sneezry

[2020-05-21 15:35] Sneezry commented on #485
Emmm, we retired `encrypted` flag and have a new field to handle encrypted secret. This makes sense. I think we can do a migration when import backups, and remove all logic about `encrypted` flag.

[2020-05-21 15:37] mymindstorm opened #486 "Retire encrypted flag in backups"
Emmm, we retired `encrypted` flag and have a new field to handle encrypted secret. This makes sense. I think we can do a migration when import backups, and remove all logic about `encrypted` flag.

_Originally posted by @Sneezry in https://github.com/Authenticator-Extension/Authenticator/issues/485#issuecomment-632159860_

[2020-05-21 15:40] Sneezry commented on #485
I have verified the latest code has fixed this issue. This issue doesn't affect any published versions of Authenticator.

[2020-05-21 15:45] Sneezry commented on #459
Done

[2020-05-21 15:45] #459 closed, assigned to Sneezry

[2020-05-21 15:52] Sneezry commented on #486
If we remove the `encrypted` flag, the new backup will not be recginzed correctly in old version extension. That's okay, but I think it should be good to add a `version` feild into backups. And if a new version backup can be imported by old version extension, we can change the minor version, otherwise, change the major version. How do you think?

[2020-05-21 16:02] Sneezry commented on #463
We will skip entries decrypted failed. Is there a `key` field in your backup?

[2020-05-21 19:44] mymindstorm commented on #486
@Sneezry We really only need to have one major version on backups and reject the backup if major version is higher than what we can handle. We can just add `encSecret` as an extra parameter and ignore it. Then, when enough users have a version that can handle the new format we can start removing `encrypted` from backups.

[2020-05-21 21:16] Sneezry commented on #486
Sounds good

[2020-05-22 06:57] Elbrus1 opened #487 "Страка1 позиция1"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser: [Chrome, Firefox]
 - Browser Version:

[2020-05-22 06:58] Elbrus1 commented on #487
Браузер Гоогле

[2020-05-22 08:30] Sneezry commented on #487
Could you provide more information to describe your question? And could you write in English as we cannot read Russian. Google translate doesn't help. Thanks.

[2020-05-22 10:46] Elbrus1 commented on #487
I like WinAuth Google very much but recently I can't use it because the Line 1 Position 1 POPs up and tells me that this incomprehensible error that I can't do anything about. Please help me deal with the problem and tell me if You do not find it difficult what I need to do. I want to thank you in advance for your help because I do not doubt Your generosity and I am sorry to bother you.

[2020-05-22 11:10] Kalibruss commented on #487
Отправлено с моего телефона Huawei-------- Исходное сообщение --------От: Zhe Li <notifications@github.com>Дата: пт, 22 мая 2020 г., 11:30Кому: Authenticator-Extension/Authenticator <Authenticator@noreply.github.com>Копия: Subscribed <subscribed@noreply.github.com>Тема: Re: [Authenticator-Extension/Authenticator] Страка1 позиция1 (#487)
Could you provide more information to describe your question?

[2020-05-22 14:53] Sneezry commented on #487
@Elbrus1 Can you post the error screenshot here?

[2020-05-22 14:53] #476 closed, assigned to nobody

[2020-05-22 14:55] mymindstorm opened #489 "Dropdowns style messed up"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

Issue present in:
- Menu -> Storage & Backup
- Menu -> Storage & Backup -> any backup service
- Manual Add Screen

[2020-05-22 18:05] Sneezry opened #491 "Sync icon shows even oauth flow breaks with Google Drive"
This issue can be reproduced in latest code in dev branch.

It may because I didn't set Google API secret for testing, but obviously, it is still a bug.

Reproduce steps:

1. Pull the latest code from dev branch
2. Run `npm i && npm run chrome` to compile the code
3. Load the chrome folder in Chrome browser
4. Click **Google Drive** button in Storage & Backup menu
5. Click **Sign in** button (noth

[2020-05-22 18:29] mymindstorm commented on #491
not seeing this in my firefox dev or prod version. Drive auth is currently messed up in prod Firefox due to 75 changes. I would try cancelling the auth flow and seeing if that causes the issue too.

[2020-05-22 18:31] mymindstorm commented on #491
Chrome uses a different auth flow for Google, that's probably why this is happening. It doesn't use an API secret, it uses extension id.

[2020-05-22 18:47] Sneezry commented on #491
The easiest way is to check if the token eques to `"undefined"`. A better way is we shouldn't set the token in LocalStorage if it is `"undefined"`.

[2020-05-22 18:50] mymindstorm commented on #491
I found the problem. Will submit fix soon.

[2020-05-22 18:52] #491 closed, assigned to nobody

[2020-05-22 18:53] mymindstorm commented on #489
fixed

[2020-05-23 13:47] Elbrus1 commented on #487
Hello to the support group!
I am sending you a screenshot and hope You can tell me how to cope with
this problem. Thank you very much

пт, 22 мая 2020 г. в 18:53, Zhe Li <notifications@github.com>:

[2020-05-25 09:51] Ares9323 opened #492 "Extend the qr reader to all qr (Not only authenticators)"
I've been using this extension for a while and I find it extremely useful.
One thing I like a lot is the possibility to scan QR codes, I was wondering if it was possible to extend this feature to generic qr codes in webpages and maybe copying the url to te clipboard instead of returning an error..
There is no other extension that does this in a screen portion, I've tried many and some use the webc

[2020-05-25 12:04] Sneezry commented on #492
Authenticator does scan generic QR, and will popup the result.

What the error you got when you scan the QR?

![](https://user-images.githubusercontent.com/1621293/81999379-77a0ce00-9687-11ea-9609-932e9f49687e.png)

[2020-05-25 12:28] Ares9323 commented on #492
Oh I'm really sorry I opened this issue without trying different qr types, I tried several generated with a php library and logo in the middle but probably the problem was in the library..

However if it doesn't cost much effort I'd really love a button with "Copy" in addition to "Ok", It would be very useful!

Sorry for wasting your time asking for a think it already present!

[2020-05-25 13:06] Sneezry opened #493 "Provide a way to fast copy QR result"
https://github.com/Authenticator-Extension/Authenticator/issues/492

[2020-05-25 13:07] Sneezry commented on #492
The QR reader cannot read some code. We have improved it and will release in the next version. I have created a feature request for fast copy.

[2020-05-25 13:07] #492 closed, assigned to nobody

[2020-06-02 03:29] jmlag opened #495 "Editing username field from an account with no issuer exits edit screen"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** If I have an account with a username and no issuer and I:

1. click edit,
2. cut the username (using either Ctrl+X or right-click) or select and delete it,

it immediately saves the change and exits the edit screen, leaving an unidentifiable account with no iss

[2020-06-11 01:30] authenticatorbot opened #497 "Feedback from Twitter user @intellipooh1"
#AuthenticatorFeedback
I am using chrome in Mac environment. QR capture in authenticator keeps failing after updating to Catalina, what should I do?

Original tweet: https://twitter.com/intellipooh1/status/1270882815362514944

[2020-06-11 13:10] spacesynth commented on #371
Sort of thread necro, but then again I provide a workaround:
Yes the issue is real and it seems to be with PayPal.

1) If I scan the code with a different **offline** QR reader I got a 75 byte TOTP string.
2) Using an **offline** QR generator I got a working code working perfectly in the Authenticator.
3) The codes look completely different.

I suspect PayPal uses a QR library that doesn't check p

[2020-06-11 16:41] mymindstorm commented on #371
@vaporwave9 thank you for the heads up, we have added a fallback qr scanning library in case the primary fails. It will land in the next release, hopefully that will help with situations like this.

[2020-06-11 17:11] spacesynth commented on #371
That was fast! Thank you too for the great support. I really am happy you liked the idea. Maybe check the results against each other. Most scan fast enough in the ranges of 150ms. Have a nice week!

Edit:
The reason why is, i could get it to scan with the old library, but the shared secret imported was a wrong string compared to Aegis.

[2020-06-11 17:18] mymindstorm opened #498 "Paypal QR code gives wrong secret"
Sort of thread necro, but then again I provide a workaround:
Yes the issue is real and it seems to be with PayPal.

1) If I scan the code with a different **offline** QR reader I got a 75 byte TOTP string.
2) Using an **offline** QR generator I got a working code working perfectly in the Authenticator.
3) The codes look completely different.

I suspect PayPal uses a QR library that doesn't check p

[2020-06-17 08:54] est opened #499 "Refresh codes for next tick"
When copy paste the code in Authenticator, if the tick is just about to expire, by time I switch app window, paste, the code has already expired and thus invalid. Re-copy the code is annoying, and next time it happens, I have to wait for the code to refresh.

I hope there's a "manual refresh to next tick" button to trigger the code change. This guarantee a single copy will succeed without need to

[2020-06-17 09:10] Sneezry commented on #499
TOTP is based on time and shouldn't be triggered manually. I understand your scenario, but such a feature does more harm than good. It will increase complexity of code logic and confuse users in the UI. If the code is expiring when you copy it, the best solution is to wait for a few seconds for the new tick.

However, I'm open to discuss for this feature request. If you have any strong reason that

[2020-06-17 11:46] est commented on #499
The hole point of 2FA is to have TOTP on a secondary device. The Chrome extension is largely turning 2FA into 1FA, it's for better convenience rather than less harm. 🙏

That's what I am doing right now. I feel my work flow is broken by idle pending for the code to update and it's driving my insane. 😂

Maybe we can add this as a hidden feature, some shortcut key to fast-forward the time a little bi

[2020-06-18 06:46] Sneezry commented on #499
Harm I mentioned here means "It will increase complexity of code logic and confuse users in the UI"

Also, we do take serious with security. Any convenience at the expense of security is unacceptable. However, the harm here has no relationship with security.

I don't think it's worth to do on project dev side. However, PR is always welcomed.

[2020-06-30 11:46] jensMG commented on #460
@nemoleo, have you added a username to your plugin configuration manually?

[2020-07-01 10:45] tueksta opened #500 "Setup instructions?"
<You can also suggest feedback by Tweeting with #AuthenticatorFeedback>

**Describe the feature you want:**
There's absolutely no explanation how to set this up. Maybe a wiki page or in the about page?

**Why do you want this feature in Authenticator?**
I don't know how to use it.

[2020-07-02 17:54] mymindstorm commented on #500
We do need better onboarding. When you setup 2FA for a service, all you have to do is scan the QR code a website gives you with the extension. After that, the code should appear in the extension.

You can test it using this website: http://security-totp.appspot.com/

[2020-07-06 06:42] authenticatorbot opened #501 "Feedback from Twitter user @coolboy6716"
#AuthenticatorFeedback ok how to get rid of this

Original tweet: https://twitter.com/coolboy6716/status/1280026533890076672

[2020-07-06 21:34] #501 closed, assigned to nobody

[2020-07-10 08:59] isumairu opened #502 "Secret's string converted to URL encoding after import from backup"
I exported my secrets (using 'Download Backup File') before i do clean install of my browser, then imported the backup file.
I noticed that the name and account address were converted to URL encoding  ('space' to '%20' etc)
![tempsnip](https://user-images.githubusercontent.com/16854686/87136609-f00dbf00-c2c5-11ea-9a24-451fb0a13b54.jpg)
Like that "Microsoft%20main%203" it was "Microsoft main 3" bef

[2020-07-13 00:58] warichnict opened #503 "support external sync adaptor/external sync code/sync over given directory"
hi,

saying to dont allow sync with my own nextcloud server for security reason seams quite dumb in my ears... But if you say so could you at least allow an external sync adaptor that i can configure to use, like save to a special directory (directory of nextcloud/syncthing/whatever data directory and handle conflicts (eg. one file per entry or auto merge subroutine)) or an direct external databas

[2020-07-13 05:26] mymindstorm commented on #503
This is a duplicate of #222.

Please remain respectful in the issue tracker. The workarounds mentioned in that thread are too complicated from an end user's perspective and are pretty hacky. We cannot (and should not) dynamically define CSP. Removing CSP would be a legitimate security issue, and we will not hurt security for ancillary functionality.

[2020-07-13 05:26] #503 closed, assigned to nobody

[2020-07-15 17:28] #497 closed, assigned to nobody

[2020-07-15 17:52] mymindstorm opened #505 "Can't immediately tab into password field after opening extension"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>
<You can also open an issue by Tweeting with #AuthenticatorFeedback>

- Open extension
- press tab
- password field is not focused

This worked prior to 5.2.0

[2020-07-15 18:28] Sneezry opened #506 "licenses.html is not packed in 6.2.0"
This makes About page break

[2020-07-15 18:46] mymindstorm commented on #489
@Sneezry I'm still seeing this

![image](https://user-images.githubusercontent.com/27789806/87583394-7d278e00-c6a1-11ea-83ea-553ab2c7d461.png)

[2020-07-15 18:47] #506 closed, assigned to mymindstorm

[2020-07-16 00:44] isumairu commented on #505
I don't know which one is the "password field".

This?
![Picture1](https://user-images.githubusercontent.com/16854686/87613685-39cc2e80-c738-11ea-994c-fe547550d509.jpg)

[2020-07-16 00:49] mymindstorm commented on #502
Duplicate of #416

[2020-07-16 00:49] #502 closed, assigned to nobody

[2020-07-16 16:27] #489 closed, assigned to Sneezry

[2020-07-16 16:53] #505 closed, assigned to nobody

[2020-07-19 04:58] MHGhandour opened #510 "The permission automatically given is file:///*"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser: [Chrome, ]
 - Browser Version: Brave

Hello,
I noticed when i managed the extension that it has the permission to read file:///* which basically mean it can read all my local

[2020-07-19 13:15] Sneezry commented on #510
The `file:///*` permission is not like what you think. Let me explain what the ability this permission grants, and why we need this permission.

First of all, Chrome extension is not like native apps run on your machine - it is not able to read your local files autonomously. If the extension needs to read your local file, these three conditions must meet:

1. You enable `file:///*` host permission

[2020-07-19 16:31] MHGhandour commented on #510
Ok, Thank you for explaining that. i thought that the access did not require me opening the directory in the tab.
Although, for me it was on by default, i disabled it.
i don't know if it is possible to change this directory to something else set by the user, like ~/Pictures for example, Cause this seemed scary at first to me before realizing it's opensource.

Anw, thank you for this extension, it

[2020-07-19 17:38] Sneezry commented on #510
Did you install this extension before or is this your first time to install it? Did you enable it before? If this permission is enbaled by default, it's a serious security issue to us.

If Google has changed the behaviour, we need change it to an optional permission.

Here's an [answer](https://stackoverflow.com/a/19493206) on StackOverflow to prove such a behaviour. I'm not sure if the answer has

[2020-07-19 17:46] Sneezry commented on #510
I think it could be possible because Tabs permission could be granted to extensions without declaration.

@mymindstorm `file:///*` permission seems dangerous to use. Maybe we could ask user to import local images with an file nput controller instead of to scan it with dragging mouse. What do you think?

[2020-07-19 18:43] MHGhandour commented on #510
I am using brave, i am not sure if it's the same with google chrome, but yeah it was the first time i install it.

I tried to install chromium also for the first time and had the same issue :
![image](https://user-images.githubusercontent.com/55106045/87882448-58644b00-ca00-11ea-809f-c7d02f7055af.png)

The mouse dragging still work after disabling this access (and i find it a good feature also, it

[2020-07-19 19:06] MHGhandour commented on #510
It the same thing on google chrome (for linux) maybe they have changed the behavior

[2020-07-19 19:38] jhaar commented on #388
Same here. I don't have a huge number, but obviously large enough to trigger some "shrink-me" function. I have a particular TOTP I have to use several times per day and it's never the single entry that shows up - I always have to expand and then find. ie I already order them so the most used are listed first, but this "Show all entries" seems to only show the *last* TOTP token I added. BTW unrelat

[2020-07-19 20:25] Sneezry commented on #510
Thanks for the confirmation. We will remove this permission in the next release.

[2020-07-20 16:44] mymindstorm commented on #510
`file:///*` != Allow access to file URLs

![87882448-58644b00-ca00-11ea-809f-c7d02f7055af](https://user-images.githubusercontent.com/27789806/87963357-327d8b80-ca7e-11ea-80ea-1da400fc009f.png)

[2020-07-20 17:00] mymindstorm commented on #388
You can press "/" and it will clear the "Show all entries" and focus the search box. The filter tries to match the account name with the domain of the website you are on. E.g. if you name an entry "Google" it will filter whenever you are on "google.com". If you add `::sitename.com` to the end of an account name it will override the default filter.

An entry should not show up on every site, what i

[2020-07-20 17:03] mymindstorm commented on #388
@Sneezry maybe we could track the number of times "Show all entries" is clicked and show an option to disable for certain accounts after 5 or so times in addition to an option to disable completely?

[2020-07-20 17:20] Sneezry commented on #388
I think we can just add an option in settings to allow users to disable this feature

[2020-07-20 17:30] Sneezry commented on #510
@mymindstorm my concern is if the user granted the Allow access to file URLs, the extension is possible able to traversal local files - even though activeTab may help, what if the extension opens a local directory in a new tab and the user clicks that tab?

Of course, we won't do that. However, there is still a risk. Some bad guy may change the js code of the extension on user local machine to do

[2020-07-20 19:01] mymindstorm commented on #510
You can't open directories in Chrome, therefore directory traversal is impossible. `activeTab` only applies when clicking the browser action or a keyboard shortcut. [Clicking a tab with a content script does not count](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/permissions#activeTab_permission).

If there is already a virus or attacker on the computer, tha

[2020-07-21 05:33] jhaar commented on #388
I have always named the MFA based on my username - not the sitename. I work in Cybersecurity and have a range of accounts per site - and need TOTP for each of them, hence the naming by username not sitename. I didn't know about the "::site" trick - I will have to remember that :-)

[2020-07-21 06:45] Mokaz24 opened #512 "chrome"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser: [Chrome, Firefox]
 - Browser Version:

[2020-07-21 06:45] Mokaz24 commented on #512
chrome

[2020-07-21 07:02] Mokaz24 opened #513 "DevTools failed to load SourceMap: Could not load content for chrome-extension://bhghoamapcdpbohphigoooaddinpkbai/dist/popup.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME DevTools failed to load SourceMap: Could not load content for chrome-extension://bhghoamapcdpbohphigoooaddinpkbai/dist/argon.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME DevTools failed to load SourceMap: Could not load content for chrome-extension://bhghoamapcdpbohphigoooaddinpkbai/css/popup.css.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

**Platform:** <This is required>
 - Browser: [Chrome, Firefox]
 - Browser Version:

[2020-07-21 07:02] Mokaz24 commented on #513
DevTools failed to load SourceMap: Could not load content for chrome-extension://bhghoamapcdpbohphigoooaddinpkbai/dist/popup.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME
DevTools failed to load SourceMap: Could not load content for chrome-extension://bhghoamapcdpbohphigoooaddinpkbai/dist/argon.js.map: HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME
DevTools failed to l

[2020-07-21 07:25] Sneezry commented on #388
@jhaar you can set issuer name to sitename.

![Snipaste_2020-07-21_15-12-01](https://user-images.githubusercontent.com/1621293/88023986-924e6200-cb64-11ea-8701-bc86aa0d9c41.png)

The extension also tries to match issuer name with current site. In the above example, Authenticator will show this entry when I open GitHub, because the issuer name (GitHub) is in the site name (The world’s leading softw

[2020-07-21 07:38] Radik248 commented on #388
Hello! I need a program that makes $. accidentally lying around?

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Без
вирусов. www.avast.ru
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

вс, 19 июл. 2020 г. в 22:39, Jason Haar <notifi

[2020-07-22 01:17] kadmin-stack opened #514 "Run on webserver"
<You can also suggest feedback by Tweeting with #AuthenticatorFeedback>

**Describe the feature you want:**
Wondering if I can run this on a web server where all the codes are generated on a page. Thereby, there's a single location to view only the TOTP codes (QR codes would not be seen).

**Why do you want this feature in Authenticator?**
I would like to share the codes for some sites and having

[2020-07-22 01:23] #513 closed, assigned to nobody

[2020-07-22 01:23] #512 closed, assigned to nobody

[2020-07-22 01:27] mymindstorm commented on #514
No, we rely on a lot of extension APIs that are only available on clients and letting people do that would be a security no no as you said. You should look into password managers catering to buisnesses like Bitwarden witch allow you to share this type of data securely with a team.

[2020-07-22 01:27] #514 closed, assigned to nobody

[2020-07-22 02:32] kadmin-stack commented on #514
Thank you! Bitwarden might be just the product I've been looking for. And, I really appreciate your product. It's awesome, and your team is doing a great job. Thanks.

[2020-07-22 10:50] authenticatorbot opened #515 "Feedback from Twitter user @Abracadavra"
#AuthenticatorFeedback I can no longer use the authenticator in Chrome or even Brave as all I see is a grey rectangle, with the Settings gearwheel, a QR icon and pen icon, no box to enter the password. So it is no longer useable, I've installed, rebooted and reinstalled NBG

Original tweet: https://twitter.com/Abracadavra/status/1285886550425899008

[2020-07-24 07:56] longtth opened #516 "Can't scan a barcode (which scanned OK when use Google Authenticator Android App)"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** <Describe the issue with Authenticator>

I can't scan my company's authenticator QR Code, the site say: `Unrecognized QR code.`

the qrcode image:
![image](https://user-images.githubusercontent.com/1010849/88371129-a6d96700-cdbd-11ea-9700-08904c7787c2.png)

**P

[2020-07-24 08:59] Sneezry commented on #516
v6.2.0 works with this QR. Please wait for new release for Chrome.

[2020-07-29 05:07] MaivKhanh20181 commented on #514
[]()

[2020-07-30 07:01] erotavlasme opened #517 "Cannot decrypt some accounts after firefox 79 update"
Hi,
after the upgrade to latest firefox 79, when I open the extension and I unlock it with password, not all my accounts are visible. Some of them remain encrypted. It is the same problem of [this](https://github.com/Authenticator-Extension/Authenticator/issues/428). I'm using the latest firefox 79, with latest authenticator 6.2.1 on GNU/linxu 64 bit.

[2020-07-30 17:22] mymindstorm commented on #517
Please open your console, unlock authenticator, and then copy and paste all logs here.

[2020-07-31 03:12] Tom-Usher opened #519 "CCleaner v5.69 > Firefox > Internet Cache cleaning deletes 2 files (at least one of which is apparently) needed by Authenticator"
CCleaner v5.69 > Firefox > Internet Cache cleaning deletes 2 files (at least one of which is apparently) needed by Authenticator for its data. Glad I had my exported backup.

I'm on Windows 7 Pro. Firefox is 79.0 (64-bit). Authenticator is 6.2.1.

Firefox > Internet Cache needs to be deselected in CCleaner, or the files need to be added to CCleaner's "Exclude list."
...\AppData\Roaming\Mozilla\Fir

[2020-07-31 05:55] Sneezry commented on #519
This could be a related issue: https://community.ccleaner.com/topic/45531-firefox-sync-disconnected-after-running-ccleaner/

[2020-07-31 06:27] erotavlasme commented on #517
I'm sorry, but I cannot help you. Since I had to use some of my accounts, I deleted and restored the accounts on authenticator from a file backup.

[2020-07-31 19:12] mymindstorm commented on #519
This is probably related: https://blog.mozilla.org/addons/2020/07/09/changes-to-storage-sync-in-firefox-79/

Windows 7 is EOL, that could also be causing problems. You should submit a report against extension data storage at https://bugzilla.mozilla.org.

[2020-07-31 19:14] mymindstorm commented on #517
I can only guess what caused it if that is the case. https://blog.mozilla.org/addons/2020/07/09/changes-to-storage-sync-in-firefox-79/ might be related. What distro are you using?

[2020-08-01 07:29] erotavlasme commented on #517
It could be the source of problem. I'm using ubuntu mate 16.04 64 bit.

[2020-08-02 09:56] jonathan-reisdorf commented on #392
Hi :wave: Is the answer still up-to-date? I see that the Firefox bug has been closed in Bugzilla. Perhaps there's now a way to work with less permissions? Thanks!

[2020-08-02 15:49] mymindstorm commented on #392
The permissions that would be requested by that are not that important and I can't release a version that uses permission popups until firefox 75 is in ESR.

[2020-08-03 16:29] mymindstorm commented on #517
I ran into this, it's definitely related to the Firefox 79 update.

[2020-08-04 05:51] erotavlasme commented on #517
Any way to fix it? So other users will not have the same problem.

[2020-08-04 18:18] machineghost opened #520 "Allow Images for Importing Auths"
<Do not use this to ask about lost codes or accounts>
<More info here: https://authenticator.cc/docs/en/lost-codes>

**Describe the bug:** It's impossible to import QR codes from a phone into this app.

Let's say I have authentication setup with Google on my phone.  The only way I can export it is with a QR code.  However, this app has no way to get that code.  Even if I used my computer's webcam

[2020-08-04 18:21] mymindstorm commented on #520
You can open an image using your browser (drag and drop the file into the window) and then use the QR scanner. If you are using Chrome you will need to go to chrome://extensions and enable "Allow access to file URLs".

[2020-08-04 19:09] machineghost commented on #520
I'm just curious ... why the strong attachment to this weird "highlight part of the page" thing (with all the baggage of trying to get that QR code on the page with webcams, Chrome alterations, etc.), and why the strong opposition to just "here's my screenshot file, use it"?

[2020-08-04 19:36] mymindstorm commented on #520
There isn't really any opposition, we just haven't gotten around to a file picker option yet. The thought process here is using the computer with the extension to setup 2FA and then using the extension's export to propogate the account to a phone or other computer.

I'm a bit confused on what you are getting restricted by here.

[2020-08-04 19:40] mymindstorm commented on #517
It's up to Mozilla to fix Firefox, there isn't much I can do on this end.

[2020-08-04 21:53] machineghost commented on #520
I think we're talking past each other: I'm not "getting restricted", I'm lobbying for (what I see as) a superior UI.  And if you have nothing against a better UI ... except the time to make it ... then I think that's the best possible (real/honest) answer you can give :)

[2020-08-04 21:59] mymindstorm commented on #520
What I'm trying to say is: what steps are you taking that support this UI? I don't understand how you got to a screenshot of a QR code from a phone. Most apps (E.g. Google Authenticator) do not even allow you to export accounts, and if they do it tends to be in a text format.

[2020-08-05 00:03] machineghost commented on #520
Most phones have a built-in way to take screenshots (some key combination that varies by phone).  I used mine to take this picture of the "Transfer" menu of Authenticator: https://i.imgur.com/Er9JEbe.png

As you can see from that screenshot, Google Authenticator does in fact allow exporting accounts, and actually the *only* way they allow it is via QR code.  I would _much_ prefer if they gave me a